.nav {
    font-family: "Roboto Condensed", sans-serif !important;
}

.nav .nav-label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #959cb6;
}

.nav .nav-label span {
    font-size: 2rem;
    margin-right: 0.5rem;
}

.nav .nav-bar {
    height: 4px;
    width: 100%;
    background-color: #dee1eb;
    position: relative;
}

.nav-tabs .nav-item .nav-link.active,
.nav-tabs .nav-item .nav-link:active,
.nav-tabs .nav-item .nav-link:hover {
    border: none;
}

.nav .active .nav-label {
    font-size: 1.1rem;
    color: #759e1a;
}

.steps {
    background: #50bf42;
    padding: 4px 8px;
    border-radius: 100%;
    color: white;
    font-size: 1.1rem;
    font-weight: bolder;
    margin-bottom: 10px;
    position: relative;
    bottom: 5px;
}

.stepLabel {
    font-size: 1.3rem;
    color: #4b4b4b;
    font-weight: 600;
}

.nav .active .nav-bar {
    /*background-color: #759e1a;*/
    background-color: #93D500;
}

.tab-footer {
    margin-top: 10%;
}

.tab-footer .btn {
    margin: 10px;
}

.tab-footer .btn.btn-default:hover {
    color: #ffffff;
    background: #b9b9b9;
    border-color: #b9b9b9;
}

.tab-footer .btn i.padd-left {
    padding-left: 0.5rem;
}

.btn-group {
    width: 40%;
}

.nav-tabs .nav-item .nav-link {
    pointer-events: none;
}

@media (max-width: 768px) {
    .btn-group {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .refresh-btn {
        position: absolute;
        right: 20px;
    }
}

@media (max-width: 480px) {
    a.nav-link.active {
        display: block;
    }

    a.nav-link {
        display: none;
    }
}