<siteNavigation class="dashboard-compact"></siteNavigation>
<div class="mt-5" style="box-shadow: none;margin-top: 30px !important;">
    <div class="container" style="box-shadow: none;padding: 5px;">
        <div class="tab-pane client-prof-set-auto-manage-subs-div" id="service-subscriptions" role="tabpanel"
            aria-labelledby="service-subscriptions-tab">
            <div class="kt-portlet mb-0" style="box-shadow: none;">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            <span style="font-size: 28px;display: block;">Getting Started</span>
                            <small
                                style="display: block;margin: 0px;padding: 0px;margin-top: 10px;font-size: 14.5px;color: black;">
                                Welcome to MANDUU, let's help you get going!
                            </small>
                        </h3>
                    </div>
                </div>
                <form class="kt-form kt-form--label-right">
                    <div class="kt-portlet__body" style="padding: 0px;padding-top: 40px;">
                        <div class="kt-section kt-section--first">
                            <div class="kt-section__body">
                                <ul class="nav nav-tabs flex-column flex-sm-row" id="gsTab" #gsTab role="tablist">
                                    <li class="nav-item flex-sm-fill text-sm-center">
                                        <a class="nav-link active" id="nav-1-tab" data-toggle="tab" href="#nav-1"
                                            role="tab" aria-controls="nav-1" aria-selected="true">
                                            <div class="nav-label" class="stepLabel"><span class="steps">1</span>
                                             Authorize Card</div>
                                            <div class="nav-bar"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item flex-sm-fill text-sm-center">
                                        <a class="nav-link" id="nav-2-tab" data-toggle="tab" href="#nav-2" role="tab"
                                            aria-controls="nav-2" aria-selected="false">
                                            <div class="nav-label" class="stepLabel"><span class="steps">2</span>
                                                Complete Profile  </div>
                                            <div class="nav-bar"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item flex-sm-fill text-sm-center">
                                        <a class=" nav-link" id="nav-3-tab" data-toggle="tab" href="#nav-3" role="tab"
                                            aria-controls="nav-3" aria-selected="false">
                                            <div class="nav-label" class="stepLabel"><span class="steps">3</span> Sign
                                                Waiver </div>
                                            <div class="nav-bar"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item flex-sm-fill text-sm-center">
                                        <a class=" nav-link" id="nav-4-tab" data-toggle="tab" href="#nav-4" role="tab"
                                            aria-controls="nav-4" aria-selected="false">
                                            <div class="nav-label" class="stepLabel"><span class="steps">4</span>
                                                Complete First Session </div>
                                            <div class="nav-bar"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item flex-sm-fill text-sm-center">
                                        <a class=" nav-link" id="nav-5-tab" data-toggle="tab" href="#nav-5" role="tab"
                                            aria-controls="nav-5" aria-selected="false">
                                            <div class="nav-label" class="stepLabel"><span class="steps">5</span> Sign
                                                Contract </div>
                                            <div class="nav-bar"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item flex-sm-fill text-sm-center">
                                        <a class=" nav-link" id="nav-6-tab" data-toggle="tab" href="#nav-6" role="tab"
                                            aria-controls="nav-6" aria-selected="false">
                                            <div class="nav-label" class="stepLabel"><span class=""><i
                                                        class="fas fa-star"></i></span> Transform
                                                Your
                                                Health! </div>
                                            <div class="nav-bar"></div>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="nav-tabContent" *ngIf="showWizardTabs">
                                    <div class="tab-pane fade show active" id="nav-1" role="tabpanel"
                                        aria-labelledby="nav-1-tab">
                                        <authorize-card (acSuccess)="authCardDone($event)"></authorize-card>
                                    </div>
                                    <div class="tab-pane fade" id="nav-2" role="tabpanel" aria-labelledby="nav-2-tab">
                                       <app-complete-registration [isRegistrationComplete] = "isRegistrationDone"></app-complete-registration>
                                    </div>
                                    <div class="tab-pane fade" id="nav-3" role="tabpanel" aria-labelledby="nav-3-tab">
                                        <sign-waiver (swSuccess)="signWaiverDone($event)"
                                            [(contractWaiverSuccess)]="contractWaiverSuccess"
                                            [(accessToken)]="accessToken">
                                        </sign-waiver>
                                    </div>
                                    <div class="tab-pane fade" id="nav-4" role="tabpanel" aria-labelledby="nav-4-tab">
                                        <complete-session [(studios)]="studios" [(userId)]="clientInfo.clientInfoId"
                                            [(clientInfo)]="clientInfo" [(defaultStudioId)]="defaultStudioId"
                                            [(sessionFormSuccess)]="sessionFormSuccess"
                                            (cfsSuccess)="rescheduleFirstSessionDone($event)"></complete-session>
                                    </div>
                                    <div class="tab-pane fade" id="nav-5" role="tabpanel" aria-labelledby="nav-5-tab">
                                        <sign-contract [(userId)]="userId"
                                            [(hasContractSelection)]="clientInfo.hasContractSelection"
                                            [(hasCardOnFile)]="clientInfo.hasCardPayment"
                                            (scSuccess)="signContractDone($event)"></sign-contract>
                                    </div>
                                    <div class="tab-pane fade" id="nav-6" role="tabpanel" aria-labelledby="nav-6-tab">
                                        <app-finalonboarding></app-finalonboarding>
                                    </div>
                                </div>
                                <div class="tab-footer kt-form__actions kt-form__actions--center">
                                    <div class="btn-group">
                                        <button [hidden]="!enablePrevious" (click)="delayLoadStep(true)"
                                            class="btn btn-default btn-md btn-tall btn-wide btn-block kt-font-bold kt-font-transform-u"
                                            data-ktwizard-type="action-prev">
                                            <span>
                                                <span><i class="fas fa-long-arrow-alt-left"></i> Previous</span>
                                            </span>
                                        </button>
                                        <button [hidden]="!enableNext" (click)="delayLoadStep()"
                                            class="btn btn-success btn-md btn-tall btn-wide btn-block kt-font-bold kt-font-transform-u"
                                            data-ktwizard-type="action-next">
                                            <span>
                                                <span>Next<i class="fas fa-long-arrow-alt-right padd-left"></i></span>
                                            </span>
                                        </button>
                                        <button [hidden]="!enableComplete" (click)="completeWizard()"
                                            class="btn btn-success btn-md btn-tall btn-wide btn-block kt-font-bold kt-font-transform-u"
                                            data-ktwizard-type="action-next">
                                            <span>
                                                <span>Complete<i
                                                        class="fas fa-long-arrow-alt-right padd-left"></i></span>
                                            </span>
                                        </button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>