<div *ngIf="showAuthcard" class="container mt-5" style="
    margin-top: 20px !important;">
  <div class="card-body" style="padding-top: 0px; 
    padding: 0px;">
    <p class="text-muted" style="border-bottom: 1px solid #f1f1f1;     color: black !important;
    font-size: 16px;
    background: rgb(107 255 147 / 8%);
    border: 1px solid #1cd12247;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 15px;
    font-weight: 500;
    font-size: 16px;" *ngIf="!fromSignContract" >
      This session is 100% free, as long as you complete the session or call to cancel
    </p>
    <p style="    color: black !important;
        background: rgba(255, 107, 107, 0.08);
        border: 1px solid #d11c2747;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 15px;
        font-size: 16px;">
      We will charge your card $40 if you schedule your FREE first session and fail to show up for it
    </p>
    <p class="text-muted" style="border-bottom: 1px solid #f1f1f1;" *ngIf="fromSignContract">
      Enter Credit Card Details Below:
    </p>
    <form [formGroup]="checkForm" class="mt-5" style="background: #f3f1f1;
    border-radius: 4px;
    padding: 15px;">
      <div class="row">
        <div class="col-md-6" style="margin-top: 2%">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fas fa-credit-card col-1" style="text-align: left;
    float: left;
    position: absolute;
    z-index: 1000;
    right: 0;
    top: 17px;
    right: 10px;
    opacity: .6;"></i>
            </span>
            <input class="col-10 p-0" type="text" formControlName="cardName" name="cardName" value="{{fullname}}"
              class="form-control" placeholder="Enter your Full Name" />
          </div>
        </div>
        <div class="col-md-6" style="margin-top: 2%">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fas fa-credit-card col-1" style="text-align: left;
    float: left;
    position: absolute;
    z-index: 1000;
    right: 0;
    top: 17px;
    right: 10px;
    opacity: .6;"></i>
            </span>
            <input class="col-10 p-0" type="Number" formControlName="cardNumber" name="cardNumber" class="form-control"
              placeholder="Enter your card number" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" style="margin-top: 2%">
           <div class="row">
                <div class="col-6">
                  <small style="padding-left: 15px; opacity: .8;">MM</small>
                  <select class="form-control"  formControlName="cardExpiryMonth" [(ngModel)]="cardExpiryMonth">
                    <option selected *ngFor="let month of months">{{month}}</option>
                  </select>
                </div>
                <div class="col-6">
                  <small style="padding-left: 15px; opacity: .8;">YY</small>
                  <select class="form-control"  formControlName="cardExpiryYear" [(ngModel)]="cardExpiryYear" >
                    <option selected *ngFor="let year of years">{{year}}</option>
                  </select>
                </div>
                
              </div>
        </div>
        <p></p>
        <div class="col-md-6" style="margin-top: 4%">

          <div class="input-group">
            <span class="input-group-addon">
              <i class="fas fa-lock col-1" style="text-align: left;
    float: left;
    position: absolute;
    z-index: 1000;
    right: 0;
    top: 17px;
    right: 10px;
    opacity: .6;"></i>
            </span>
            <input type="number" class="form-control" name="cardCvc" name="cvv" pattern="\d*" placeholder="CVV"
              formControlName="cardCvc" maxlength="4" minlength="3" />
          </div>
        </div>
      </div>
      <div class="form-group text-center mt-5" style="    margin-top: 20px !important;">
        <button [disabled]="false" type="button" (click)="onSubmit()" class="btn btn-info btn-tall btn-wide" style="
    width: 100%;
    background: #50bf42;
    border-color: #28a745;
    font-weight: bolder;">
          <i class="far fa-credit-card"></i>
          Authorize Card</button>
      </div>
    </form>
  </div>
</div>

<div *ngIf="showSuccess" class="alert alert-outline-success fade show alert-bold mt-5" role="alert" style="    background: linear-gradient(0deg, #50bf42, #198b0b);
    border: none;
    width: 90%;
    margin: 0px auto;
    padding-top: 30px;">
  <div class="alert-text  get-started-auto-sessionsuccessform">
    <div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex;">
      <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
      <span class="swal2-success-line-tip"></span>
      <span class="swal2-success-line-long"></span>
      <div class="swal2-success-ring"></div>
      <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
      <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
    </div>
    <h4 class="alert-heading text-center get-started-auto-success-session" style="color: white; font-weight: bolder;">
      Card added successfully</h4>
    <br />
    <p class="text-center" style="color: white; font-weight: bolder;">
      You have successfully added a card, please click Next to continue the onboarding process.
    </p>
    <hr>
    <p class="text-center" style="color: white">
      Click Next to continue.
    </p>
  </div>
</div>