<siteNavigation class="dashboard-compact"></siteNavigation>
<div class="mt-5">
    <div class="container">
        <div class="tab-pane client-prof-set-auto-manage-subs-div" id="service-invoices" role="tabpanel"
            aria-labelledby="service-invoices-tab">
            <div class="kt-portlet mb-0">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Service Invoices
                            <small>
                                manage service invoices
                            </small>
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                    </div>
                </div>
                <form class="kt-form kt-form--label-right">
                    <div class="kt-portlet__body">
                        <div class="kt-section kt-section--first">
                            <div class="kt-section__body">
                                <div *ngIf="invoices !== null && invoices.length === 0">
                                    <div class="alert alert-solid-brand alert-bold fade show kt-margin-t-20 kt-margin-b-40"
                                        role="alert">
                                        <div class="alert-icon"><i class="flaticon2-information text-info"></i>
                                        </div>
                                        <div class="alert-text text-info">
                                            <strong>No invoice records were found</strong>
                                            <br>
                                            <span>Please check again later.</span>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="invoices !== null && invoices.length > 0" class="row align-items-center">
                                    <div class="table-responsive">
                                        <table #invoicesDataTable datatable [dtOptions]="dtOptions" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th width="10%">#</th>
                                                    <th width="20%">Invoice Date</th>
                                                    <th width="10%">Invoice Amount</th>
                                                    <th width="10%" class="text-center">Charge Status</th>
                                                    <th width="10%" class="text-center">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="" *ngFor="let record of invoices">
                                                    <td class="text-nowrap">{{record.invoiceNumber}}</td>
                                                    <td class="text-nowrap">{{record.invoiceDate | date}}</td>
                                                    <td class="text-nowrap">${{record.invoiceAmount| number:'1.2'}}
                                                    </td>
                                                    <td class="text-nowrap"><span style="width: 100px;"><span
                                                                class="client-prof-set-auto-chargestatus"
                                                                [ngClass]="{'btn btn-bold btn-lg btn-font-md w-100': true, 'btn-label-success': record.chargeStatus === 'paid', 'btn-label-danger': record.chargeStatus !== 'paid' }">{{record.chargeStatus | uppercase }}</span></span>
                                                    </td>
                                                    <td class="text-nowrap text-center">
                                                        <span
                                                            style="overflow: visible; position: relative; width: 120px;">
                                                            <a (click)="showInvoiceModal(record)" title="print"
                                                                class="btn btn-sm btn-clean btn-icon btn-icon-md">
                                                                <i class="fas fa-print"></i>
                                                            </a>
                                                            <a (click)="showMemoModal(record)"
                                                                *ngIf="record.memo !== null" title="View Memo"
                                                                class="btn btn-sm btn-clean btn-icon btn-icon-md">
                                                                <i class="fas fa-tag"></i>
                                                            </a>
                                                            <a (click)="payInvoice(record)"
                                                                *ngIf="record.status == 'draft' || record.status == 'charged, fail' || record.status == 'reviewed'"
                                                                title="Make Payment"
                                                                class="btn btn-sm btn-clean btn-icon btn-icon-md client-prof-set-auto-payinvoicelink">
                                                                <i class="fas fa-money-check-alt"></i>
                                                            </a>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <ng-template #memoModal let-modal>
        <div class="modal-header">
            <h4 class="modal-title">
                <span>Details</span>
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <label for="MemoInput">Memo</label>
            <div class="input-group">
                <textarea [(ngModel)]="invoiceRecord.memo" rows="10" name="memo"
                    class="form-control m-input view-invoice-memo-auto-invmem-txt" type="text"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success btn-lg" style="float: right;" aria-label="Close"
                (click)="modal.dismiss()">Close</button>
        </div>
    </ng-template>
    <ng-template #printInvoiceModal let-modal>
        <div class="modal-header">
            <h4 class="modal-title">
                <span>Invoice {{ invoiceRecord.invoiceNumber }}</span>
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <!-- <button type="button" class="btn btn-primary btn-lg" style="float: right;" aria-label="Close"
                (click)="modal.dismiss()">Save</button>
            <button type="button" class="btn btn-info btn-lg" style="float: right;" aria-label="Close"
                (click)="modal.dismiss()">Print</button> -->
            <print-invoice [(invoiceRecord)]="invoiceRecord"></print-invoice>
        </div>
        <!-- <div class="modal-footer">
            <button type="button" class="btn btn-success btn-lg" style="float: right;" aria-label="Close"
                (click)="modal.dismiss()">Close</button>
        </div> -->
    </ng-template>
</div>