table {
  font-family: "Roboto Condensed", sans-serif !important;
}

/* reset */

* {
  border: 0;
  box-sizing: content-box;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: top;
}

/* content editable */

*[contenteditable] {
  border-radius: 0.25em;
  min-width: 1em;
  outline: 0;
}

*[contenteditable] {
  cursor: pointer;
}

*[contenteditable]:hover,
*[contenteditable]:focus,
td:hover *[contenteditable],
td:focus *[contenteditable],
img.hover {
  background: #DEF;
  box-shadow: 0 0 1em 0.5em #DEF;
}

span[contenteditable] {
  display: inline-block;
}

/* heading */

h1 {
  font: bold 100% sans-serif;
  letter-spacing: 0.5em;
  text-align: center;
  text-transform: uppercase;
  /* margin-bottom: 20px; */
}

/* table */

table {
  font-size: 75%;
  table-layout: fixed;
  width: 100%;
}

table {
  border-collapse: separate;
  border-spacing: 2px;
}

th,
td {
  border-width: 1px;
  padding: 0.5em;
  position: relative;
  text-align: left;
}

th,
td {
  border-radius: 0.25em;
  border-style: solid;
}

th {
  background: #EEE;
  border-color: #BBB;
}

td {
  border-color: #DDD;
}

/* page */

html {
  font: 16px/1 'Open Sans', sans-serif;
  overflow: auto;
  padding: 0.5in;
}

html {
  background: #999;
  cursor: default;
}

body {
  box-sizing: border-box;
  height: 11in;
  margin: 0 auto;
  overflow: hidden;
  padding: 0.5in;
  width: 8.5in;
}

body {
  background: #FFF;
  border-radius: 1px;
  box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
}

/* header */

header {
  margin: 0 0 5em;
}

header:after {
  clear: both;
  content: "";
  display: table;
}

header h1 {
  background: #4fbf42;
  border-radius: 0.25em;
  color: #FFF;
  margin: 0 0 1em;
  padding: 0.5em 0;
}

header address {
  float: right;
  font-size: 75%;
  font-style: normal;
  line-height: 1.25;
  margin: 0 1em 1em 0;
}

header address p {
  margin: 0 0 0.25em;
}

header span,
header img {
  display: block;
  float: left;
}

header span {
  margin: 0 0 1em 1em;
  max-height: 25%;
  max-width: 60%;
  position: relative;
}

header img {
  max-height: 100%;
  max-width: 100%;
}

header input {
  cursor: pointer;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* article */

article,
article address,
table.meta, article h1,
table.inventory {
  margin: 0 0 2.5em;
}

article address {
  float: left;
  font-size: 75%;
  font-style: normal;
  line-height: 1.25;
  /* width: 64%; */
}

article:after {
  clear: both;
  content: "";
  display: table;
}

/* table meta & balance */

table.meta,
table.balance {
  float: right;
  /* width: 36%; */
}

table.meta:after,
table.balance:after {
  clear: both;
  content: "";
  display: table;
}

/* table meta */

table.meta th {
  width: 40%;
}

table.meta td {
  width: 60%;
}

/* table items */

table.inventory {
  clear: both;
  width: 100%;
}

table.inventory th {
  font-weight: bold;
  text-align: center;
}

table.inventory td:nth-child(3) {
  text-align: right;
}

table.inventory td:nth-child(4) {
  text-align: right;
}

table.inventory td:nth-child(5) {
  text-align: right;
}

/* table balance */

table.balance th,
table.balance td {
  width: 50%;
}

table.balance td {
  text-align: right;
}

/* aside */

aside h1 {
  border: none;
  border-width: 0 0 1px;
  margin: 0 0 1em;
}

aside h1 {
  border-color: #999;
  border-bottom-style: solid;
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
  }

  html {
    background: none;
    padding: 0;
  }

  body {
    box-shadow: none;
    margin: 0;
  }

  span:empty {
    display: none;
  }

  .add,
  .cut {
    display: none;
  }
}

@page {
  margin: 0;
}


.invoice-logo {
  background-image: url(/assets/common/images/app-logo-on-dark.svg);
  background-size: 100%;
  width: 230px;
  height: 100px;
  background-repeat: no-repeat;
  margin-bottom: 0 !important;
  position: absolute !important;
}

address button.btn {
  margin: 5px !important;
}

#print-section div {
  margin: 10px;
}

@media (max-width: 768px) {

  .invoice-logo {
    width: 180px;
    /* height: 80px; */
    position: relative !important;
  }

  header {
    margin: 0 0 0.5em;
  }
  

}

.fa.fa-download:before {
    content: "\f019";
}