<div id="print-section" #pdfInvoice>
    <div>
        <header>
            <h1>Invoice</h1>
            <address>
                <button *ngIf="buttonsVisible" type="button" class="btn btn-default btn-lg" style="float: right;"
                    (click)="exportHtmlToPDF()"><i class="fa fa-download"></i> Download </button>
                <!-- <button *ngIf="buttonsVisible" type="button" class="btn btn-default btn-lg" style="float: right;"
                    [useExistingCss]="true" printTitle="Manduu Invoice" printSectionId="print-section" ngxPrint><i
                        [ngClass]="{'fas': true, 'fa-print': true}"></i>
                    Print</button> -->
            </address>
            <span class="invoice-logo"></span>
        </header>
        <article>
            <h1>Recipient</h1>
            <address class="col-md-6">
                <p *ngIf="invoiceHeader">{{invoiceHeader.First | uppercase }} {{invoiceHeader.Last | uppercase }}</p>
                <p *ngIf="clientInfoUser">{{clientInfoUser.street}}<br>{{clientInfoUser.city}},
                    {{clientInfoUser.country}}
                    {{clientInfoUser.zipCode}}<br>{{formatPhoneNumber(clientInfoUser.phoneNumber)}}</p>
            </address>
            <table class="meta col-md-6" *ngIf="invoiceHeader">
                <tr>
                    <th><span>Invoice #</span></th>
                    <td><span>{{invoiceHeader.InvoiceId}}</span></td>
                </tr>
                <tr>
                    <th><span>Date</span></th>
                    <td><span>{{invoiceHeader.InvoiceDate | date:'MMMM dd, yyyy'}}</span></td>
                </tr>
                <tr>
                    <th><span>Invoice Amount</span></th>
                    <td><span id="prefix">$</span><span>{{invoiceHeader.TotalAmount}}</span></td>
                </tr>
                <tr>
                    <th><span>Status</span></th>
                    <td><span>{{invoiceHeader.Status | uppercase }}</span></td>
                </tr>
                <tr>
                    <th><span>Description</span></th>
                    <td><span>{{invoiceHeader.Description}}</span></td>
                </tr>
            </table>
            <table class="inventory">
                <thead>
                    <tr>
                        <th><span>Item</span></th>
                        <th><span>Payment Date</span></th>
                        <th><span>Card Number</span></th>
                        <th><span>Payment Amount</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let invoicePayment of invoicePayments">
                        <td><span>...</span></td>
                        <td><span>{{invoicePayment.dt}}</span></td>
                        <td><span>{{invoicePayment.CardNumber}}</span></td>
                        <td><span>{{invoicePayment.Amount}}</span></td>
                    </tr>
                </tbody>
            </table>
            <table class="balance col-md-6" *ngIf="invoiceHeader">
                <tr>
                    <th><span>Total</span></th>
                    <td><span data-prefix>$</span><span>{{invoiceHeader.TotalAmount}}</span></td>
                </tr>
                <tr>
                    <th><span>Amount Paid</span></th>
                    <td><span data-prefix>$</span><span>{{invoiceHeader.TotalAmount}}</span></td>
                </tr>
                <tr>
                    <th><span>Balance Due</span></th>
                    <td><span data-prefix>$</span><span>00.00</span></td>
                </tr>
            </table>
        </article>
        <aside>
            <h1><span>Additional Notes</span></h1>
            <div *ngIf="invoiceHeader">
                <p>{{invoiceHeader.Description}}</p>
            </div>
        </aside>
    </div>
</div>