
<div class="mt-5">
    <div *ngIf="contractWaiverResumeMessage" class="alert alert-solid-brand fade show" role="alert">
        <div class="alert-icon"><img height="42" src="../../../assets/common/images/hand-wave.svg" /></div>
        <div class="alert-text text-info get-started-auto-contractwaiverresume">{{contractWaiverResumeMessage}}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close text-info"></i></span>
            </button>
        </div>
    </div>
    <div *ngIf="!contractWaiverSuccess && !contractWaiverShow" class="text-center">
        <button (click)="displayContractWaiver()"
            class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u get-started-auto-displaywaiverbutton">
            <span>
                <span><i class="fas fa-signature"></i>Sign Contract Waiver</span>
            </span>
        </button>
    </div>
    <div *ngIf="contractWaiverSuccess" class="alert alert-outline-success fade show alert-bold" role="alert" style=" border: 1px solid #28a745;
    width: 95%;
    margin: 0px auto;
    padding-top: 30px;
    background: #f0ffee;">
        <div class="alert-text">
            <div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex;">
                <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
                <span class="swal2-success-line-tip"></span>
                <span class="swal2-success-line-long"></span>
                <div class="swal2-success-ring"></div>
                <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
                <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
            </div>
            <h4 class="alert-heading text-center get-started-auto-waiversignedsuccessmessage" style="
    color: #000000;
    font-weight: bold;
    text-align: left !important;"> Signed waiver has been
                submitted
            </h4><br />
            <p class="text-center"  style="
    text-align: left !important;
    color: black;">
                You have successfully submitted your signed contract waiver, you
                will recieve a copy via email.
            </p>
            <hr>
            <p class="text-center"  style="
    text-align: left !important;
    color: black;
    font-weight: bolder;">
                Click Next to continue.
            </p>
        </div>
    </div>
    <client-waiver-signing *ngIf="contractWaiverShow" (signingComplete)="contractWaiverComplete($event)">
    </client-waiver-signing>
</div>