<div class="container">
  <form #mRegForm class="register-form" >
    <div [formGroup]="pFormGroup2">
      <div class="row mt-3">
        <div class="form-group col-md-4">
          <div
            *ngIf="gender.invalid && (gender.dirty || gender.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="gender.errors.required">Gender is required.</div>
          </div>
          <label for="">Gender <span class="text-danger">*</span></label>
          <div class="form-select">
            <select id="gender" formControlName="gender" required>
              <option value="" hidden selected></option>
              <option
                *ngFor="let gender of listGender; let idx = index"
                value="{{ gender }}"
              >
                {{ gender }}
              </option>
            </select>
            <span class="select-icon"
              ><i class="zmdi fa fa-chevron-down"></i
            ></span>
          </div>
        </div>
        <div class="form-group col-md-4">
          <div
            *ngIf="
              heightFeet.invalid && (heightFeet.dirty || heightFeet.touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="heightFeet.errors.required">Height is required.</div>
          </div>
          <label for="">Height (Feet) <span class="text-danger">*</span></label>
          <div class="form-select">
            <select id="heightFeet" formControlName="heightFeet">
              <option value="" disabled selected hidden></option>
              <option
                *ngFor="let height of listHeightFeet"
                value="{{ height }}"
              >
                {{ height }}
              </option>
            </select>
            <span class="select-icon"
              ><i class="zmdi fa fa-chevron-down"></i
            ></span>
          </div>
        </div>
        <div class="form-group col-md-4">
          <div
            *ngIf="
              heightInches.invalid &&
              (heightInches.dirty || heightInches.touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="heightInches.errors.required">Height is required.</div>
          </div>
          <label for=""
            >Height (Inches) <span class="text-danger">*</span></label
          >
          <div class="form-select">
            <select id="heightInches" formControlName="heightInches">
              <option value="" disabled selected hidden></option>
              <option
                *ngFor="let height of listHeightInches"
                value="{{ height }}"
              >
                {{ height }}
              </option>
            </select>
            <span class="select-icon"
              ><i class="zmdi fa fa-chevron-down"></i
            ></span>
          </div>
        </div>
      </div>
      <h2>Address Information</h2>
      <div class="row">
        <div class="form-group col-md-4">
          <div
            *ngIf="street.invalid && (street.dirty || street.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="street.errors.required">Address is required.</div>
          </div>
          <label for=""
            >Street Address <span class="text-danger">*</span></label
          >
          <input type="text" id="street" formControlName="street" required />
        </div>
        <div class="form-group col-md-4">
          <label for="">Street Address 2</label>
          <input type="text" name="" id="street2" required />
        </div>
        <div class="form-group col-md-4">
          <div
            *ngIf="city.invalid && (city.dirty || city.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="city.errors.required">City is required.</div>
          </div>
          <label for="">City <span class="text-danger">*</span></label>
          <input type="text" id="city" formControlName="city" required />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">
          <div
            *ngIf="state.invalid && (state.dirty || state.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="state.errors.required">State is required.</div>
          </div>
          <label for="">State <span class="text-danger">*</span></label>
          <div class="form-select">
            <select id="state" formControlName="state">
              <option value="" disabled selected hidden></option>
              <option *ngFor="let state of states" value="{{ state }}">
                {{ state }}
              </option>
            </select>
            <span class="select-icon"
              ><i class="zmdi fa fa-chevron-down"></i
            ></span>
          </div>
        </div>
        <div class="form-group col-md-4">
          <div
            *ngIf="zipcode.invalid && (zipcode.dirty || zipcode.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="zipcode.errors.required">Zipcode is required.</div>
          </div>
          <label for="">Zipcode <span class="text-danger">*</span></label>
          <input
            type="text"
            id="zipcode"
            formControlName="zipcode"
            required
            maxlength="6"
          />
        </div>
        <div class="form-group col-md-4">
          <div
            *ngIf="country.invalid && (country.dirty || country.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="country.errors.required">Country is required.</div>
          </div>
          <label for="">Country <span class="text-danger">*</span></label>
          <div class="form-select">
            <select id="country" formControlName="country">
              <option value="" disabled selected hidden></option>
              <option *ngFor="let country of countries" value="{{ country }}">
                {{ country }}
              </option>
            </select>
            <span class="select-icon"
              ><i class="zmdi fa fa-chevron-down"></i
            ></span>
          </div>
        </div>
      </div>
      <h2>Emergency Contact Information</h2>
      <div class="row">
        <div class="form-group col-md-4">
          <div
            *ngIf="
              ecFirstname.invalid && (ecFirstname.dirty || ecFirstname.touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="ecFirstname.errors.required">
              Firstname is required.
            </div>
          </div>
          <label for="ecFirstname"
            >First Name <span class="text-danger">*</span></label
          >
          <input
            type="text"
            id="ecFirstname"
            formControlName="ecFirstname"
            required
          />
        </div>
        <div class="form-group col-md-4">
          <div
            *ngIf="
              ecLastname.invalid && (ecLastname.dirty || ecLastname.touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="ecLastname.errors.required">Lastname is required.</div>
          </div>
          <label for="">Last Name <span class="text-danger">*</span></label>
          <input
            type="text"
            id="ecLastname"
            formControlName="ecLastname"
            required
          />
        </div>
        <div class="form-group col-md-4">
          <div
            *ngIf="
              ecPhonenumber.invalid &&
              (ecPhonenumber.dirty || ecPhonenumber.touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="ecPhonenumber.errors.required">
              Phone number is required.
            </div>
            <div *ngIf="ecPhonenumber.errors.minlength">
              Phone number cannot be less than 10 characters.
            </div>
          </div>
          <label for="">Phone number <span class="text-danger">*</span></label>
          <input
            type="tel"
            id="ecPhonenumber"
            formControlName="ecPhonenumber"
            maxlength="10"
            required
          />
        </div>
      </div>
    </div>
    <div class="form-group">
      <h4 class="mt-3 mb-3 text-left">Short Quiz</h4>
      <div class="form-group">
        <label for="howDidYouHearAboutUs" class="control-label"
          >How did you hear about us?<span class="text-danger">*</span></label
        >
        <div class="kt-checkbox-list">
          <label
            *ngFor="let item of howDidYouHearAboutUsItems; let i = index"
            class="kt-checkbox"
          >
            <input
              #howDidYouHearAboutUs
              [checked]="this.howDidYouHearAboutUsList.indexOf(item.key) !== -1"
              (change)="setHowDidYouHearAboutUs(item.key)"
              id="howDidYouHearAboutUs_{{ i }}"
              type="checkbox"
            />
            {{ item.name }}
            <span></span>
          </label>
        </div>
      </div>

      <div
        class="form-group"
        *ngIf="howDidYouHearAboutUsList.indexOf('referred') !== -1"
      >
        <label for="referredBy" class="control-label"
          >Please Specify Friend <span class="text-danger">*</span></label
        >
        <input
          id="referredBy"
          class="form-control"
          type="text"
          formControlName="referredBy"
          placeholder="Please Specify Friend *"
        />
      </div>

      <div
        class="form-group"
        *ngIf="howDidYouHearAboutUsList.indexOf('other') !== -1"
      >
        <label for="referredOther" class="control-label"
          >Please Specify <span class="text-danger">*</span></label
        >
        <input
          id="referredOther"
          class="form-control"
          type="text"
          formControlName="referredOther"
          placeholder="Please Specify *"
        />
      </div>
    </div>

    <button (click)="onSubmit()">
      submit
    </button>
  </form>
</div>
