<meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\">\r\n<title>Manduu | {EMAIL_TITLE}</title>
\r\n\r\n\r\n<div id=\"mailsub\" class=\"notification\" align=\"center\">\r\n <table width=\"100%\" border=\"0\"
        cellspacing=\"0\" cellpadding=\"0\">\r\n <tbody>\r\n <tr>\r\n <td align=\"center\" bgcolor=\"#eff3f8\">\r\n
                    ​\r\n
                    <!--[if gte mso 10]>\r\n                    <table width=\"680\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\r\n                    <tr><td>\r\n                    <![endif]-->\r\n
                    <table border=\"0\" cellspacing=\"0\" cellpadding=\"0\" class=\"table_width_100\" width=\"100%\"\r\n
                        style=\"max-width: 680px;\">\r\n
                        <!--header -->\r\n <tbody>\r\n <tr>\r\n <td align=\"center\" bgcolor=\"#eff3f8\">\r\n
                                    <!-- padding -->\r\n <div style=\"height: 20px; line-height: 20px; font-size:
                                        10px;\">&nbsp;</div>\r\n <table width=\"96%\" border=\"0\" cellspacing=\"0\"
                                        cellpadding=\"0\">\r\n <tbody>\r\n <tr>\r\n <td align=\"left\">\r\n
                                                    <!--Item -->\r\n <div class=\"mob_center_bl\"\r\n style=\"float:
                                                        left; display: inline-block; width: 115px;\">\r\n <table
                                                            class=\"mob_center\" width=\"115\" border=\"0\"
                                                            cellspacing=\"0\"\r\n cellpadding=\"0\" align=\"left\"\r\n
                                                            style=\"border-collapse: collapse;\">\r\n <tbody>\r\n <tr>
                                                                    \r\n <td align=\"left\" valign=\"middle\">\r\n
                                                                        <!-- padding -->\r\n <div\r\n style=\"height:
                                                                            20px; line-height: 20px; font-size: 10px;\">
                                                                            \r\n &nbsp;</div>\r\n <table width=\"115\"
                                                        border=\"0\" cellspacing=\"0\"\r\n cellpadding=\"0\">\r\n
                                                        <tbody>\r\n <tr>\r\n <td align=\"left\" valign=\"top\"\r\n
                                                                    class=\"mob_center\">\r\n <a href=\"#\"
                                                                        target=\"_blank\"\r\n style=\"color: #596167;
                                                                        font-family: Arial, Helvetica, sans-serif;
                                                                        font-size: 13px;\">\r\n <font\r\n face=\"Arial,
                                                                            Helvetica, sans-seri; font-size: 13px;\"\r\n
                                                                            size=\"3\"\r\n color=\"#596167\">\r\n <img
                                                                                src=\"https://manduu.com/wp-content/uploads/2019/05/manduu-logo.svg\"\r\n
                                                                                height=\"50\"\r\n alt=\"Manduu\"\r\n
                                                                                border=\"0\"\r\n style=\"display:
                                                                                block;\">\r\n </font>\r\n </a>\r\n </td>
                                                                \r\n </tr>\r\n </tbody>\r\n </table>\r\n </td>\r\n </tr>
                                            \r\n </tbody>\r\n </table>\r\n </div><!-- Item END-->\r\n
<!--[if gte mso 10]>\r\n                                                </td>\r\n                                                <td align=\"right\">\r\n                                            <![endif]-->\r\n
<!--\r\n​\r\n                                            Item -->\r\n <div class=\"mob_center_bl\"\r\n style=\"float:
    right; display: inline-block; width: 88px;\">\r\n <table width=\"88\" border=\"0\" cellspacing=\"0\"
        cellpadding=\"0\"\r\n align=\"right\" style=\"border-collapse: collapse;\">\r\n <tbody>\r\n <tr>\r\n <td
                    align=\"right\" valign=\"middle\">\r\n
                    <!-- padding -->\r\n <div\r\n style=\"height: 20px; line-height: 20px; font-size: 10px;\">\r\n
                        &nbsp;</div>\r\n <table width=\"100%\" border=\"0\" cellspacing=\"0\"\r\n cellpadding=\"0\">\r\n
    <tbody>\r\n <tr>\r\n <td align=\"right\">\r\n
                <!--social -->\r\n <div class=\"mob_center_bl\"\r\n style=\"width: 88px;\">\r\n <table border=\"0\"\r\n
                        cellspacing=\"0\"\r\n cellpadding=\"0\">\r\n <tbody>\r\n <tr>\r\n\r\n </tr>\r\n </tbody>\r\n
                    </table>\r\n </div>\r\n
                <!--social END-->\r\n </td>\r\n </tr>\r\n </tbody>\r\n </table>\r\n </td>\r\n </tr>\r\n </tbody>\r\n
</table>\r\n </div><!-- Item END-->\r\n </td>\r\n </tr>\r\n </tbody>\r\n </table>\r\n
<!-- padding -->\r\n <div style=\"height: 30px; line-height: 30px; font-size: 10px;\">&nbsp;</div>\r\n </td>\r\n </tr>
\r\n
<!--header END-->\r\n
<!--content 1 -->\r\n <tr>\r\n <td align=\"center\" bgcolor=\"#ffffff\">\r\n <table width=\"90%\" border=\"0\"
            cellspacing=\"0\" cellpadding=\"0\">\r\n <tbody>\r\n <tr>\r\n <td align=\"center\">\r\n
                        <!-- padding -->\r\n <div style=\"height: 100px; line-height: 100px; font-size: 10px;\">\r\n
                            <br></div>\r\n <div style=\"line-height: 44px;\">\r\n <table
                                id=\"m_-1704139932072573877main-panel\" align=\"center\"\r\n cellpadding=\"0\"
                                cellspacing=\"0\"\r\n style=\"text-align: left; border-spacing: 0px; vertical-align:
                                top; width: 540px; margin-left: auto; margin-right: auto; border-bottom: 1px solid
                                rgb(242, 242, 242);\">\r\n <tbody>\r\n <tr>\r\n <td align=\"center\"\r\n
                                            style=\"line-height: 25px; padding: 50px 0px 30px; width: 540px;\">\r\n
                                            <blockquote\r\n style=\"margin-bottom: 0px; margin-left: 40px; border: none;
                                                padding: 0px; text-align: justify;\">\r\n <font color=\"#252525\">
                                                    <span\r\n style=\"font-size: 22px;\"><b>Hello\r\n {Name}</b></span>
                                                </font>
                                                <b\r\n style=\"color: rgb(37, 37, 37); font-size: 22px;\">,</b>\r\n
                                                    </blockquote>\r\n </td>\r\n </tr>\r\n <tr>\r\n <td
                                            align=\"center\"\r\n style=\"text-align: justify; line-height: 25px;
                                            padding: 0px 30px; width: 540px;\">\r\n <br></td>\r\n </tr>\r\n </tbody>\r\n
                            </table>\r\n <table id=\"m_-1704139932072573877main-panel\" align=\"center\"\r\n
                                cellpadding=\"0\" cellspacing=\"0\"\r\n style=\"text-align: left; border-spacing: 0px;
                                vertical-align: top; width: 540px; margin-left: auto; margin-right: auto;\">\r\n <tbody>
                                    \r\n <tr>\r\n <td align=\"center\"\r\n style=\"line-height: 25px; padding: 40px 0px
                                            30px; width: 540px;\">\r\n <blockquote\r\n style=\"margin-bottom: 0px;
                                                margin-left: 40px; border: none; padding: 0px;\">\r\n <div
                                                    style=\"text-align: left;\">\r\n <font color=\"#666666\"\r\n
                                                        style=\"text-align: justify;\">
                                                        <span\r\n style=\"font-size: 18px;\">Welcome\r\n to Team Manduu!
                                                            Thanks for\r\n registering with us and taking\r\n the first
                                                            step on your wellness\r\n journey.&nbsp;</span>
                                                    </font>
                                                    <br\r\n style=\"text-align: justify;\">
                                                        <br\r\n style=\"text-align: justify;\">\r\n <font
                                                                color=\"#666666\"\r\n style=\"text-align: justify;\">
                                                                <span\r\n style=\"font-size: 18px;\">Please\r\n note
                                                                    that there are a few health\r\n conditions that
                                                                    prohibit\r\n participation in Manduu. If you\r\n
                                                                    have any of the following,\r\n please contact us
                                                                    immediately to\r\n discuss your health\r\n
                                                                    history:</span>
                                                            </font>\r\n <font color=\"#666666\">
                                                                <span\r\n style=\"font-size: 18px;\"><br></span>\r\n
                                                            </font>\r\n
                                                </div>\r\n </blockquote>\r\n <blockquote\r\n style=\"margin-bottom: 0px; margin-left: 40px; border: none; padding: 0px;\">\r\n <font
                                                        size=\"4\">\r\n <div style=\"text-align: left;\">\r\n <ul>\r\n
                                                                <li>\r\n <font size=\"4\">Cardiac\r\n pacemaker, defibrillator;
                                                                    left ventricular assistant device\r\n
                                                                    </font>\r\n </li>
                                                                \r\n </ul>\r\n </div>\r\n </font>\r\n <font size=\"4\">
                                                        \r\n <div style=\"text-align: left;\">\r\n <ul>\r\n <li>\r\n
                                                                    <font size=\"4\">cardiac stent (less than 6 months since implantation)</font>
                                                                    \r\n </li>\r\n </ul>\r\n </div>\r\n </font>\r\n
                                                    <font size=\"4\">\r\n <div style=\"text-align: left;\">\r\n <ul>\r\n
                                                                <li>\r\n <font size=\"4\">current (metastatic) cancer/tumor</font>\r\n </li>\r\n </ul>\r\n
                                                        </div>\r\n </font>\r\n 
                                                    <font size=\"4\">\r\n <div style=\"text-align: left;\">\r\n <ul>\r\n
                                                                <li>\r\n <font size=\"4\">epilepsy/seizure disorder; epilepsy stimulation therapy</font>\r\n </li>\r\n </ul>\r\n
                                                        </div>\r\n </font>\r\n 
                                                    <font size=\"4\">\r\n <div style=\"text-align: left;\">\r\n <ul>\r\n
                                                                <li>\r\n <font size=\"4\">ccurrently pregnant</font>\r\n </li>\r\n </ul>\r\n
                                                        </div>\r\n </font>\r\n 
                                                    <font size=\"4\">\r\n <div style=\"text-align: left;\">\r\n <ul>\r\n
                                                                <li>\r\n <font size=\"4\">currently undergoing IVF treatment</font>\r\n </li>\r\n </ul>\r\n
                                                        </div>\r\n </font>\r\n 
                                                        <font size=\"4\">\r\n <div
                                                            style=\"text-align: left;\">\r\n <ul>\r\n <li>\r\n <font
                                                                        size=\"4\">copper IUD implantation within 1 month of your first Manduu appointment \r\n </font>\r\n </li>\r\n
                                                            </ul>\r\n </div>\r\n </font>\r\n <font size=\"4\">\r\n <div
                                                            style=\"text-align: left;\">\r\n <ul>\r\n <li>\r\n <font
                                                                        size=\"4\">
                                                                        wireless endoscopy capsules
                                                                    </font>\r\n </li>\r\n </ul>\r\n </div>\r\n </font>
                                                    \r\n <font size=\"4\">\r\n <div style=\"text-align: left;\">\r\n
                                                            <ul>\r\n <li>\r\n <font size=\"4\">phrenic nerve stimulation \r\n </font>\r\n </li>\r\n
                                                            </ul>\r\n </div>\r\n </font>\r\n <font size=\"4\">\r\n <div
                                                            style=\"text-align: left;\">\r\n <ul>\r\n <li>\r\n <font
                                                                        size=\"4\">CSF shunt system</font>\r\n </li>
                                                                \r\n </ul>\r\n </div>\r\n </font>\r\n <font size=\"4\">
                                                        \r\n <div style=\"text-align: left;\">\r\n <ul>\r\n <li>\r\n
                                                                    <font size=\"4\">any neurological/hematologic/musculoskeletal/endocrinological 
                                                                        condition that you are under treatment by a physician for.
                                                                    </font>\r\n </li>\r\n </ul>\r\n </div>\r\n </font>
                                                    \r\n </blockquote>\r\n <blockquote\r\n style=\"margin-bottom: 0px;
                                                        margin-left: 40px; border: none; padding: 0px;\">\r\n <font
                                                            color=\"#666666\">\r\n <div style=\"text-align: left;\">
                                                                <span\r\n style=\"font-size: 18px;\">Once\r\n you
                                                                    schedule your first\r\n appointment, we’ll send
                                                                    you\r\n another email confirming the\r\n details. In
                                                                    the meantime, please\r\n don’t hesitate to let us
                                                                    know if\r\n you have any questions.</span>\r\n
                                                            </div>\r\n </font>\r\n </blockquote>\r\n </td>\r\n </tr>\r\n
                                </tbody>\r\n </table>\r\n </div>\r\n </td>\r\n </tr>\r\n <tr>\r\n <td align=\"center\">
                        \r\n <table width=\"80%\" align=\"center\" border=\"0\" cellspacing=\"0\"\r\n cellpadding=\"0\">
                            \r\n <tbody>\r\n </tbody>\r\n </table>\r\n
                        <!-- padding -->\r\n <div style=\"height: 45px; line-height: 45px; font-size: 10px;\">\r\n
                            &nbsp;</div>\r\n </td>\r\n </tr>\r\n </tbody>\r\n </table>\r\n </td>\r\n </tr>\r\n
<!--content 1 END-->\r\n
<!--footer -->\r\n <tr>\r\n <td class=\"iage_footer\" align=\"center\" bgcolor=\"#eff3f8\">\r\n
        <!-- padding -->\r\n <div style=\"height: 40px; line-height: 40px; font-size: 10px;\">&nbsp;</div>\r\n <table
            id=\"m_-1704139932072573877main-panel\" align=\"center\" cellpadding=\"0\"\r\n cellspacing=\"0\"\r\n
            style=\"text-align: left; border-spacing: 0px; vertical-align: top; width: 540px; background-color: rgb(239,
            242, 244); margin-left: auto; margin-right: auto; border-bottom: 1px solid rgb(226, 226, 226);\">\r\n
            <tbody>\r\n <tr>\r\n <td align=\"center\" style=\"line-height: 25px; padding: 35px 0px 20px;\">\r\n <font
                            color=\"#252525\"><span style=\"font-size: 24px;\"><b>Team\r\n Manduu<br></b></span></font>
                        888-985-0140<br>\r\n </td>\r\n </tr>\r\n <tr style=\"text-align: center; padding: 0px;
                    vertical-align: top;\">\r\n <td\r\n style=\"line-height: 25px; padding: 0px 50px 25px; word-break:
                        break-word; margin: 0px; display: inline-block; font-size: 14px; font-family: calibri; color:
                        rgb(102, 102, 102); border-collapse: collapse !important;\">\r\n <a\r\n
                            href=\"mailto:ClientSupport@Manduu.com\">ClientSupport@Manduu.com</a>.\r\n </td>\r\n </tr>
\r\n </tbody>\r\n </table>\r\n ​\r\n <table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\r\n <tbody>
        \r\n <tr>\r\n <td align=\"center\">\r\n <font face=\"Arial, Helvetica, sans-serif\" size=\"3\"
                    color=\"#96a5b5\"\r\n style=\"font-size: 13px;\">
                    <span\r\n style=\"font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #96a5b5;\">
                        2019\r\n © Manduu.\r\n </span>\r\n
                </font>\r\n </td>\r\n </tr>\r\n </tbody>\r\n </table>\r\n ​\r\n
<!-- padding -->\r\n <div style=\"height: 50px; line-height: 50px; font-size: 10px;\">&nbsp;</div>\r\n </td>\r\n </tr>
\r\n
<!--footer END-->\r\n </tbody>\r\n </table>\r\n
<!--[if gte mso 10]>\r\n                    </td></tr>\r\n                    </table>\r\n                    <![endif]-->\r\n
​\r\n </td>\r\n </tr>\r\n </tbody>\r\n </table>\r\n ​\r\n</div>