<div class="mt-5">
    <div *ngIf="sessionResumeMessage" class="alert alert-solid-brand fade show" role="alert">
        <div class="alert-icon"><img height="42" src="../../../../assets/common/images/hand-wave.svg" />
        </div>
        <div class="alert-text text-info get-started-auto-step3-resume">{{sessionResumeMessage}}</div>
        <div class="alert-close">
            <button type="button" class="close get-started-auto-close get-started-auto-wizardstep2-close"
                data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close text-info"></i></span>
            </button>
        </div>
    </div>
    <div *ngIf="!sessionFormSuccess && !sessionFormShow" class="text-center">
        <button (click)="displaySessionForm()"
            class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u get-started-auto-wizardstep2-schedule">
            <span>
                <span><i class="far fa-calendar-alt"></i>
                    {{ isReschedule ? "Reschedule Appointment" : "Schedule Appointment" }}</span>
            </span>
        </button>
    </div>

    <div *ngIf="sessionFormSuccess && !sessionFormReschedule" class="alert alert-outline-success fade show alert-bold"
        role="alert" style=" border: 1px solid #a5a5a5;
    width: 95%;
    margin: 0px auto;
    padding-top: 30px;
    background: #fbfbfb;">
        <div class="alert-text  get-started-auto-sessionsuccessform">
            <div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex;">
                <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
                <span class="swal2-success-line-tip"></span>
                <span class="swal2-success-line-long"></span>
                <div class="swal2-success-ring"></div>
                <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
                <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
            </div>
            <h4 class="alert-heading text-center get-started-auto-success-session" style="
    color: #000000;
    font-weight: bold;
    text-align: left !important;">
                Your first appointment has been {{ !isReschedule ? 'booked!' : 'rescheduled!' }} </h4>
            <br />
            <p class="text-center" style="
    text-align: left !important;
    color: black;">
                You have successfully booked your very first appointment, you
                will
                receive a reminder via email.
            </p>
            <hr style="    border-top: 2px solid #ffc106;">
            <p class="text-center" style="
    text-align: left !important;
    color: black;
    font-weight: bolder;">
                Click Next to continue.
            </p>
            <button type="button" 
            routerLink="/"
      class="btn btn-success btn-md " 
      >
      Next
      </button>
        </div>
    </div>
    <div *ngIf="(sessionFormShow || sessionFormReschedule) && !loadingUpcomingSession"
        class="m-5  get-started-auto-schedulesessiondiv">
        <p class="text-danger">{{scheduleErrorMessage}}</p>
        <div class="form-group m-form__group">
            <label class="control-label" for="StudioId">Studio<span class="text-danger">*</span></label>
            <div class="input-group">
                <select id="StudioId" class="form-control get-started-auto-selectstudio" name="StudioId"
                    [(ngModel)]="studioId" (ngModelChange)="getAvailableSessionStations(e)" required>
                    <option *ngFor="let studio of studios" [ngValue]="studio.id">
                        {{studio.name}}</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="ScheduledDate">ScheduledDate<span
                            class="text-danger">*</span></label>
                    <div class="input-group">
                        <input 
                            class="form-control m-input get-started-auto-sessiondate" 
                            [minDate]="today"
                            #scheduledDateInput="ngModel"
                            type="datetime" 
                            [(ngModel)]="sessionDate._d" 
                            id="ScheduledDate" name="ScheduledDate"
                            bsDatepicker [bsConfig]="{ 
                                dateInputFormat: 'MM/DD/YYYY',
                                minDate: minDate,
                                adaptivePosition: true}" 
                            #dp="bsDatepicker" triggers=""
                            [outsideClick]="true" 
                            (ngModelChange)="getAvailableSessionStations($event)"
                            >
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary get-started-auto-toggle" type="button"
                                (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen"><i
                                    class="far fa-calendar-alt"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="ScheduledTime">StartTime<span class="text-danger">*</span></label>
                    <div id="ScheduledTime" class="input-group">
                        <select class="form-control get-started-auto-sessiontime" name="Type" id="Type"
                            [(ngModel)]="sessionTime" [disabled]="sessionTimes.length == 0">
                            <option *ngFor="let availableSessionTime of sessionTimes; let i = index;"
                                [ngValue]="availableSessionTime.sessionTime">
                                {{availableSessionTime.sessionTime}}
                            </option>
                        </select>
                        <div class="input-group-append">
                            <button disabled class="btn btn-outline-secondary disabled get-started-auto-schedulebutton1"
                                type="button"><i class="far fa-clock"></i></button>
                        </div>
                    </div>
                </div>
                <div class="error-message text-danger "  *ngIf="sessionTimes.length == 0">
                    No available session times for this date.
                </div>
            </div>
        </div>
        <div class="form-group text-center mt-5">
            <button [disabled]="!sessionDate || !sessionTime || loadingSessionTimes || savingSession"
                (click)="bookFirstAppointment()" class="btn btn-info btn-tall btn-wide"><i
                    class="far fa-calendar-alt get-started-auto-schedulebutton"></i>
                {{ isReschedule ? "Reschedule Appointment" : "Schedule Appointment" }} </button>
        </div>
    </div>

</div>