.subline{
    font-size: 24px;
    text-align: center;
    font-weight: bolder;
    margin-top: 30px;
}
.certification{
    background: #93d40040;
    text-align: center;
    /* text-decoration: underline; */
    line-height: 1.5;
    font-weight: bolder;
    padding-top: 10px;
    border: 3px solid #88c10740;
    padding-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    /* color: #4c7e09; */
    font-family: sans-serif;
    font-weight: normal;
    margin: 10px 0px;
}
.certification_container{
    margin: 0px;
    padding: 0px;
}
td {
  white-space: normal !important; 
  word-wrap: break-word;  
}
table {
  table-layout: fixed;
}

td {
  white-space: normal !important;
}

body {
    color: #3B3B3C !important;
    font-size: 16px !important;

}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #3B3B3C !important;
    font-size: 16px !important;
}

[type=radio] {
    position: relative;
    left: 0px;
    visibility: visible;
    width: 15px;
    height: 15px;
}

.canvas-border {
    border: 1px solid #000000
}

#canvas {
    border-style: dotted;
    border-width: 1px;
  /* background-image: url("../../../../assets/common/images/sign-here.png"); */
    background-repeat: no-repeat;
    background-position-y: 95%;
    background-size: contain;
}
canvas { 
  max-width: 50vw; 
  display: block;
}
#canvas1 {
    border-style: dotted;
    border-width: 1px;
   /* // background-image: url("../../../../assets/common/images/initials-here.png"); */
    background-repeat: no-repeat;
    background-position-y: 95%;
    background-size: contain;
}

@media print {
    input[type="radio"]:checked {
        font-weight: bold;
    }
}