<div class="mt-5" style="
    overflow: scroll;
    padding: 10px;
    border: 3px solid #b3b3b347;
    border-radius: 10px;
    box-shadow: 0px -1px 6px 6px #b3b3b347;
  ">
  <div id="header">
    <div class="container">
      <div class="row headerRow">
        <div class="col-md-12 text-right headline" style="align-content: center">
          <a><img src="https://manduu.com/wp-content/uploads/2019/05/manduu-logo.svg" title="manduu"
              width="150px" /></a>
        </div>
      </div>
    </div>
  </div>
  <div id="containerContent">
    <div class="container" id="libility-container">
      <div class="register-form">
        <div class="row" style="display: block !important">
          <div class="col-md-12"></div>
          <div class="col-sm-12" style="margin-bottom: 15px">
            <h1 class="subline">Client Acknowledgment & Waiver Form</h1>
            <h4 style="
                font-size: 16px;
                text-align: center;
                font-style: italic;
                margin-top: 20px;
              ">
              <span style="opacity: 0.7">Mandatory fields are marked with a</span>
              <span class="text-danger" style="opacity: 1; font-weight: bolder">*</span>.
            </h4>
          </div>
          <form method="post" class="form-horizontal liability-form">
            <div id="print-section">
              <div class="certification_ack">
                <div class="row m-2">
                  <div class="col-sm-12 certification_container">
                    <h4 style="text-align: center; text-decoration: " class="certification">
                      CERTIFICATION, ACKNOWLEDGEMENT, WAIVER AND RELEASE
                    </h4>
                    <h6 class="client-waiver-auto-defaultstudio" style="text-align: center">
                      {{ defaultStudio }}
                    </h6>
                  </div>
                </div>
                <hr style="margin: 20px 10%; margin-bottom: 25px" />
                <div class="row m-2">
                  <div class="col-sm-12">
                    <p>
                      I, the undersigned, wish to participate in Manduu workouts
                      involving equipment (the <b>“Equipment”</b>) belonging to,
                      and services (the <b>“Services”</b>) provided by,
                      {{ defaultStudio }} (the <b>“Studio”</b>), which operates
                      a Manduu lifestyle workout studios in STE 290. (the
                      <b>“Premises”</b>). The Equipment Includes one or more
                      E-Fit Electrical Muscle Stimulation (<b>“EMS”</b>) Devices
                      (the <b>“EMS Devices”</b>), one or more InBody 770 Machine
                      (the <b>“InBody Machines”</b>) and related fitness and
                      other equipment. The Services may include direction in
                      workouts and use of the Equipment by one (1) or more
                      Manduu personal coaches (the <b>“Coaches”</b>) and other
                      services provided by the Studio. In consideration of, and
                      as a condition to, my participation in Manduu workouts and
                      use of the Equipment, and the Studio’s provision of the
                      Services, I certify, acknowledge and agree to the
                      following:
                    </p>
                  </div>
                </div>
                <div class="row m-2">
                  <div class="col-sm-12">
                    <h4>1.CONTRAINDICATIONS</h4>
                    <p>
                      The Studio’s strict safety policies FORBID me to
                      participate in Manduu workouts, use the Equipment or
                      obtain the Services if I have any of the Restricted
                      Conditions listed in Table 1.1.
                      <b>MY SIGNATURE BELOW CERTIFIES THAT I HAVE ANSWERED ALL
                        QUESTIONS IN TABLE 1.1 ACCURATELY. ANSWERING YES
                        INDICATES YOU HAVE THE CONDITION, ANSWERING NO INDICATES
                        YOU DO NOT.</b>
                    </p>
                  </div>
                </div>

                <div class="col-sm-10 offset-sm-1">
                  <!---START HERE FOR FIRST TABLE-->
                  <div style="font-weight: bold">Restricted Condition</div>
                  <div class="table-row">
                    <div class="col-md-8">
                      <div [className]="
                          tableq[1] == undefined ? 'unchecked' : 'checked'
                        ">
                        <div class="col-md-8">
                          Cardiac pacemaker, implanted pacemaker, defibrillator
                          or other implanted metallic or electronic devices.
                          (Any of the foregoing could cause electric shock,
                          burns, electronic and electric interference or
                          potential death.) <span class="text-danger">*</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="yes-checkbox">
                            <label for="policy1_yes_1">YES</label>
                            <input class="checkbox-inline" type="radio" id="policy1_yes_1" name="contraindication1[1]"
                              (click)="table_(1, true)" value="1" ng-checked="tableq[1]" />
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="no-checkbox">
                            <label for="policy1_no_1">NO</label>
                            <input class="checkbox-inline" type="radio" id="policy1_no_1" name="contraindication1[1]"
                              (click)="table_(1, false)" value="0" ng-checked="tableq[1]" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="table-row">
                    <div class="col-md-8">
                      <div [className]="
                          tableq[1] == undefined ? 'unchecked' : 'checked'
                        ">
                        <div class="col-md-8">
                          Injury or fracture with associated risk of internal
                          bleeding
                          <span class="text-danger">*</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="row">
                        <div class="col-6">
                          <div class="yes-checkbox">
                            <label for="policy1_yes_1">YES</label>
                            <input class="checkbox-inline" type="radio" id="policy1_yes_1" name="contraindication1[1]"
                              (click)="table_(1, true)" value="1" ng-checked="tableq[1]" />
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="no-checkbox">
                            <label for="policy1_no_1">NO</label>
                            <input class="checkbox-inline" type="radio" id="policy1_no_1" name="contraindication1[1]"
                              (click)="table_(1, false)" value="0" ng-checked="tableq[1]" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!---STOP HERE FOR FIRST TABLE-->

                  <table class="certification_table">
                    <div class="table-row">
                      <th colspan="3">
                        <h2>TABLE 1.1</h2>
                      </th>
                    </div>
                    <div class="table-row">
                      <div class="col-md-12" style="font-weight: bold">
                        Restricted Condition
                      </div>
                      <!--<td>YES</td>
                                            <td>NO</td>-->
                    </div>
                    <div class="row">
                      <div [className]="
                          tableq[1] == undefined ? 'unchecked' : 'checked'
                        ">
                        <div class="col-md-8">
                          Cardiac pacemaker, implanted pacemaker, defibrillator
                          or other implanted metallic or electronic devices.
                          (Any of the foregoing could cause electric shock,
                          burns, electronic and electric interference or
                          potential death.) <span class="text-danger">*</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="row">
                      <div class="col-md-6">
                        <div class="yes-checkbox">
                          <label for="policy1_yes_1">YES</label>
                          <input class="checkbox-inline" type="radio" id="policy1_yes_1" name="contraindication1[1]"
                            (click)="table_(1, true)" value="1" ng-checked="tableq[1]" />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="no-checkbox">
                          <label for="policy1_no_1">NO</label>
                          <input class="checkbox-inline" type="radio" id="policy1_no_1" name="contraindication1[1]"
                            (click)="table_(1, false)" value="0" ng-checked="tableq[1]" />
                        </div>
                      </div>
                    </div>
                    </div>
                    <div class="table-row">
                      <div [className]="
                          tableq[2] == undefined ? 'unchecked' : 'checked'
                        ">
                        <div class="col-md-8">
                          Heart or coronary disease, Blood Clots, Blood Clotting
                          Disorders. <span class="text-danger">*</span>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                        <div class="col-md-6">
                          <div class="yes-checkbox">
                            <input class="checkbox-inline" type="radio" id="policy1_yes_2" name="contraindication1[2]"
                              (click)="table_(2, true)" value="1" />
                            <label for="policy1_yes_2">&nbsp;</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="no-checkbox">
                            <input class="checkbox-inline" type="radio" id="policy1_no_2" name="contraindication1[2]"
                              (click)="table_(2, false)" value="0" />
                            <label for="policy1_no_2">&nbsp;</label>
                          </div>
                        </div>
                      </div>
                      </div>
                    </div>
                    <div class="table-row">
                      <div [className]="
                          tableq[3] == undefined ? 'unchecked' : 'checked'
                        ">
                        <div class="col-md-8">
                          Pregnancy <span class="text-danger">*</span>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="yes-checkbox">
                              <input class="checkbox-inline" type="radio" id="policy1_yes_3" name="contraindication1[3]"
                                (click)="table_(3, true)" value="1" />
                              <label for="policy1_yes_3">&nbsp;</label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="no-checkbox">
                              <input class="checkbox-inline" type="radio" id="policy1_no_3" name="contraindication1[3]"
                                (click)="table_(3, false)" value="0" />
                              <label for="policy1_no_3">&nbsp;</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="table-row">
                      <div [className]="
                          tableq[4] == undefined ? 'unchecked' : 'checked'
                        ">
                        <div class="col-md-8">
                          Injury or fracture with associated risk of internal
                          bleeding <span class="text-danger">*</span>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="yes-checkbox">
                              <input class="checkbox-inline" type="radio" id="policy1_yes_4" name="contraindication1[4]"
                                (click)="table_(4, true)" value="1" />
                              <label for="policy1_yes_4">&nbsp;</label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="no-checkbox">
                              <input class="checkbox-inline" type="radio" id="policy1_no_4" name="contraindication1[4]"
                                (click)="table_(4, false)" value="0" />
                              <label for="policy1_no_4">&nbsp;</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="table-row">
                      <div [className]="
                          tableq[5] == undefined ? 'unchecked' : 'checked'
                        ">
                        <div class="col-md-8">
                          Open wounds, ulcers, rashes, burns, severe bruises,
                          irritation, eczema or any other form of skin injury
                          <span class="text-danger">*</span>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="yes-checkbox">
                              <input class="checkbox-inline" type="radio" id="policy1_yes_5" name="contraindication1[5]"
                                (click)="table_(5, true)" value="1" />
                              <label for="policy1_yes_5">&nbsp;</label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="no-checkbox">
                              <input class="checkbox-inline" type="radio" id="policy1_no_5" name="contraindication1[5]"
                                (click)="table_(5, false)" value="0" />
                              <label for="policy1_no_5">&nbsp;</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="table-row">
                      <div [className]="
                          tableq[6] == undefined ? 'unchecked' : 'checked'
                        ">
                        <div class="col-md-8">
                          Severe swelling, redness, infected or inflamed areas,
                          e.g., phlebitis, thrombophlebitis, varicose veins
                          <span class="text-danger">*</span>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="yes-checkbox">
                              <input class="checkbox-inline" type="radio" id="policy1_yes_6" name="contraindication1[6]"
                                (click)="table_(6, true)" value="1" />
                              <label for="policy1_yes_6">&nbsp;</label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="no-checkbox">
                              <input class="checkbox-inline" type="radio" id="policy1_no_6" name="contraindication1[6]"
                                (click)="table_(6, false)" value="0" />
                              <label for="policy1_no_6">&nbsp;</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="table-row">
                      <div [className]="
                          tableq[7] == undefined ? 'unchecked' : 'checked'
                        ">
                        <div class="col-md-8">
                          Breast cancer or other breast disease
                          <span class="text-danger">*</span>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="yes-checkbox">
                              <input class="checkbox-inline" type="radio" id="policy1_yes_7" name="contraindication1[7]"
                                (click)="table_(7, true)" value="1" />
                              <label for="policy1_yes_7">&nbsp;</label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="no-checkbox">
                              <input class="checkbox-inline" type="radio" id="policy1_no_7" name="contraindication1[7]"
                                (click)="table_(7, false)" value="0" />
                              <label for="policy1_no_7">&nbsp;</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="table-row">
                      <div [className]="
                          tableq[8] == undefined ? 'unchecked' : 'checked'
                        ">
                        <div class="col-md-8">
                          Cancerous mutations <span class="text-danger">*</span>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="yes-checkbox">
                              <input class="checkbox-inline" type="radio" id="policy1_yes_8" name="contraindication1[8]"
                                (click)="table_(8, true)" value="1" />
                              <label for="policy1_yes_8">&nbsp;</label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="no-checkbox">
                              <input class="checkbox-inline" type="radio" id="policy1_no_8" name="contraindication1[8]"
                                (click)="table_(8, false)" value="0" />
                              <label for="policy1_no_8">&nbsp;</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="table-row">
                      <div [className]="
                          tableq[9] == undefined ? 'unchecked' : 'checked'
                        ">
                        <div class="col-md-8">
                          Rhabdomyolysis or any other muscular system disease
                          <span class="text-danger">*</span>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="yes-checkbox">
                              <input class="checkbox-inline" type="radio" id="policy1_yes_9" name="contraindication1[9]"
                                (click)="table_(9, true)" value="1" />
                              <label for="policy1_yes_9">&nbsp;</label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="no-checkbox">
                              <input class="checkbox-inline" type="radio" id="policy1_no_9" name="contraindication1[9]"
                                (click)="table_(9, false)" value="0" />
                              <label for="policy1_no_9">&nbsp;</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="table-row">
                      <div [className]="
                          tableq[10] == undefined ? 'unchecked' : 'checked'
                        ">
                        <div class="col-md-8">
                          Silicone-gel breast implants obtained prior to 2006,
                          or at any time if such implants are not or were not at
                          the time of implantation FDA-approved
                          <span class="text-danger">*</span>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="yes-checkbox">
                              <input class="checkbox-inline" type="radio" id="policy1_yes_10"
                                name="contraindication1[10]" (click)="table_(10, true)" value="1" />
                              <label for="policy1_yes_10">&nbsp;</label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="no-checkbox">
                              <input class="checkbox-inline" type="radio" id="policy1_no_10"
                                name="contraindication1[10]" (click)="table_(10, false)" value="0" />
                              <label for="policy1_no_10">&nbsp;</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="table-row">
                      <div [className]="
                          tableq[11] == undefined ? 'unchecked' : 'checked'
                        ">
                        <div class="col-md-8">
                          Degenertive Neurological Diseases or Seizure Disorders
                          <span class="text-danger">*</span>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="yes-checkbox">
                              <input class="checkbox-inline" type="radio" id="policy1_yes_11"
                                name="contraindication1[11]" (click)="table_(11, true)" value="1" />
                              <label for="policy1_yes_11">&nbsp;</label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="no-checkbox">
                              <input class="checkbox-inline" type="radio" id="policy1_no_11"
                                name="contraindication1[11]" (click)="table_(11, false)" value="0" />
                              <label for="policy1_no_11">&nbsp;</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="table-row">
                      <div [className]="
                          tableq[12] == undefined ? 'unchecked' : 'checked'
                        ">
                        <div class="col-md-6">
                          Cardiac Stent <span class="text-danger">*</span>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="yes-checkbox">
                              <input class="checkbox-inline" type="radio" id="policy1_yes_12"
                                name="contraindication1[12]" (click)="table_(12, true)" value="1" />
                              <label for="policy1_yes_12">&nbsp;</label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="no-checkbox">
                              <input class="checkbox-inline" type="radio" id="policy1_no_12"
                                name="contraindication1[12]" (click)="table_(12, false)" value="0" />
                              <label for="policy1_no_12">&nbsp;</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </table>
                </div>
                <div>
                  <div class="col-sm-10 offset-sm-1">
                    <div class="row margin_t30">
                      <div class="row" style="width: 100%">
                        <div class="col-sm-6">
                          <span style="font-weight: normal; font-size: 15px">Signature: &nbsp;</span>
                          <span style="font-size: 12px">(Please use your cursor to create a
                            signature.)</span>
                          <div class="signature client-waiver-auto-signature" id="signature" id="canvas">
                            <signature-pad #sigpad1 [options]="signaturePadOptions" (onEndEvent)="drawComplete()"
                              *ngIf="!hidesig">
                            </signature-pad>
                            <img class="signature-image" width="300" height="150" [src]="signature" *ngIf="hidesig" />
                          </div>
                          <button id="clear" class="clear-signature btn btn-mandu-primary client-waiver-auto-clear"
                            type="button" (click)="clearSignature()" *ngIf="!hidesig">
                            Clear
                          </button>
                        </div>
                        <div class="col-sm-6">
                          <span style="font-weight: normal; font-size: 15px">Initials: &nbsp;</span>
                          <span style="font-size: 12px">(Please use your cursor to create a initial.)</span>
                          <div class="initial client-waiver-auto-initial" id="initial" id="canvas1">
                            <signature-pad #sigpad2 [options]="signaturePadOptions" class="client-waiver-auto-initpad"
                              (onEndEvent)="drawComplete2()" *ngIf="!hideini">
                            </signature-pad>
                            <img class="signature-image" width="300" height="150" [src]="initials" *ngIf="hideini" />
                          </div>
                          <button id="clear2"
                            class="clear-signature btn btn-mandu-primary client-waiver-auto-clearsignature"
                            type="button" (click)="clearInitial()" *ngIf="!hideini">
                            Clear
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-6 form-group">
                        <span class="botm_line_fst" style="
                            font-weight: normal;
                            font-size: 15px;
                            float: left;
                            margin-right: 20px;
                          ">
                          Printed Name:
                        </span>
                        <span class="botm_line client-waiver-auto-fname">{{
                          fname
                        }}</span>
                      </div>
                      <div class="col-sm-6 form-group">
                        <span style="font-weight: normal; font-size: 15px">
                          Date:
                        </span>
                        <span class="botm_line current-date client-waiver-auto-date">
                          {{ date | date: "MM/dd/yyyy" }}
                        </span>
                        <br />
                      </div>
                    </div>
                  </div>
                  <div class="row m-2">
                    <div class="col-sm-12">
                      <p>
                        The Studio’s strict safety policies FORBID me to
                        participate in Manduu workouts, use the Equipment or
                        obtain the Services if I have a condition listed in
                        <u>Table 1.2</u>, UNLESS I have either
                        <b>(a)</b>obtained a <b>“Medical Clearance”</b>,which
                        means<b>(i)</b> I have consulted with a physician
                        regarding the condition, and <b>(ii)</b>, despite the
                        condition, the physician has cleared me to participate
                        in Manduu workouts, use the Equipment and obtain the
                        Services, or <b>(b)</b> I execute the
                        <u>Waiver of Medical Clearance Requirement</u>
                        certification following <u>Table 1.2</u>.
                      </p>
                      <b>
                        MY SIGNATURE BELOW CERTIFIES THAT I HAVE ANSWERED ALL
                        QUESTIONS IN TABLE 1.2 ACCURATELY.ANSWERING YES
                        INDICATES YOU HAVE THE CONDITION, ANSWERING NO INDICATES
                        YOU DO NOT.
                      </b>
                    </div>
                  </div>
                  <div class="col-sm-10 offset-sm-1 margin_t30 table-responsive">
                    <!---START HERE FOR SECOND TABLE-->
                    <div class="table-row">
                      <div class="col-md-8">
                        <div [className]="
                            tableq[1] == undefined ? 'unchecked' : 'checked'
                          ">
                          Metallic body implants
                          <span class="text-danger">*</span>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          
                            <div class="col-md-6">
                              <div class="yes-checkbox">
                                <label for="policy1_yes_1">YES</label>
                                <input class="checkbox-inline" type="radio" id="policy1_yes_1"
                                  name="contraindication1[1]" (click)="table_(1, true)" value="1"
                                  ng-checked="tableq[1]" />
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="no-checkbox">
                                <label for="policy1_no_1">NO</label>
                                <input class="checkbox-inline" type="radio" id="policy1_no_1"
                                  name="contraindication1[1]" (click)="table_(1, false)" value="0"
                                  ng-checked="tableq[1]" />
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!---STOP HERE FOR SECOND TABLE-->

                    <table style="width: 100%; display: " class="certification_table table">
                      <div class="table-row">
                        <th colspan="3">
                          <h2 class="text-center">TABLE 1.2</h2>
                        </th>
                      </div>
                      <div class="table-row">
                        <div div class="col-md-6">Condition</div>
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-6">YES</div>
                            <div class="col-md-6">NO</div>
                          </div>
                        </div>
                      </div>

                      <div class="table-row">
                        <div [className]="
                            questions[1] == undefined ? 'unchecked' : 'checked'
                          ">
                          <div div class="col-md-8" colspan="3">
                            Metallic body implants
                            <span class="text-danger">*</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div div class="col-md-6">
                            <div class="yes-checkbox">
                              <input class="checkbox-inline" type="checkbox" id="policy2_yes_1" type="radio"
                                name="questions[1]" (click)="changeq(1, true)" value="true" />
                              <label for="policy2_yes_1">&nbsp;</label>
                            </div>
                          </div>
                          <div div class="col-md-6">
                            <div class="no-checkbox">
                              <input class="checkbox-inline" type="checkbox" id="policy2_no_1" type="radio"
                                name="questions[1]" (click)="changeq(1, false)" value="false" />
                              <label for="policy2_no_1">&nbsp;</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="table-row">
                        <div [className]="
                            questions[2] == undefined ? 'unchecked' : 'checked'
                          ">
                          <div div class="col-md-8">
                            Menstruation spasms
                            <span class="text-danger">*</span>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="row">
                            <div div class="col-md-6">
                              <div class="yes-checkbox">
                                <input class="checkbox-inline" type="radio" id="policy2_yes_2"
                                  name="contraindication2[2]" (click)="changeq(2, true)" value="1" />
                                <label for="policy2_yes_2">&nbsp;</label>
                              </div>
                            </div>
                            <div div class="col-md-6">
                              <div class="no-checkbox">
                                <input class="checkbox-inline" type="radio" id="policy2_no_2"
                                  name="contraindication2[2]" (click)="changeq(2, false)" value="0" />
                                <label for="policy2_no_2">&nbsp;</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="table-row">
                        <div [className]="
                            questions[3] == undefined ? 'unchecked' : 'checked'
                          ">
                          <div div class="col-md-8">
                            Contagious diseases under treatment, chronic illness
                            <span class="text-danger">*</span>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="yes-checkbox">
                                <input class="checkbox-inline" type="radio" id="policy2_yes_3"
                                  name="contraindication2[3]" (click)="changeq(3, true)" value="1" />
                                <label for="policy2_yes_3">&nbsp;</label>
                              </div>
                            </div>
                            
                            <div class="col-md-6">
                              <div class="no-checkbox">
                                <input class="checkbox-inline" type="radio" id="policy2_no_3"
                                  name="contraindication2[3]" (click)="changeq(3, false)" value="0" />
                                <label for="policy2_no_3">&nbsp;</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="table-row">
                        <div [className]="
                            questions[4] == undefined ? 'unchecked' : 'checked'
                          ">
                          <div class="col-md-8">
                            Surgery within the previous twelve (12) months
                            <span class="text-danger">*</span>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="yes-checkbox">
                                <input class="checkbox-inline" type="radio" id="policy2_yes_4" name="contraindication2[4]"
                                  (click)="changeq(4, true)" value="1" />
                                <label for="policy2_yes_4">&nbsp;</label>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="no-checkbox">
                                <input class="checkbox-inline" type="radio" id="policy2_no_4" name="contraindication2[4]"
                                  (click)="changeq(4, false)" value="0" />
                                <label for="policy2_no_4">&nbsp;</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="table-row">
                        <div [className]="
                            questions[5] == undefined ? 'unchecked' : 'checked'
                          ">
                          <div class="col-md-8">
                            Risk of heart attack or blood pressure disease
                            <span class="text-danger">*</span>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="yes-checkbox">
                                <input class="checkbox-inline" type="radio" id="policy2_yes_5"
                                  name="contraindication2[5]" (click)="changeq(5, true)" value="1" />
                                <label for="policy2_yes_5">&nbsp;</label>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="no-checkbox">
                                <input class="checkbox-inline" type="radio" id="policy2_no_5"
                                  name="contraindication2[5]" (click)="changeq(5, false)" value="0" />
                                <label for="policy2_no_5">&nbsp;</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="table-row">
                        <div [className]="
                            questions[6] == undefined ? 'unchecked' : 'checked'
                          ">
                          <div class="col-md-8">
                            Overweight (Body Mass Index (BMI) is 25.0 or more)
                            <span class="text-danger">*</span>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="yes-checkbox">
                                <input class="checkbox-inline" type="radio" id="policy2_yes_6"
                                  name="contraindication2[6]" (click)="changeq(6, true)" value="1" />
                                <label for="policy2_yes_6">&nbsp;</label>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="no-checkbox">
                                <input class="checkbox-inline" type="radio" id="policy2_no_6"
                                  name="contraindication2[6]" (click)="changeq(6, false)" value="0" />
                                <label for="policy2_no_6">&nbsp;</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="table-row">
                        <div [className]="
                            questions[7] == undefined ? 'unchecked' : 'checked'
                          ">
                          <div class="col-md-8">
                            Fewer than ninety (90) minutes of physical exercise
                            per week <span class="text-danger">*</span>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="yes-checkbox">
                                <input class="checkbox-inline" type="radio" id="policy2_yes_7"
                                  name="contraindication2[7]" (click)="changeq(7, true)" value="1" />
                                <label for="policy2_yes_7">&nbsp;</label>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="no-checkbox">
                                <input class="checkbox-inline" type="radio" id="policy2_no_7"
                                  name="contraindication2[7]" (click)="changeq(7, false)" value="0" />
                                <label for="policy2_no_7">&nbsp;</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="table-row">
                        <div [className]="
                            questions[8] == undefined ? 'unchecked' : 'checked'
                          ">
                          <div class="col-md-8">
                            Breast implants – FDA approved and implanted in 2006
                            or later. <span class="text-danger">*</span>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="yes-checkbox">
                                <input class="checkbox-inline" type="radio" id="policy2_yes_8"
                                  name="contraindication2[8]" (click)="changeq(8, true)" value="1" />
                                <label for="policy2_yes_8">&nbsp;</label>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="no-checkbox">
                                <input class="checkbox-inline" type="radio" id="policy2_no_8"
                                  name="contraindication2[8]" (click)="changeq(8, false)" value="0" />
                                <label for="policy2_no_8">&nbsp;</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="table-row">
                        <div [className]="
                            questions[9] == undefined ? 'unchecked' : 'checked'
                          ">
                          <div class="col-md-8">
                            Skin sensitivity, skin disease, dry skin or skin
                            feeling numb to the touch
                            <span class="text-danger">*</span>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="yes-checkbox">
                                <input class="checkbox-inline" type="radio" id="policy2_yes_9"
                                  name="contraindication2[9]" (click)="changeq(9, true)" value="1" />
                                <label for="policy2_yes_9">&nbsp;</label>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="no-checkbox">
                                <input class="checkbox-inline" type="radio" id="policy2_no_9"
                                  name="contraindication2[9]" (click)="changeq(9, false)" value="0" />
                                <label for="policy2_no_9">&nbsp;</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="table-row">
                        <div class="col-md-12">
                          Other unusual physical symptoms. Describe:
                          <br />
                          <textarea rows="4" cols="50" name="physicalsymptoms" [(ngModel)]="physicalsymptoms"
                            (change)="textarea()" style="max-width: 70vw"></textarea>
                        </div>
                        <td></td>
                        <td></td>
                      </div>
                    </table>
                  </div>
                  <div class="col-sm-10 offset-sm-1 margin_t30">
                    <div class="row">
                      <div class="form-group">
                        <div class="col-sm-6">
                          <span style="font-weight: normal; font-size: 15px">
                            Date:
                          </span>
                          <span class="botm_line current-date">
                            {{ date | date: "MM/dd/yyyy" }}
                          </span>
                        </div>
                        <div class="col-sm-6">
                          <span style="font-weight: normal; font-size: 15px">
                            Signature:
                          </span>
                          <button id="copy1" class="copy-sign-button btn btn-mandu-primary" type="button"
                            (click)="signatureTable2()" *ngIf="!signaturetab2" [disabled]="!signaturedone">
                            Click here to sign
                          </button>
                          <div *ngIf="!signaturedone">
                            <small style="color: red !important">To enable this button create your signature in
                              the box above</small>
                          </div>
                          <div class="signature-copy" *ngIf="signaturetab2">
                            <img class="signature-image" width="150" height="70" [src]="signaturetab2" />
                          </div>
                          <input class="form-control hidden-sign" type="hidden" name="sign" value="" />
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="">
                          <span class="botm_line_fst" style="
                              font-weight: normal;
                              font-size: 15px;
                              float: left;
                              margin-right: 20px;
                            ">
                            Printed Name:
                          </span>

                          <span class="botm_line client-waiver-auto-fname2">{{
                            fname
                          }}</span>
                        </div>
                      </div>
                      <div *ngIf="
                          questions[1] ||
                          questions[2] ||
                          questions[3] ||
                          questions[4] ||
                          questions[5] ||
                          questions[6] ||
                          questions[7] ||
                          questions[8] ||
                          questions[9] ||
                          questions[10]
                        ">
                        <p>
                          This paragraph applies if I have a condition listed in
                          Table 1.2 and have obtained medical clearance and will
                          provide it to the trainer prior to my first training
                          session.
                        </p>
                        <div class="form-group">
                          <div class="col-sm-6">
                            <span style="font-weight: normal; font-size: 15px">
                              Date:
                            </span>
                            <span class="botm_line current-date client-waiver-auto-currentdate">
                              {{ date | date: "MM/dd/yyyy" }}</span>
                          </div>
                          <div class="col-sm-6">
                            <span style="font-weight: normal; font-size: 15px">
                              Signature:
                            </span>
                            <button id="copy2"
                              class="copy-sign-button btn btn-mandu-primary client-waiver-auto-clicksign" type="button"
                              (click)="signatureMedicalClearance()" *ngIf="!signaturemedicalclearance"
                              [disabled]="!signaturedone">
                              Click here to sign
                            </button>
                            <div *ngIf="!signaturedone">
                              <small style="color: red !important">To enable this button create your signature in
                                the box above</small>
                            </div>
                            <div class="signature-copy" *ngIf="signaturemedicalclearance">
                              <img class="signature-image" width="150" height="70" [src]="signaturemedicalclearance" />
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-sm-6">
                              <span class="botm_line_fst" style="
                                  font-weight: normal;
                                  font-size: 15px;
                                  float: left;
                                  margin-right: 20px;
                                ">
                                Printed Name:
                              </span>

                              <span class="botm_line client-waiver-auto-fname3">{{ fname }}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="
                          questions[1] ||
                          questions[2] ||
                          questions[3] ||
                          questions[4] ||
                          questions[5] ||
                          questions[6] ||
                          questions[7] ||
                          questions[8] ||
                          questions[9] ||
                          questions[10]
                        ">
                        <div class="row">
                          <div class="col-sm-6 offset-sm-3">
                            <div class="waiver-medical margin_t30">
                              <div class="row">
                                <div class="col-sm-12">
                                  <h4 class="text-center">
                                    WAIVER OF MEDICAL CLEARANCE REQUIREMENT
                                  </h4>
                                  <p>
                                    <b>THIS PARAGRAPH APPLIES IF I HAVE A
                                      CONDITION LISTED IN TABLE 1.2 BUT ELECT
                                      NOT TO OBTAIN A MEDICAL CLEARANCE:</b>
                                    I, the undersigned understand and agree that
                                    there are medical risks, including risks of
                                    injury and death, specific to the
                                    condition(s) I have indicated in Table 1.2
                                    that I have.
                                    <u>
                                      <b>
                                        I HEREBY CERTIFY THAT I HAVE
                                        INVESTIGATED ALL MATTERS RELATED TO SUCH
                                        CONDITIONS AND HAVE BEEN GIVEN THE
                                        OPPORTUNITY TO CONSULT A MEDICAL
                                        PROFESSIONAL REGARDING THEM, BUT DECLINE
                                        TO DO SO. I HEREBY VOLUNTARILY AND
                                        INTENTIONALLY ASSUME ALL RISK OF INJURY
                                        AND DEATH ASSOCIATED WITH SUCH
                                        CONDITIONS, AND HEREBY WAIVE, RELINQUISH
                                        AND RELEASE THE STUDIO AND EACH AND
                                        EVERY ONE OF ITS AGENTS, OFFICERS,
                                        OWNERS, PARENT COMPANIES, SUBSIDIARIES,
                                        INSURERS, SUCCESSORS AND ASSIGNS FROM
                                        AND AGAINST ANY AND ALL CLAIMS, DAMAGES
                                        (INCLUDING SPECIAL, GENERAL AND
                                        EXEMPLARY / PUNITIVE) AND LIABILITIES
                                        ASSOCIATED WITH ALL CONDITIONS INDICATED
                                        IN TABLE 1.2, INCLUDING WITHOUT
                                        LIMITATION THOSE INVOLVING INJURY OR
                                        DEATH TO ME OR ANY THIRD PERSON AND
                                        INCLUDING WITHOUT LIMITATION THOSE
                                        INVOLVING THE EQUIPMENT, THE SERVICES
                                        AND THE PREMISES
                                      </b> </u>.
                                  </p>
                                  <div class="form-group">
                                    <div class="col-sm-6 form-group">
                                      <span style="
                                          font-weight: normal;
                                          font-size: 15px;
                                        ">
                                        Date:
                                      </span>
                                      <span class="botm_line current-date client-waiver-auto-currentdate2">
                                        {{ date | date: "MM/dd/yyyy" }}
                                      </span>
                                      <br />
                                    </div>
                                    <div class="col-sm-6 form-group">
                                      <span style="
                                          font-weight: normal;
                                          font-size: 15px;
                                        ">
                                        Signature:
                                      </span>
                                      <button id="copy3" class="copy-sign-button btn btn-mandu-primary" type="button"
                                        (click)="signatureWaiver()" *ngIf="!signaturewaiver"
                                        [disabled]="!signaturedone">
                                        Click here to sign
                                      </button>
                                      <div *ngIf="!signaturedone">
                                        <small style="color: red !important" class="client-waiver-auto-toenable">To
                                          enable this button create your
                                          signature in the box above</small>
                                      </div>

                                      <div class="signature-copy" *ngIf="signaturewaiver">
                                        <img class="signature-image" width="150" height="70" [src]="signaturewaiver" />
                                      </div>
                                      <input class="form-control hidden-sign" type="hidden" name="sign" value="" />
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <div class="col-sm-12">
                                      <span class="botm_line_fst" style="
                                          font-weight: normal;
                                          font-size: 15px;
                                          float: left;
                                          margin-right: 20px;
                                        ">
                                        Printed Name:
                                      </span>
                                      <span class="botm_line client-waiver-auto-fname4">{{ fname }}</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="margin_t30">
                          <div class="m-2">
                            <div class="col-sm-12">
                              <p>
                                By signing this document,irrespective whether I
                                have a condition listed in <u>Table 1.1</u> or
                                <u>Table 1.2,</u>I certify that
                                <b>(a)</b> &nbsp; I have investigated and made
                                myself fully aware of my health and physical
                                condition, including without limitation the
                                existence of any of the conditions listed in
                                <u>Tables 1.1 and 1.2;</u> <b>(b)</b> that the
                                information in this <u>Section 1</u> is correct
                                both on the date of this document and at all
                                times I participate in Manduu workouts, use the
                                Equipment or obtain the Services; and <b>(c)</b>
                                that I will advise the Studio immediately in
                                writing if any of my certifications become
                                incorrect or any of the information I provide in
                                this document otherwise changes.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row m-2">
                      <div class="col-sm-12">
                        <h4>2 ACKNOWLEDGMENTS AND AGREEMENTS</h4>
                        <h6>
                          I acknowledge and agree to all of the following:
                        </h6>
                        <ul class="acknowledge_ul">
                          <li>
                            <b>(a)</b>&nbsp;&nbsp; There are risks and hazards
                            inherent in any physical exercise, and there risks
                            specific to Manduu workouts, the Equipment and/or
                            Services. I acknowledge and agree that I have
                            performed an adequate investigation into, and fully
                            informed myself, of all such risks. My participation
                            in Manduu exercise activities and EMS workouts is
                            voluntary, I am fully aware of the potential
                            associated danger, and assume all associated risk of
                            injury, including death.
                          </li>
                          <li>
                            <b>(b)</b> &nbsp;&nbsp; Stimulation on the neck
                            could cause severe muscle spasms, resulting in
                            closure of my airways, difficulty in breathing or
                            adverse effects on heart rhythm or blood pressure.
                          </li>
                          <li>
                            <b>(c)</b> &nbsp;&nbsp; Electronic monitoring
                            equipment (for example, cardiac monitors, ECG
                            alarms, and similar devices) may not operate
                            properly and/or reliably when I am using the
                            Equipment.
                          </li>
                          <li>
                            <b>(d)</b> &nbsp;&nbsp; The EMS Devices and InBody
                            Machines, and/or certain aspects of them, are new
                            technology, and their long-term effects are not yet
                            known. I assume all risk in relation to such
                            effects, and will not look to any of the Released
                            Parties (defined below) in relation to such effects.
                            I acknowledge that EMS does not, in and of itself,
                            cause weight loss. No information provided by the
                            InBody Machine, including without limitation weight,
                            muscle mass, body mass index, segmental lean
                            analysis, or any other body composition or other
                            results constitutes a representation or warranty as
                            to the suitability or effectiveness of Manduu
                            workouts, the Equipment or the Services, for my
                            personal health. I will look only to my medical
                            professionals for opinions on such suitability or
                            effectiveness.
                          </li>
                          <li>
                            <b>(e)</b> &nbsp;&nbsp; If I experience unusual
                            symptoms (including without limitation pain or
                            discomfort of any kind) during participation in a
                            Manduu workout or use of the Equipment, I will
                            immediately stop the session and I will consult a
                            physician. If I experience pain or discomfort before
                            or after participating in a Manduu workout, using
                            the Equipment, or obtaining the Services, I will
                            cease activity until I have consulted with a
                            physician.
                          </li>
                          <li>
                            <b>(f)</b> &nbsp;&nbsp; I understand and agree that,
                            if Manduu workout intensity is increased, it should
                            be increased gradually and only following
                            appropriate rest periods.
                          </li>
                          <li>
                            <b>(g)</b> &nbsp;&nbsp; If at any time I am in the
                            regular care of a physician, I and she or he have
                            consulted, or will consult at my next visit,
                            regarding participation in Manduu workouts, use of
                            the Equipment and obtaining Services, and I will
                            follow her or his advice in that respect.
                          </li>
                          <li>
                            <b>(h)</b> &nbsp;&nbsp; I will comply with all rules
                            and regulations regarding participation in Manduu
                            workouts, use of the Equipment and obtaining the
                            Services which may be imposed from time to time by
                            the Studio.
                          </li>
                          <li>
                            <b>(i)</b> &nbsp;&nbsp; No statement by a Coach, or
                            any other Studio personnel, and no statement on the
                            Studio’s or its franchisor’s website or other
                            written material propounded by the Studio or its
                            franchisor, shall be construed by me as medical
                            advice or a substitute therefor. I will look only to
                            my physician and/or other medical professionals for
                            such advice, it being understood and agreed that
                            neither the Coaches, the Studio, nor its owners,
                            agents, franchisor or affiliates are medical
                            professionals. For purposes of this Certification,
                            Acknowledgment and Release, the term
                            <b>“franchisor”</b> shall include without limitation
                            any franchisor, sub-franchisor, master-franchisor,
                            area developer and/or any other party through whom
                            the Studio received rights to operate the Studio
                            under the Manduu brand.
                          </li>
                          <li>
                            <b>(j)</b> &nbsp;&nbsp; The Studio is not the
                            manufacturer of the Equipment, and shall not have
                            responsibility for defects in the same, or any
                            injuries (including death) that they may cause. I
                            will look solely to the manufacturer of such
                            equipment in case of such defects.
                          </li>
                        </ul>
                        <h4>
                          3 &nbsp; RELEASE; COVENANT NOT TO SUE; INDEMNITY
                        </h4>
                        <ul class="acknowledge_ul">
                          <li>
                            <b>3.1 &nbsp; Release. </b>&nbsp; In consideration
                            of my entry onto the Premises, my participation in
                            Manduu workouts, my use of the Equipment and the
                            Studio’s provision of the Services, I expressly
                            agree and contract, on behalf of myself, my heirs,
                            executors, administrators, successors and assigns,
                            that the Studio and its insurers, employees, agents,
                            officers, directors, owner, officers, franchisor and
                            associates (collectively, the
                            <b>“Released Parties”</b>), shall not be liable for
                            any damages arising from personal injuries
                            (including death) sustained by me in, on, or about
                            the Premises, or as a result of participation in
                            Manduu workouts, the use of the Equipment, or any
                            Release Party’s provision of the Services,
                            regardless of whether such injuries result, in whole
                            or in part, from the negligence of the Released
                            Parties, or any of them. By the execution of this
                            document, I accept and assume full responsibility
                            for any and all injuries, damages (both economic and
                            non-economic), and losses of any type, which may
                            occur to me on the Premises and/or during
                            participation in Manduu workouts or use of the
                            Equipment, or any Released Party’s provision of the
                            Services, and I hereby fully and forever release and
                            discharge the Released Parties from any and all
                            claims, demands, damages, rights of action, or
                            causes of action, present or future, whether the
                            same be known or unknown, anticipated, or
                            unanticipated, resulting from, related to and/or
                            arising out of Manduu workouts, the Equipment, the
                            Services or the Premises, or any part thereof. The
                            claims released by this <u>Section 3.1</u> are
                            referred to as the <b>“Released Claims.”</b>
                          </li>
                          <li>
                            <b>3.2 &nbsp; Covenant not to Sue.</b> &nbsp; I will
                            not initiate any claim, lawsuit, court action, or
                            other legal proceeding or demand against the
                            Released Parties, or any of them, nor join or assist
                            in the prosecution of any claim for money or other
                            damages against the Released Parties, or any of
                            them, for any of the Released Claims. I hereby waive
                            any right I may have to do so. This means that I
                            cannot sue to hold any of the Released Parties
                            responsible for any Released Claim. I waive my
                            insurers' right to make a claim against any of the
                            Released Parties based on payments by insurers to me
                            or on my behalf for any reason. This means my
                            insurers have no rights of subrogation against any
                            of the Released Parties.
                          </li>
                          <li>
                            <b>3.3&nbsp; Indemnity. </b> &nbsp; I will defend,
                            indemnify, hold harmless and reimburse the Released
                            Parties, and each of them, from and for all damages,
                            losses, costs, or expenses (including legal fees and
                            costs) incurred or paid by any of them to any person
                            (including me or my insurers) in respect of any
                            accident, injury (including death), loss, or
                            property damage, however caused resulting from,
                            arising out of, or otherwise in connection with my
                            participation in Manduu workouts or use of the
                            Equipment or Premises.
                          </li>
                        </ul>
                        <h4>4 GENERAL PROVISIONS</h4>
                        <ul class="acknowledge_ul">
                          <li>
                            <b>4.1 &nbsp; </b> This document supersedes all
                            prior communications related to the subject matter,
                            and I acknowledge and agree that this document shall
                            control over any contrary or additional
                            representations or statements to me or which I have
                            read or heard related to participation in Manduu
                            workouts, use of the Equipment or Premises, or
                            provision of the Services.
                          </li>
                          <li>
                            <b>4.2 &nbsp; </b> This Certification,
                            Acknowledgement, Waiver and Release shall apply to
                            all future participation in Manduu workouts, use of
                            the Equipment and Premises, and provision of the
                            Services, unless and until it is modified or
                            rescinded in a written instrument executed by an
                            authorized representative of the Studio.
                          </li>
                          <li>
                            <b>4.3 &nbsp; </b> This document shall be governed
                            and construed in accordance with the laws of the
                            State of Tennessee, without regard to conflict of
                            law principles, and any dispute related to this
                            document shall be decided in courts located in the
                            Williamson County, Tennessee.
                          </li>
                          <p>
                            BY SIGNING BELOW, I ACKNOWLEDGE THAT I HAVE READ AND
                            UNDERSTOOD ALL OF THE TERMS, COVENANTS AND
                            AGREEMENTS CONTAINED IN THIS DOCUMENT, THAT ALL OF
                            MY REPRESENTATIONS AND CERTIFICATIONS ARE TRUE AND
                            CORRECT AND THAT I AM VOLUNTARILY GIVING UP
                            SUBSTANTIAL LEGAL RIGHTS, INCLUDING THE RIGHT TO SUE
                            THE RELEASED PARTIES. I REPRESENT AND WARRANT THAT I
                            HAVE PERFORMED A FULL INVESTIGATION AS THE POTENTIAL
                            SCOPE AND VALUE OF THE CLAIMS RELEASED HEREBY AND
                            THAT I ENTER THIS INSTRUMENT WITH FULL KNOWLEDGE
                            THEREOF.
                          </p>
                        </ul>
                      </div>
                    </div>
                    <button class="copy-btn btn btn-mandu-primary" type="button" (click)="addInitials()"
                      *ngIf="!allInitials" [disabled]="!initialsdone">
                      Click here to add Initials for all items above
                    </button>
                    <div class="signature-copy" *ngIf="allInitials">
                      <img class="signature-image" width="150" height="70" [src]="allInitials" />
                    </div>
                    <div class="form-group margin_t30">
                      <div class="col-sm-6 form-group">
                        <span style="font-weight: normal; font-size: 15px">
                          Date:
                        </span>
                        <span class="botm_line current-date">
                          {{ date | date: "MM/dd/yyyy" }}
                        </span>
                        <br />
                      </div>
                      <div class="col-sm-6 form-group">
                        <span class="botm_line_fst" style="
                            font-weight: normal;
                            font-size: 15px;
                            float: left;
                            margin-right: 20px;
                          ">
                          Printed Name:
                        </span>
                        <span class="botm_line client-waiver-auto-fname5">{{
                          fname
                        }}</span>
                      </div>
                    </div>
                    <div class="form-group">
                      1
                      <div class="col-sm-6">
                        <label class="control-label active">Signature</label>
                        <button id="copy4" class="copy-sign-button btn btn-mandu-primary client-waiver-auto-sign"
                          type="button" (click)="signatureFinal()" *ngIf="!signaturefinal" [disabled]="!signaturedone">
                          Click here to sign
                        </button>
                        <div *ngIf="!signaturedone">
                          <small style="color: red !important">To enable this button create your signature in the
                            box above</small>
                        </div>
                        <div class="signature-copy" *ngIf="signaturefinal">
                          <img class="signature-image" width="150" height="70" [src]="signaturefinal" />
                        </div>
                        <input class="form-control hidden-sign" type="hidden" name="sign" value="" />
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="
                    tableq[1] ||
                    tableq[2] ||
                    tableq[3] ||
                    tableq[4] ||
                    tableq[5] ||
                    tableq[6] ||
                    tableq[7] ||
                    tableq[8] ||
                    tableq[9] ||
                    tableq[10] ||
                    tableq[11] ||
                    tableq[12]
                  ">
                  <h1 class="client-waiver-auto-alert">{{ alertMessage }}</h1>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12 text-center form-group mt-5">
                <div *ngIf="
                    (!signaturedone && !initialsdone) ||
                    tableq[1] == undefined ||
                    tableq[2] == undefined ||
                    tableq[3] == undefined ||
                    tableq[4] == undefined ||
                    tableq[5] == undefined ||
                    tableq[6] == undefined ||
                    tableq[7] == undefined ||
                    tableq[8] == undefined ||
                    tableq[9] == undefined ||
                    tableq[10] == undefined ||
                    tableq[11] == undefined ||
                    tableq[12] == undefined ||
                    questions[1] == undefined ||
                    questions[2] == undefined ||
                    questions[3] == undefined ||
                    questions[4] == undefined ||
                    questions[5] == undefined ||
                    questions[6] == undefined ||
                    questions[7] == undefined ||
                    questions[8] == undefined ||
                    questions[9] == undefined
                  ">
                  <h4 style="color: red !important" class="client-waiver-auto-requiredfields">
                    To submit or print your contract you need to answer all of
                    the questions in TABLE 1.1 AND TABLE 1.2 in red text
                  </h4>
                </div>
                <button class="btn btn-info btn-lg client-waiver-auto-print" [useExistingCss]="false"
                  printTitle="Manduu Contract Wiaver" printSectionId="print-section" ngxPrint
                  (click)="hideSignatureInitials()" [disabled]="
                    (!signaturedone && !initialsdone) ||
                    tableq[1] == undefined ||
                    tableq[2] == undefined ||
                    tableq[3] == undefined ||
                    tableq[4] == undefined ||
                    tableq[5] == undefined ||
                    tableq[6] == undefined ||
                    tableq[7] == undefined ||
                    tableq[8] == undefined ||
                    tableq[9] == undefined ||
                    tableq[10] == undefined ||
                    tableq[11] == undefined ||
                    tableq[12] == undefined ||
                    questions[1] == undefined ||
                    questions[2] == undefined ||
                    questions[3] == undefined ||
                    questions[4] == undefined ||
                    questions[5] == undefined ||
                    questions[6] == undefined ||
                    questions[7] == undefined ||
                    questions[8] == undefined ||
                    questions[9] == undefined
                  ">
                  <i class="fas fa-print"></i> Print
                </button>
                <button type="submit" id="submit-btn" (click)="completeWaiverSigning()"
                  class="btn btn-mandu-primary btn-lg client-waiver-auto-signbutton" [disabled]="
                    (!signaturedone && !initialsdone) ||
                    tableq[1] == undefined ||
                    tableq[2] == undefined ||
                    tableq[3] == undefined ||
                    tableq[4] == undefined ||
                    tableq[5] == undefined ||
                    tableq[6] == undefined ||
                    tableq[7] == undefined ||
                    tableq[8] == undefined ||
                    tableq[9] == undefined ||
                    tableq[10] == undefined ||
                    tableq[11] == undefined ||
                    tableq[12] == undefined ||
                    questions[1] == undefined ||
                    questions[2] == undefined ||
                    questions[3] == undefined ||
                    questions[4] == undefined ||
                    questions[5] == undefined ||
                    questions[6] == undefined ||
                    questions[7] == undefined ||
                    questions[8] == undefined ||
                    questions[9] == undefined
                  ">
                  <i class="fas fa-signature"></i> Sign
                </button>
              </div>
              <div class="col-sm-12 text-center form-group">
                <p>
                  By clicking sign, you agree to our
                  <a class="client-waiver-auto-tos" target="_blank" href="https://mymanduu.com/terms.php">Terms &
                    Condition </a>and our
                  <a class="client-waiver-auto-privacy" target="_blank"
                    href="https://mymanduu.com/privacy-policy.php">Privacy Policy.</a>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>