<siteNavigation class="dashboard-compact"></siteNavigation>
<div class="mt-5">
  <div class="container">
    <div class="tab-pane -div" role="tabpanel" aria-labelledby="-tab">
      <div class="kt-portlet mb-0">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
              <span>Change Password</span>
              <small>
                enter new credentials to change password
              </small>
            </h3>
          </div>
        </div>
        <div class="kt-form kt-form--label-right">
          <div class="kt-portlet__body">
            <div class="kt-section kt-section--first">
              <div class="kt-section__body">
                <form [formGroup]="passwordForm" (ngSubmit)="getPassword()" class="form-size">
                  <div class="form-group">
                    <label for="old-password">Current Password</label>
                    <input type="password" 
                    class="form-control" 
                    id="current-password" 
                    formControlName="currentPassword"
                    placeholder="Enter Current password" minlength="5">
                    <div 
                    *ngIf="f.currentPassword.invalid 
                    && (f.currentPassword.dirty || 
                    f.currentPassword.touched)" class="alert alert-danger">
                      <div *ngIf="f.currentPassword.errors.required">Current Password is required</div>
                      <div *ngIf="f.currentPassword.errors.minlength">
                        Current Password must be at least 5 characters
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="new-password">New Password</label>
                    <input type="password" class="form-control" id="new-password" formControlName="password"
                      placeholder="Enter new password" minlength="5">
                    <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)" class="alert alert-danger">
                      <div *ngIf="f.password.errors.required">Password is required</div>
                      <div *ngIf="f.password.errors.minlength">
                        Password must be at least 5 characters
                      </div>
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" class="form-control" id="confirm-password" formControlName="passwordConfirm"
                      min="5" placeholder="Confirm new password">
                    <div *ngIf="f.passwordConfirm.touched && f.passwordConfirm.invalid" class="alert alert-danger">
                      <div *ngIf="f.passwordConfirm.errors.required">Password is required.</div>
                      <div *ngIf="f.passwordConfirm.errors.confirmedValidator">Password and Confirm Password must be
                        match.</div>
                    </div>
                  </div>
                  <button type="submit" 
                  [disabled]="passwordForm.pristine 
                  || passwordForm.invalid"
                  style="
                  border-color: green;
                  float: right;
                  padding: 5px 20px;
                  background: green;
                  font-size: 13px;
                  font-weight: bold;
                  color: #fff;
                "
                    class="btn">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>