<siteNavigation class="dashboard-compact"></siteNavigation>
<div class="mt-5">
    <div class="container">
        <div class="tab-pane client-prof-set-auto-manage-subs-div" id="service-subscriptions" role="tabpanel"
            aria-labelledby="service-subscriptions-tab">
            <div class="kt-portlet mb-0">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            <span>Subscriptions</span>
                            <small>
                                Manage service subscriptions
                            </small>
                        </h3>
                        <button class="btn btn-primary btn-lg open-subscription-dialog"
                            (click)="openSubscriptionsDialog()">
                            {{'Change Service Subscription'}} <i class="far fa-gem"></i>
                        </button>
                    </div>
                </div>
                <form class="kt-form kt-form--label-right">
                    <div class="kt-portlet__body">
                        <div class="kt-section kt-section--first">
                            <div class="kt-section__body">
                                <div *ngIf="subscriptions !== null && subscriptions.length === 0">
                                    <div class="alert alert-solid-brand alert-bold fade show kt-margin-t-20 kt-margin-b-40"
                                        role="alert">
                                        <div class="alert-icon"><i class="flaticon2-information text-info"></i>
                                        </div>
                                        <div class="alert-text text-info">
                                            <strong>No service subscription records were found</strong>
                                            <br>
                                            <span>Please click
                                                <strong><i>'{{'Change Service Subscription'}}'</i></strong>
                                                to add a record.</span>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="subscriptions !== null && subscriptions.length > 0"
                                    class="row align-items-center">
                                    <div class="table-responsive">
                                        <table #subscriptionsDataTable datatable [dtOptions]="dtOptions" style="width: 100%"
                                            class="table table-striped table-subscriptions">
                                            <thead>
                                                <tr>
                                                    <th>{{"Name"}}</th>
                                                    <th class="text-center">{{"Sessions"}}</th>
                                                    <th class="text-center">{{"Auto-Renew"}}</th>
                                                    <th class="text-center">{{"Contract Status"}}</th>
                                                    <th class="text-center">{{"Start"}}</th>
                                                    <th class="text-center">{{"End"}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="" *ngFor="let subscription of subscriptions">
                                                    <td class="text-nowrap">{{subscription.name}}</td>
                                                    <td class="text-nowrap text-center">{{subscription.sessionsPerMonth}} {{subscription.autoRenew ? "/ month" : ""}}</td>
                                                    <td class="text-nowrap"><span
                                                            [ngClass]="{'btn btn-bold btn-lg btn-font-md w-100': true, 'btn-label-success': subscription.autoRenew, 'btn-label-danger': !subscription.autoRenew }">{{subscription.autoRenew ? "Yes" : "No"}}</span>
                                                    </td>
                                                    <td class="text-nowrap"><span
                                                            [ngClass]="{'btn btn-bold btn-lg btn-font-md w-100': true, 'btn-label-warning':  subscription.contractStatus === 'PENDING', 'btn-label-info':  subscription.contractStatus === 'CLOSED', 'btn-label-success':  subscription.contractStatus === 'ACTIVE', 'btn-label-danger': subscription.contractStatus === 'CANCELED' }">{{subscription.contractStatus}}</span>
                                                    </td>
                                                    <td class="text-nowrap text-center">
                                                        {{subscription.startDate | date:'MM/dd/yyyy'}}
                                                    </td>
                                                    <td class="text-nowrap text-center">
                                                        {{subscription.endDate | date:'MM/dd/yyyy'}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <updateServiceSubscriptionModal #updateServiceSubscriptionModal [(userId)]="userId"
        (modalUpdate)="getSubscriptions()" (modalSave)="onSubscriptionsDialogueClose($event)">
    </updateServiceSubscriptionModal>
</div>