table {
  font-family: "Roboto Condensed", sans-serif !important;
}

.table-subscriptions tr {
  height: 50px;
}

.open-subscription-dialog {
  background: #5cc04357;
  color: #234c07;
  font-weight: 500;
  padding: 8px 10px;
  border: none;
}

.open-subscription-dialog i {
  color: #228b0a99;
  font-size: 28px;
  margin-left: 10px;
}

@media (min-width: 768px) {
  .open-subscription-dialog {
    position: absolute;
    right: 20px;
  }
}