<ng-template #subscriptionModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">
            <span>Update Service Subscription</span>
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="kt-portlet" style="margin-bottom: 0">
            <div class="kt-portlet__body" [ngStyle]="{'background-color': contractSigningShow ? '#ffffff' : '#f2f3f8'}">
                <div *ngIf="contractOffers !== null && contractOffers.length === 0">
                    <div class="alert alert-solid-brand alert-bold fade show kt-margin-t-20 kt-margin-b-40"
                        role="alert">
                        <div class="alert-icon"><i class="flaticon2-information text-info"></i></div>
                        <div class="alert-text text-info">
                            <strong>No service contract offers were found</strong>
                            <br>
                            <span>Please check again later.</span>
                        </div>
                    </div>
                </div>
                <div *ngIf="contractOffersShow">
                    <div *ngFor="let offer of contractOffers; let i = index"
                        class="kt-portlet kt-portlet--bordered kt-portlet--head--noborder">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title kt-font-boldest">
                                    <span class="update-service-contract-auto-offhead">{{offer.header}}</span>
                                </h3>
                            </div>
                            <div class="kt-portlet__head-toolbar">
                                <div class="kt-portlet__head-actions" style="color: #959cb6;">
                                    <strong style="margin-right: 5px; margin-left: 5px;">
                                        <span
                                            class="update-service-contract-auto-offsesspermon">{{offer.sessionsPerMonth }}
                                            sessions/month</span>
                                    </strong> | <strong class="text-success"
                                        style="margin-right: 5px; margin-left: 5px;">
                                        <span class="update-service-contract-auto-offmtlfee">${{offer.monthlyFee }}
                                            /month</span>
                                    </strong>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="offer.autoRenew" class="kt-portlet__body">
                            <perfect-scrollbar [usePSClass]="'kt-scroll ps'" style="max-height: 250px; color: #959cb6;">
                                <strong *ngIf="offer.headline">
                                    <span class="update-service-contract-auto-offheadline">{{ offer.headline }}</span>
                                </strong><br *ngIf="offer.headline" />
                                <span class="update-service-contract-auto-offdesc">{{ offer.description }}</span>
                            </perfect-scrollbar>
                        </div>
                        <div *ngIf="!offer.autoRenew && offer.totalSessions != null" class="kt-portlet__body">
                            <perfect-scrollbar [usePSClass]="'kt-scroll ps'" style="max-height: 250px; color: #959cb6;">
                                <strong *ngIf="offer.headline">
                                    <span class="update-service-contract-auto-offheadline">{{ offer.headline }}</span>
                                </strong><br *ngIf="offer.headline" />
                                <!-- <span class="update-service-contract-auto-offdesc">
                                    {{ offer.totalSessions + " sessions @ $" + offer.initialFee }}
                                    {{(offer.costForAdditionalSessions) ? 
                                        " & $" + offer.costForAdditionalSessions + " / Session" : " / Session"}}
                                </span> -->
                                <span class="update-service-contract-auto-offdesc">
                                    {{ offer.totalSessions + noAutoRenewDescription(offer) }}
                                </span>
                            </perfect-scrollbar>
                        </div>
                        <div class="kt-portlet__foot" style="padding: 15px 25px;">
                            <div class="text-right">
                                <button [disabled]="saving" (click)="selectServiceOffers(offer)"
                                    class="btn btn-primary update-service-contract-auto-savebutton"><i
                                        class="fas fa-bolt"></i> Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
                <clientContractSigning *ngIf="contractSigningShow" [(userId)]="userId" (signingComplete)="save($event)">
                </clientContractSigning>
            </div>
        </div>
    </div>
</ng-template>