.fc-toolbar-title {
  margin-bottom: 10px !important;
  font-size: 1.5em !important;
}

h2.fc-toolbar-title {
  font-size: 1.5em !important;
}

.fc .fc-toolbar-title {
  font-size: 1.5em !important;
}

.fc-toolbar-chunk {
  width: 100% !important;
  display: block !important;
}

.fc-header-toolbar.fc-toolbar {
  display: block !important;
}

.editClass {
  background: #e5e5e51c;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.new-edit-class {
  background: #aaeba21c;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.new-edit-class-red {
  background: #faecee;
}

.confirm.modal-body .content {

  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;

}

.buttons .btn.btn-danger {

  float: right;
}

.modal-dialog {
  width: 360px !important;
  margin-top: 120px;
  margin: 30px auto;

  .modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }

  .confirm {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    min-height: 150px;

    .content {
      padding: 20px;
      border-radius: 10px;
      background-color: #fff !important;
      font-weight: 700;
    }

    .buttons {
      padding: 10px 15px;
      float: right;

      button {
        margin-right: 10px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .modal-title {
    font-size: 16px;
  }

  button.btn.btn-bold.btn-edit {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}

button.btn.btn-edit {
  margin: 0.5rem !important;
}

.book-session-date {
  float: text-align;
  text-align: right;
  position: absolute;
  right: 35px;
  background: #f2f2f2;
  padding: 1px 10px;
  border-radius: 5px;
  font-weight: 600;
}

.book-session-date-input {
  position: absolute;
  right: 35px;
  z-index: 0;
  opacity: 0;
}

.view-session .fas {
  float: right;
  padding: 8px 10px;
  border-radius: 100px;
  color: #2a8b2d;
  opacity: 1 !important;
  font-size: 1.2rem;
}

.view-session-label {
  text-align: left;
  margin-bottom: 5px;
  opacity: .5;
  font-weight: 500 !important;
  font-size: 14px;
}

.not-home-studio-text {
  font-weight: 600;
  font-size: 1rem;
}

.new-edit-class i.fas.fa-edit {
  color: green;
  position: absolute;
  right: 3rem;
  font-size: 1.3rem;
  padding: 5px;
}
i.fas.fa-portrait {
  color: green;
  position: absolute;
  right: 3rem;
  font-size: 1.3rem;
  padding: 5px;
}

.hide {
  display: none;
}

.value-display {
  padding: 0 1rem;
}