<full-calendar [options]="calendarOptions" #calendar style="min-height: 550px;min-width: 100%;"></full-calendar>

<!-- <button class="btn btn-danger" (click)="triggerModal(modalData, this.selectedDate)">Open Modal</button>-->

<ng-template #bookSessionModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      {{ modalType == 'New' ? 'Create New Session' : 
        modalType == 'Edit' ? 'Edit Session' : 'View Session' }}
    </h4>
    <span *ngIf="modalType != 'View'">
      <span class="book-session-date"
        (click)="modalType != 'View' ? dp.toggle() : null">{{this.actions.USDate(selectedDate)}}
      </span>
     
      <div class="text-center">
        <div class="center-datepicker">
          <input class="form-control book-session-date-input" bsDatepicker #dp="bsDatepicker" triggers="" [outsideClick]="true"
                 (click)="modalType != 'View' ? dp.toggle() : null" (bsValueChange)="changeCustomDate($event, studioList.value)"
                 style="background: #ffffff82;" [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY',adaptivePosition: true  }">
        </div>
      </div>
      <a type="button" (click)="modalType != 'View' ? dp.toggle() : null">
        <i class="fa fa-calendar text-success"></i>
      </a>
    </span>
    <button *ngIf="modalType == 'View'" type="button" class="close" aria-label="Close"
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <div *ngIf="this.modalType !== 'New' || this.modalType == 'Edit'"> -->
    <div *ngIf="modalType == 'View'">
      <bullet-list-content-loader *ngIf="!this.actions.contentLoaded.calendarModal"></bullet-list-content-loader>

      <div class="{{editClass}} view-session" *ngIf="this.actions.contentLoaded.calendarModal">
        <p class="view-session-label"><strong>Studio: <i class="fas fa-building"></i></strong></p>

        <p style="margin-bottom: 0px"><strong> {{ selectedStudioData.name }}</strong>
        </p>
        <p><em>
            {{ selectedStudioData.address }} {{ selectedStudioData.street2 }} {{ selectedStudioData.zip }},
            {{ selectedStudioData.city }} {{ selectedStudioData.state }}</em></p>

        <p class="view-session-label"><strong>Phone: <i class="fas fa-phone"></i></strong></p>

        <p style="font-weight: bold;"> {{ selectedStudioData.phoneNumber }}</p>

        <p class="view-session-label"><strong>Scheduled Date: <i class="fas fa-calendar-check"></i></strong></p>

        <p style="font-weight: bold;"> {{ this.actions.USDate(this.getDate(selectedDateData.scheduledTime)) }}</p>

        <p class="view-session-label"><strong>Scheduled Time: <i class="fas fa-clock"></i></strong></p>
        <p *ngIf="selectedDateData.type >= 0" style="font-weight: bold;">
          {{ this.actions.timeConvert(this.getTime(selectedDateData.scheduledTime)) }}
        </p>
        <p *ngIf="selectedDateData.type < 0" style="font-weight: bold;"> -- Waiting List --</p>
        <hr>
      </div>
      <div class="text-center" *ngIf="this.actions.contentLoaded.calendarModal">
        <button *ngIf="showEditBtn" class="btn btn-outline-secondary btn-bold btn-edit" (click)="showEdit()" [disabled]="!actions.checkUserStatus">
          Edit
        </button>
        <button *ngIf="showEditBtn" class="btn btn-outline-primary btn-bold btn-edit"
          (click)="addToCalendar(selectedStudioData.id, selectedDateData.scheduledTime)">
          Add to Calendar
        </button>
        <button
          (click)="deleteSession(selectedDateData.id, this.getDate(selectedDateData.scheduledTime)); modal.close('Save Click') "
          *ngIf="showEditBtn" class="btn btn-outline-danger btn-bold btn-edit">
          Cancel
        </button>
      </div>
    </div>
    <!-- <center *ngIf="this.modalType == 'Edit'">
      <strong>Editing Session:</strong>
      <br>
      <br>
    </center> -->
    <div [hidden]="!create">
      <div [ngClass]="{'new-edit-class': true, 'new-edit-class-red': notHomeStudio}">
        <p style="margin-bottom: 5px;">
          <strong>Studio:</strong>
          <span [ngClass]="{'value-display': true, 'hide': editSelectStudio}">{{ getStudioName(studioList.value) }} <i
              class="fas fa-edit" (click)="editSelectStudio = true"></i>
          </span>
        </p>
        <select #studioList [ngClass]="{'form-control': true, 'hide': !editSelectStudio}"
          (change)="this.changeCustomDate(selectedDate, studioList.value); editSelectStudio = false"
          style="background: #ffffff82;" [disabled]="modalType == 'Edit'">
          <ng-container *ngIf="this.modalType == 'Edit'">
            <option *ngFor="let studio of this.actions.studios" value="{{studio.id | json}}"
              [selected]="isSelected(selectedStudioData, studio.id)"> {{ studio.name }} </option>
          </ng-container>
          <ng-container *ngIf="this.modalType == 'New'">
            <option *ngFor="let studio of this.actions.studios" value="{{studio.id | json}}"
              [selected]="isDefaultStudioSelected(studio.id, this.actions.defaultStudioId)"> {{ studio.name }}
            </option>
          </ng-container>
        </select>
        <span *ngIf="notHomeStudio">
          <p class="text-danger not-home-studio-text">ARE YOU SURE? THIS IS NOT YOUR HOME STUDIO</p>
        </span>
        <br>
        <p style="margin-bottom: 5px;">
          <strong>Scheduled Time:</strong>
          <span [ngClass]="{'value-display': true, 'hide': editSelectTime}">{{ removeQuote(studioTime.value) | uppercase }}<i
              class="fas fa-edit" (click)="editSelectTime = true"></i>
          </span>
        </p>
        <select #studioTime [ngClass]="{'form-control': true, 'hide': !editSelectTime}" style="background: #ffffff82;"
          [(ngModel)]="sessionTime" (ngModelChange)="studioTimeChange($event); editSelectTime = false;">
          <option *ngFor="let studioTimes of this.actions.studioTimes; let i = index;"
            value="{{ studioTimes.sessionTime | json }}" [selected]="i == 0">
            {{studioTimes.sessionTime}}
            {{studioTimes.availableStations != null ? "(" + studioTimes.availableStations + ")" : ""}}</option>
        </select>
        <div *ngIf='selectedStudioTime === "\"WAITING LIST\""'>
          <br>
          <p style="margin-bottom: 5px;">Your waiting list availability</p>
          <div class="row">
            <div class="col-6">
              <p style="margin-bottom: 5px;"><strong>From:</strong></p>
              <input type="time" class="form-control" [(ngModel)]="waitingListTimeFrom"
                (ngModelChange)="waitingListTimeChange($event, true)">
            </div>
            <div class="col-6">
              <p style="margin-bottom: 5px;"><strong>To:</strong></p>
              <input type="time" class="form-control" [(ngModel)]="waitingListTimeTo"
                (ngModelChange)="waitingListTimeChange($event, false)">
            </div>
          </div>
          <br>
        </div>
        <div class="form-group m-form__group" >
          <p style="margin-top: 15px;">
            <strong >Invite A Friend</strong>
            <span ><i
                class="fas fa-portrait" (click)="inviteFriend()" ></i>
            </span>
          </p>
          <div id="FriendInfo" class="input-group" *ngIf="showFriends">
            <select  [(ngModel)]="friendCellNumber"  [ngClass]="{'form-control': true}" style="background: #ffffff82;">
              <option [ngValue]="null" [disabled]="true"  >Select Friend</option>
              <option *ngFor = "let friend of friends" [value]="friend.value">{{friend.name}}</option>
            </select>
        </div>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer" style="display: block;">
    <!-- <button type="button" class="btn btn-danger" *ngIf="this.modalType == 'View'" style="width: 100%;"
      (click)="modal.close('Save click')">Close</button> -->

    <button type="button" *ngIf="this.modalType != 'View'" class="btn btn-success"
      (click)="doBookSession(selectedDate, studioTime.value, studioList.value, this.modalType, friendCellNumber); modal.close('Save Click'); "
      style="float: right;" [disabled]="!selectedDate || !studioTime.value || !studioList.value || editSelectStudio || editSelectTime || removeQuote(studioTime.value) == 'Select a time'">
      {{ this.modalType == 'New' ? 'Book' : 'Reschedule' }}
    </button>

    <!-- <button type="button" *ngIf="this.modalType == 'Edit'" class="btn btn-success"
      (click)=" doBookSession(selectedDate, studioTime.value, studioList.value, 'Edit'); modal.close('Save Click')"
      style="float: right;">Reschedule</button> -->

    <button type="button" class="btn btn-danger" *ngIf="modalType == 'New' || modalType == 'Edit'" style="float: left;"
      (click)="modal.close('Save click')">Close</button>
  </div>

</ng-template>