<div class="card text-center mt-5">
  <div class="card-body">
    <img class="card-img-top" src="/assets/common/images/trophy.svg" width="300" height="300" alt="Card image cap">

    <h5 class="card-title">Congratulations!</h5>
    <p class="card-text">You have successfully completed steps to joining MANDUU.</p>
    <p class="card-text">Have Fun, and live healthy!</p>
  </div>
  <div class="card-footer ">
    Click Complete
  </div>
</div>