<siteNavigation class="dashboard-compact"></siteNavigation>
<div class="mt-5">
  <div class="container">
    <div class="tab-pane -div" role="tabpanel" aria-labelledby="-tab">
      <div class="kt-portlet mb-0">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
              <span>Training Information</span>
              <small>
                Enter your Training information
              </small>
            </h3>
          </div>
        </div>
        <div class="kt-form kt-form--label-right">
          <div class="kt-portlet__body">
            <div class="kt-section kt-section--first">
              <div class="kt-section__body">
                <form *ngIf="clientUserData" class="form-size" [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
                  <h2>Measurement Info:</h2>
                  <div class="form-group row m-4">
                    <label for="weight" class="col-sm-3 col-form-label">Weight</label>
                    <div class="col-sm-9">
                      <div class="row">
                        <div class="col-sm-12">
                          <input type="number" id="weight" class="form-control" formControlName="weight" 
                            [(ngModel)]="clientUserData.user.weight">
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="form-group row m-4">
                    <label for="heightFeet" class="col-sm-3 col-form-label">Height (feet)</label>
                    <div class="col-sm-9">
                      <input type="number" id="heightFeet" class="form-control" formControlName="heightFeet">
                      <div *ngIf="editProfileForm.get('heightFeet').invalid && (editProfileForm.get('heightFeet').dirty || editProfileForm.get('heightFeet').touched)"
                        class="alert alert-danger">
                        <div *ngIf="editProfileForm.get('heightFeet').errors.min">
                          Feet must be at least 0.
                        </div>
                        <div *ngIf="editProfileForm.get('heightFeet').errors.max">
                          Feet cannot exceed 7.
                        </div>
                      </div>
                    </div>
                  </div>
                
                  <div class="form-group row m-4">
                    <label for="heightInch" class="col-sm-3 col-form-label">Height (inches)</label>
                    <div class="col-sm-9">
                      <input type="number" id="heightInch" class="form-control" formControlName="heightInch">
                      <div *ngIf="editProfileForm.get('heightInch').invalid && (editProfileForm.get('heightInch').dirty || editProfileForm.get('heightInch').touched)"
                        class="alert alert-danger">
                        <div *ngIf="editProfileForm.get('heightInch').errors.min">
                          Inches must be at least 0.
                        </div>
                        <div *ngIf="editProfileForm.get('heightInch').errors.max">
                          Inches cannot exceed 11.
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <p class="divider"></p>
                  <h2>Equipment Sizing Info:</h2>
                  <div class="form-group row m-4">
                    <label for="sizeVest" class="col-sm-3 col-form-label">Vest Size</label>
                    <div class="col-sm-9">
                      <select id="sizeVest" class="form-control form-control-lg" formControlName="sizeVest" 
                        [(ngModel)]="clientUserData.user.sizeVest">
                        <option *ngFor="let vest of clientUserData.sizeVest" [value]="vest">{{vest}}</option>
                      </select>
                    </div>
                  </div>
                  
                  <div class="form-group row m-4">
                    <label for="sizePants" class="col-sm-3 col-form-label">Pants Size</label>
                    <div class="col-sm-9">
                      <select id="sizePants" class="form-control form-control-lg" formControlName="sizePants" 
                        [(ngModel)]="clientUserData.user.sizePants">
                        <option *ngFor="let pant of clientUserData.sizePants" [value]="pant">{{pant}}</option>
                      </select>
                    </div>
                  </div>
                  
                  <div class="form-group row m-4">
                    <label for="sizeWorkoutClothes" class="col-sm-3 col-form-label">Workout Clothes Size</label>
                    <div class="col-sm-9">
                      <select id="sizeWorkoutClothes" class="form-control form-control-lg" formControlName="sizeWorkoutClothes" 
                        [(ngModel)]="clientUserData.user.sizeWorkoutClothes">
                        <option *ngFor="let clothes of clientUserData.sizeWorkoutClothes" [value]="clothes">{{clothes}}</option>
                      </select>
                    </div>
                  </div>
                  
                  <div class="form-group row m-4">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-6">
                      <button type="submit"
                        style="border-color: green; float: right; padding: 5px 20px; background: green; font-size: 13px; font-weight: bold; color: #fff;"
                        class="btn" >Save</button>
                    </div>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>