<ng-template #forgotPasswordModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      <span>Reset Password</span>
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="kt-portlet" style="margin-bottom: 0">
      <div class="kt-portlet__body" [ngStyle]="{ 'background-color': '#fff' }">
        <p
          style="
            background: aliceblue;
            padding: 15px;
            border-radius: 10px;
            font-weight: 500;
            font-size: 15px;
          "
        >
          To reset your password, you must provide your Email and either your
          phone number, last 4 digits of your credit card on file or your pin
          code.
        </p>
        <form
          novalidate=""
          class="ng-untouched ng-pristine ng-valid"
          [formGroup]="formGroup"
        >
          <div class="mb-2" style="padding: 10px">
            <label for="" style="color: #000000; font-weight: 500"
              >Email <span class="text-danger">*</span></label
            >
            <div class="input-group">
              <input
                type="email"
                id="email"
                formControlName="email"
                [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                placeholder="Your registered email"
                class="form-control"
              />
              <div
                *ngIf="submitted && f['email'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f['email'].errors['required']">
                  Email is required
                </div>
                <div *ngIf="f['email'].errors['email']">Email is invalid</div>
              </div>
            </div>
          </div>
          <div class="mb-2" style="padding: 10px">
            <label for="" style="color: #000000; font-weight: 500"
              >Verification Code <span class="text-danger">*</span></label
            >
            <div class="input-group">
              <input
                type="text"
                id="code"
                formControlName="code"
                [ngClass]="{ 'is-invalid': submitted && f['code'].errors }"
                placeholder="Phone number, Last four digits of cc or Pin Code"
                class="form-control"
              />
              <div
                *ngIf="submitted && f['code'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f['code'].errors['required']">Code is required</div>
              </div>
            </div>
          </div>
          <div class="mb-2" style="padding: 10px">
            <label for="" style="color: #000000; font-weight: 500"
              >New Password <span class="text-danger">*</span></label
            >
            <div class="input-group">
              <input
                type="password"
                id="password"
                formControlName="password"
                [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
                placeholder="*******"
                value=""
                class="form-control"
              />
              <div
                *ngIf="submitted && f['password'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f['password'].errors['required']">
                  Password is required
                </div>
                <div *ngIf="f['password'].errors['minlength']">
                  Password must be at least 6 characters
                </div>
              </div>
            </div>
          </div>
          <div class="mb-2" style="padding: 10px">
            <label for="" style="color: #000000; font-weight: 500"
              >Confirm Password <span class="text-danger">*</span></label
            >
            <div class="input-group">
              <input
                type="password"
                id="password"
                formControlName="confirmPassword"
                [ngClass]="{
                  'is-invalid': submitted && f['confirmPassword'].errors
                }"
                placeholder="*******"
                value=""
                class="form-control"
              />
              <div
                *ngIf="submitted && f['confirmPassword'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f['confirmPassword'].errors['required']">
                  Confirm Password is required
                </div>
                <div *ngIf="f['confirmPassword'].errors['matching']">
                  Confirm Password does not match
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer" style="justify-content: space-between">
    <button
      type="button"
      class="btn btn-danger btn-outline-dark"
      style="
        border: none;
        color: #60251f;
        font-weight: bolder;
        background: #ffe0dd;
        float: left;
      "
      (click)="close()"
    >
      CANCEL
    </button>
    <button
      type="button"
      class="btn btn-success btn-outline-dark"
      style="border: none; color: white; font-weight: bolder"
      (click)="submit()"
    >
      SUBMIT
    </button>
  </div>
</ng-template>
<!-- <ngb-modal-window role="dialog" tabindex="-1" aria-modal="true" aria-labelledby="modal-basic-title"
    class="d-block modal fade show">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modal-basic-title" class="modal-title"
                    style="font-weight: normal;font-size: 18px;font-weight: 500;margin-top: 5px;">Reset Password

                </h4><button type="button" aria-label="Close" class="btn btn-danger btn-close" style="padding: 10px 20px !important;text-align: center !important;background: #ff000087;color: black;border: none;
    padding-right: 15px !important;background: #ff000026;color: #ff000087;"><i class="fas fa-times"></i></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer" style="justify-content: space-between;"><button type="button"
                    class="btn btn-danger btn-outline-dark"
                    style="border: none;color: #60251f;font-weight: bolder;background: #ffe0dd;float: left;">CANCEL</button><button
                    type="button" class="btn btn-success btn-outline-dark"
                    style="border: none;color: white;font-weight: bolder;">OK</button></div>
        </div>
    </div>
</ngb-modal-window> -->
