.body{
    max-width: 500px;
    margin: 0px auto;
    padding: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.LoginText{
    margin: 50px 0px;
}
h2{
    font-size: 2rem;
    color: #93d500;
}
.input{
    border: none;
    height: 50px;
    margin-bottom: 1.25rem;
    background-color: rgba(247,247,249,.7);
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    -webkit-transition: background-color .3s;
    transition: background-color .3s ease;
}
.forgotPw{
    color:  #a7abc3;
    font-size: 15px;
    line-height: 22px;
}
.login_actions{
    margin: 50px 0px;
    align-items: center;
    display: flex;
}
.no_padding{
    padding: 0px;
}
.login_btn{
    display: inline-block;
    font-weight: normal;

    color: #fff;
    background-color: #4fbf42;
    border-color: #4fbf42;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;

    padding: 8.5px 32.5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    float: right;
}
.testios{
    display: block !important;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 6rem;
  }
  
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .flex-row {
    flex-direction: row;
  }
  
  .justify-between {
    justify-content: space-between;
  }
  
  .items-center {
    align-items: center;
  }
  
  .gap-4 {
    gap: 1rem;
  }
  
  .gap-6 {
    gap: 1.5rem;
  }
  
  .gap-8 {
    gap: 2rem;
  }
  
  .text-sm {
    font-size: 0.875rem;
  }
  
  .text-base {
    font-size: 1rem;
  }
  
  .font-semibold {
    font-weight: 600;
  }
  
  .border-r {
    border-right: 1px solid #e2e8f0;
  }
  
  .pr-2 {
    padding-right: 0.5rem;
  }
  
  .md\:pr-5 {
    padding-right: 1.25rem;
  }
  
  .hover\:underline:hover {
    text-decoration: underline;
  }