<toggle-staging [forceShow]="showSwitchToLive"></toggle-staging>
<div class="body" [ngClass]="{'mt-5': showSwitchToLive }">
  <a href="https://manduu.com/">
    <img class="center" src="/assets/common/images/app-logo-on-dark.svg" width="200px" />
  </a>
  <h2 class="LoginText center" style="margin: 30px 0px">Client Login</h2>

  <div class="">
    <form>
      <div class="form-group">
        <input type="text" class="form-control input" placeholder="Username *" name="username" [(ngModel)]="username" />
      </div>
      <input type="{{ passwordData.type }}" class="form-control input" placeholder="Password *" [(ngModel)]="password"
        name="password" />
      <div class="row" style="width: 100%; margin: 0px">
        <div class="col-6 no_padding" style="border-right: 2px solid #dfdfdf; padding-top: 5px">
          <span style="display: block; width: 100%; cursor: pointer" (click)="togglePw()"><i
              class="fas {{ passwordData.icon }}" style="
              margin-right: 4px;
              font-size: 18px;
              margin-left: 6px;
              opacity: 0.3;
              margin-left: 20px;
            "></i>
            {{ passwordData.text }}</span>
        </div>
        <div class="col-6 no_padding" style="padding-top: 5px">
          <div class="row">
            <div class="col-8 no_padding" style="text-align: right; padding-right: 10px">
              <label for="example_12">Remember Me</label>
            </div>
            <div class="col-3 no_padding" style="padding-top: 8px; opacity: 0.7">
              <div class="custom-switch pl-0 custom-switch-xs">
                <input type="checkbox" class="custom-switch-input" id="example_12" [(ngModel)]="rememberMe"
                  name="rememberMe" />
                <label class="custom-switch-btn text-hide" for="example_12"></label>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="savedUsers?.length > 0" style="
          background-color: #f7f7f7;
          padding-bottom: 10px;
          width: 100%;
          margin-top: 10px;
          border-radius: 10px;
        ">
          <small _ngcontent-mvu-c109="" style="
            font-weight: bold;
            text-align: center;
            display: block;
            margin-top: 10px;
            opacity: 0.5;
            display: block;
            width: 100%;
            margin-bottom: 10px;
          ">Saved Logins</small>
          <div _ngcontent-mvu-c109="" class="col-12" style="
            margin-top: 0px; /* background-color: #f5f5f5; */ /* display: flex; */
            overflow: hidden; /* height: 200px; */
            vertical-align: middle;
            display: flex;
          ">
            <br style="display: block" />

            <span style="
              display: inline-block;
              align-items: center;
              font-weight: bold;
              /* color: grey; */
              border: 1px solid #d9d9d9;
              width: 30%;
              border-radius: 10px;
              padding: 10px 20px;
              margin-right: 15px;

              height: 120px;
              padding-bottom: 0px;
            " *ngFor="let saved of savedUsers">
              <span (click)="deleteSaved(saved.username)" style="
                width: 20px;
                height: 20px;
                background: #a7a7a7;
                border-radius: 100%; /* padding: 9px 0px; */
                text-align: center; /* margin-top: 5px; */
                position: absolute;margin-top: -20px;margin-left: px;color: white;box-shadow: 0px 5px 8px 0px #a5a5a5;
                position: relative;
                margin-top: -5px;
                margin-right: -15px;
                color: white;
                box-shadow: 0px 5px 8px 0px #a5a5a5;
                right: 0;
                float: right;
              "><i _ngcontent-mvu-c109="" class="fa fa-times" style="opacity: 0.75"></i></span>
              <span _ngcontent-mvu-c109="" style="
                width: 20px;
                height: 20px;
                margin-right: 15px;
                font-weight: 100;
                font-weight: 100;
                background: white;
                border-radius: 100%;
                padding: 14px 19px;
                text-align: center;
                margin-top: 5px;
                margin-bottom: 10px;
                display: table;
                box-shadow: 0px 5px 8px 0px #a5a5a5;
              "><i _ngcontent-mvu-c109="" class="fa fa-user" style="opacity: 0.3"
                  (click)="this.actions.doLogin(saved.username, saved.password)"></i>
              </span>
              <div (click)="this.actions.doLogin(saved.username, saved.password)"
                style="opacity: 0.5; overflow: hidden; width: 100%; height: 100%">
                {{ saved.username }}
              </div>
            </span>
          </div>
        </div>
      </div>
      <div class="row login_actions" style="margin: 30px 0px; margin-bottom: 0">
        <div class="col-12 no_padding">
          <button id="loginBtn" class="btn btn-block btn-success login_btn" style="font-weight: bolder; font-size: 16px"
            (click)="Login()">
            Login
          </button>
        </div>
        <div class="col-12 no_padding" style="padding-top: 20px; text-align: center" (click)="sendForgetPassword()">
          <button class="forgotPw" style="border:none;background: none; color: #000;">Forgot Password?</button>
        </div>
      </div>
      <div class="center LoginText" style="margin-bottom: 20px; margin: 0px">
        <!--<button class="btn btn-success login_btn" style="
       float: none;
    margin: 20px;
    background: #efefef;
    font-weight: bolder;
    border-color: none;
    color: #5e5e5e;
    font-size: 15px;" 
                    (click)="bioLogin()">Biometrics Login </button>-->
        <hr style="margin: 20px 70px; margin-bottom: 35px" />
      </div>
      <div class="center LoginText" style="display: block; margin-top: 10px">
        <a href="" style="display: none">Staff Login |</a>

        <button class="btn btn-block btn-secondary" (click)="this.actions.navigatePage(['signup'])" style="
          font-size: 16px;
          background: #edffeb;
          color: #29ad1b;
          border: 2px solid #35a12a47;
          border-radius: 6px;
        ">
          Create Account
        </button>
        <a href="" style="display: none"> | Email Activation</a>
      </div>
    </form>
  </div>


</div>
<forgot-password-modal #forgotPasswordModal></forgot-password-modal>

<div class="d-flex flex-column gap-2 align-items-center pb-5 bg-dark text-white">

  <footer class="py-2 bg-gray-100">
    <div class="container">
      <div class="row justify-content-center text-center">
        <span>
          Download the Manduu App:
        </span>
        <div class="col-12 mb-3">
          <div class="d-flex justify-content-center align-items-center">
            <a href="https://play.google.com/store/apps/details?id=com.manduuclient.app" class="mr-3">
              <img src="../../assets/images/playstore.png" height="40" alt="Google Play" />
            </a>
            <a href="https://apps.apple.com/app/manduu-client-app-ems-fitness/id6479909975">
              <img src="../../assets/images/download-on-the-app-store-badge.png" height="40" alt="App Store" />
            </a>
          </div>
        </div>
        <div class="col-12 mb-3">
          <p class="mb-0">
            &copy; Copyright Manduu |
            Email Contact: <span class="font-weight-bold">info@manduu.com</span>
          </p>
        </div>
        <div class="col-12 text-white">
          <div class="d-flex justify-content-center">
            <a href="#" class="px-2 text-white">Sitemap</a>
            <span class="px-2">|</span>
            <a href="#" class="px-2 text-white">Terms of Service</a>
            <span class="px-2">|</span>
            <a href="#" class="px-2 text-white">Terms & Conditions</a>
            <span class="px-2" text-white>|</span>
            <a href="#" class="px-2 text-white">Privacy Policy</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>