<!--<ngx-pull-to-refresh
    spinnerColor="#ff0000"
  spinnerSize="50"
    distanceForRefresh="40"
    [isEnable]="true"
    [targetElement]="targetElement"
    (refresh)="myRefreshEvent($event, 'refresh')"
    (loadMore)="alert('loadmore')"
    style="display:block;height:100%;">
  <div style="height: 3000px">long content</div>
</ngx-pull-to-refresh>-->
<!--<button (click)="requestPushNotificationsPermission()">
  Enable notifications!
</button>
[hidden]="!this.actions.spinner"--

[hidden]="!this.actions.alert.status"

-->

<div style="float: right;  right: 0; position: fixed; z-index: 10001;">
    <div *ngFor="let toast of this.actions.alert.toasts" style="
    margin-bottom: 10px;
    z-index: 10001;
    color: white;
    background: #41a728;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 7px #239306;
    margin: 20px;
    font-weight: bolder;
      -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
    ">
        {{ toast.message }}
    </div>
</div>
<div class="spinner" [style.opacity]="!this.actions.alert.status ? '0' : '1'"
    [style.visibility]="!this.actions.alert.status ? 'hidden' : 'visible'" style="
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;

    background: #0000008a;
    padding-top: 0px;
    color: white !important;">
    <div style="
    align-content: center;
    /* flex-wrap: wrap; */
    background: white;
    display: block;
    max-width: 500px; margin: 0px auto;
    margin-top: 100px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: -1px 3px 6px 1px #606060;
">
        <span style="
    border-radius: 10px;
    left: 0px;
    position: relative;
    display: block;
    color: black;
    font-size: 40px;">
            <div class="fas fa-info-circle" role="status"></div>
        </span>

        <span *ngIf="this.actions.alert.title !== null" style=" position: relative;
    display: block;
    color: black;
    margin: 20px 0px;">
            <h2>{{ this.actions.alert.title }}</h2>
        </span>

        <span *ngIf="this.actions.alert.title == null">
            <br>
        </span>
        <span style="
       font-size: 18px;
    font-weight: bolder;
    color: black;
    font-weight: normal;
    padding: 5px 20px;
    display: inline-block;
    letter-spacing: .1px;
    text-align: center;
    width: 100%;
    word-wrap: break-word;
">{{this.actions.alert.alert}}</span>
        <button (click)="this.actions.AlertBtn(this.actions.alert.alert.route)" style="
display: block;
    margin: 0px auto;
    float: none;
    margin-top: 20 px;
    border: none;
    font-size: 18px;
    padding: 5px 15px;
    font-weight: bold;
    margin-top: 20px;
    " class="btn btn-success">
            <!--{{this.actions.alert.alert.btnLabel}}-->
            {{ this.actions.alert.btnText}}
        </button>
    </div>
</div>

<div class="spinner" *ngIf="actions.spinner" style="
        /*padding-top: 80% !important;*/
    background: #0000008a;
    padding-top: 0px;
    color: white !important;">
    <div style="/*text-align;
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin: auto;
    align-content: center;
    flex-wrap: wrap;*/
    height: 100%;
    display: flex;
    /* align-items: center; */
    /* width: 100%; */
    justify-content: center;
    /* vertical-align: -webkit-baseline-middle; */
    /* margin: auto; */
    /* display: block; */
    align-content: center;
    flex-wrap: wrap;
">
        <span style="background: #1a1515d9;padding: 20px;border-radius: 10px;">
            <div class="spinner-border" role="status"></div>
        </span>
        <br>
        <span style="
    /*font-weight: bolder;
    color: white;
    font-weight: bolder;
    background: ;
    padding: 5px 20px;
    margin-top: 20px;
    display: inline-block;
    letter-spacing: 1.5px;
    text-shadow: 0px 3px 5px black;*/
    font-weight: bolder;
    color: white;
    font-weight: bolder;
    padding: 5px 20px;
    /* margin-top: 20px; */
    display: inline-block;
    letter-spacing: 1.5px;
    text-shadow: 0px 3px 5px black;
    align-content: center;
    display: flex;
    align-items: center;
    max-width: 70%;
    text-align: left;

">{{this.actions.spinnerText}}</span></div>
</div>

<div *ngIf="noInternetConnection" style="text-align: center; background: #ffd1d1; font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;">
    <span>
        <span style="opacity: .5;">App Version: {{this.actions.appVersion}} - </span>
        <span style="
    width: 10px;
    height: 10px;
    background: #ff0000;
    padding: 1px;
    position: relative;
    display: inline-block;
    border-radius: 100%;
    margin-right: 5px;
"></span>
        Oops.. you are not connected to the internet </span> &nbsp; &nbsp; - <span
        style="margin-left: 10px; margin-right: 10px"> Last Updated - {{this.actions.userData.lastUpdated}} </span>
</div>
<div *ngIf="!noInternetConnection" style="text-align: center;     background: #2fa910;
    text-align: right;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
    color: #f1f1f1fa;">
    <span style="opacity: .7; margin-right: 10px; ">App Version: {{this.actions.appVersion}} </span>

    <span style="
    width: 10px;
    height: 10px;
    background: #00ff1f;
    padding: 1px;
    position: relative;
    display: inline-block;
    margin-right: 5px;
    border-radius: 100%;
"></span>
    <span>Connected</span>
    <!-- <span style="
    width: 10px;
    height: 10px;
    background: #ffbb00;
    padding: 1px;
    position: relative;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 100%;
"></span>
    <span>Refactored</span> -->
</div>
<div style="text-align: center; text-align: center;
    background: #104204;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    display: none;
    font-size: 14px;" *ngIf="this.actions.runningTasks.length > 1">
    {{this.actions.runningTasks.length -1}} Tasks Waiting To Update
    <br>
    <br>
    <button class="btn  btn-secondary btn-sm" (click)="this.actions.showTasks()">View All</button> &nbsp;
    <button class="btn btn-danger btn-sm" (click)="this.actions.removeTasks()">Cancel All</button>
</div>
<!--[swal]="['Oops!', 'This is not implemented yet :/', 'warning']" -->
<button style="display: none" id="submitBtn">Swal</button>


<router-outlet></router-outlet>