<siteNavigation class="dashboard-compact"></siteNavigation>
<div class="mt-5">
  <div class="container">
    <div class="tab-pane -div" role="tabpanel" aria-labelledby="-tab">
      <div class="kt-portlet mb-0">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
              <span>Personal Information</span>
              <small>
                enter your personal information
              </small>
            </h3>
          </div>
        </div>
        <div class="kt-form kt-form--label-right">
          <div class="kt-portlet__body">
            <div class="kt-section kt-section--first">
              <div class="kt-section__body">
                <div class="row">
                  <div class="col-6">
                    <div class="kt-avatar kt-avatar--outline" id="kt_user_avatar">
                      <div class="kt-avatar__holder" style="background-image: url({{profilePicture}});"></div><label
                        class="kt-avatar__upload client-prof-set-auto-avt-link" data-original-title="Change avatar"
                        data-toggle="modal" data-target="#exampleModalCenter" title="" (click)="openModal()"><i
                          class="fa fa-pen"></i></label><span class="kt-avatar__cancel"
                        data-original-title="Cancel avatar" data-toggle="kt-tooltip" title=""><i
                          class="fa fa-times"></i></span>
                    </div>

                  </div>
                  <div class="col-6">
                    <ul class="heroes mt-4" *ngIf="relativeStatistic">
                      <li><a><span
                            class="badge">{{ relativeStatistic.stringValue || relativeStatistic.numericValue || relativeStatistic.intValue }}</span>
                          {{ relativeStatistic.label }} </a></li>
                    </ul>
                  </div>
                </div>


                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                  aria-labelledby="exampleModalCenterTitle" aria-hidden="true" *ngIf="showModal">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Change Profile Picture</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="container">
                          <div class="card">
                            <div class="card-body">
                              <input type="file" (change)="fileChangeEvent($event)" />
                              <div class="row" style="margin-top: 15px;">
                                <div class="text-center col-md-12">
                                  <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                                    [aspectRatio]="4 / 4" [resizeToWidth]="128" format="png"
                                    (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
                                    (cropperReady)="cropperReady()" (imageCroppedFile)="imageCroppedFile($event)"
                                    (loadImageFailed)="loadImageFailed()"></image-cropper>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <div class="row">
                          <div class="col-sm-6">

                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                              style="font-weight: bold; opacity: 0.95">
                              Close
                            </button>
                          </div>
                          <div class="col-sm-6">
                            <button type="submit" class="btn btn-primary" id="closeModal" (click)="save()" style="
                        border-color: green;
                        float: right;
                        background: green;
                        font-size: 13px;
                        font-weight: bold;
                      ">
                              Save
                            </button>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

                <form *ngIf="clientUserData" class="form-size" [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
                  <div class="form-group row m-4">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Name</label>
                    <div class="col-sm-9">
                      <div class="row">
                        <div class="col-sm-12">
                          <input type="text" class="form-control" formControlName="name"
                            [(ngModel)]="clientUserData.user.name">
                        </div>
                        <div class="col-sm-12">
                          <div *ngIf="editProfileForm.get('name').invalid && (editProfileForm.get('name').dirty || editProfileForm.get('name').touched)"
                            class="alert alert-danger text-right">
                            <div *ngIf="editProfileForm.get('name').errors.required">
                              Name is required.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row m-4">
                    <label for="inputPassword3" class="col-sm-3 col-form-label">Last name</label>
                    <div class="col-sm-9">
                      <div class="row">
                        <div class="col-sm-12">
                          <input type="text" class="form-control" formControlName="surname"
                          [(ngModel)]="clientUserData.user.surname">
                        </div>
                        <div class="col-sm-12">
                          <div *ngIf="editProfileForm.get('surname').invalid && (editProfileForm.get('surname').dirty || editProfileForm.get('surname').touched)"
                            class="alert alert-danger text-right">
                            <div *ngIf="editProfileForm.get('surname').errors.required">
                              Last name is required.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row m-4">
                    <label for="inputDate" class="col-sm-3 col-form-label">Date of birth *</label>
                    <div class="col-sm-9">
                      <div class="row">
                        <div class="col-sm-12">
                      <input class="form-control" type="text" formControlName="dateOfBirth"
                      [(ngModel)]="dateBirth" bsDatepicker
                      value="dateBirth"
                      [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY', startView: 'year', adaptivePosition: true }">
                        </div>
                        <div class="col-sm-12">
                          <div *ngIf="editProfileForm.get('dateOfBirth').invalid && (editProfileForm.get('dateOfBirth').dirty || editProfileForm.get('dateOfBirth').touched)"
                            class="alert alert-danger text-right">
                            <div *ngIf="editProfileForm.get('dateOfBirth').errors.required">
                              Date of birth is required.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row m-4">
                    <label for="inputPassword3" class="col-sm-3 col-form-label">Gender</label>
                    <div class="col-sm-9">
                      <select class="form-control form-control-lg" formControlName="gender"
                        [(ngModel)]="clientUserData.user.gender">
                        <option disabled>Gender</option>
                        <option *ngFor="let gender of clientUserData.genders" [value]="gender">{{gender}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="divider"></div>

                  <h2>Contact Info</h2>
                  <div class="form-group row m-4">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-9">
                     <div class="row">
                      <div class="col-sm-12">
                        <input type="text" class="form-control" formControlName="emailAddress"
                        [(ngModel)]="clientUserData.user.emailAddress">
                      </div>
                      <div class="col-sm-12">
                        <div *ngIf="editProfileForm.get('emailAddress').invalid && (editProfileForm.get('emailAddress').dirty || editProfileForm.get('emailAddress').touched)"
                          class="alert alert-danger text-right">
                          <div *ngIf="editProfileForm.get('emailAddress').errors.required">
                            Email is required.
                          </div>
                        </div>
                      </div>
                     </div>
                    </div>
                  </div>
                  <div class="form-group row m-4">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Phone</label>
                    <div class="col-sm-9">
                      <div class="row">
                        <div class="col-sm-12">
                          <input type="text" class="form-control" formControlName="phoneNumber"
                            [(ngModel)]="clientUserData.user.phoneNumber">
                        </div>
                        <div class="col-sm-12">
                          <div *ngIf="editProfileForm.get('phoneNumber').invalid && (editProfileForm.get('phoneNumber').dirty || editProfileForm.get('phoneNumber').touched)"
                            class="alert alert-danger text-right">
                            <div *ngIf="editProfileForm.get('phoneNumber').errors.required">
                              Phone is required.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="form-group row m-4">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Street Address</label>
                    <div class="col-sm-9">
                      <div class="row">
                        <div class="col-sm-12">
                          <input type="text" class="form-control" formControlName="street"
                        [(ngModel)]="clientUserData.user.street">

                        </div>
                        <div class="col-sm-12">
                          <div *ngIf="editProfileForm.get('street').invalid && (editProfileForm.get('street').dirty || editProfileForm.get('street').touched)"
                            class="alert alert-danger text-right">
                            <div *ngIf="editProfileForm.get('street').errors.required">
                              Street is required.
                            </div>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                  <div class="form-group row m-4">
                    <label for="inputPassword3" class="col-sm-3 col-form-label">Street 2</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" formControlName="street2"
                        [(ngModel)]="clientUserData.user.street2">
                    </div>
                  </div>
                  <div class="form-group row m-4">
                    <label for="inputPassword3" class="col-sm-3 col-form-label">City</label>
                    <div class="col-sm-9">
                      <div class="row">
                        <div class="col-sm-12">
                          <input type="text" class="form-control" formControlName="city"
                            [(ngModel)]="clientUserData.user.city">
                        </div>
                        <div class="col-sm-12">
                          <div *ngIf="editProfileForm.get('city').invalid && (editProfileForm.get('city').dirty || editProfileForm.get('city').touched)"
                            class="alert alert-danger text-right">
                            <div *ngIf="editProfileForm.get('city').errors.required">
                              City is required.
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="form-group row m-4">
                    <label for="inputPassword3" class="col-sm-3 col-form-label">State</label>
                    <div class="col-sm-9">
                      <select class="form-control form-control-lg" formControlName="state"
                        [(ngModel)]="clientUserData.user.state">
                        <option [value]="clientUserData.user.state">{{clientUserData.user.state}}</option>
                        <option *ngFor="let state of clientUserData.states" [value]="state">{{state}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row m-4">
                    <label for="inputPassword3" class="col-sm-3 col-form-label">Zip Code</label>
                    <div class="col-sm-9">
                      <div class="row">
                        <div class="col-sm-12">
                          <input type="text" class="form-control" formControlName="zipCode"
                            [(ngModel)]="clientUserData.user.zipCode">
                        </div>
                        <div class="col-sm-12">
                          <div *ngIf="editProfileForm.get('zipCode').invalid && (editProfileForm.get('zipCode').dirty || editProfileForm.get('zipCode').touched)"
                            class="alert alert-danger text-right">
                            <div *ngIf="editProfileForm.get('zipCode').errors.required">
                              Zip Code is required.
                            </div>
                          </div>
                        </div>
                     
                    </div>
                  </div>
                  </div>

                  <div class="form-group row m-4">
                    <label for="inputPassword3" class="col-sm-3 col-form-label">Country</label>
                    <div class="col-sm-9">
                      <select class="form-control form-control-lg" formControlName="country"
                        [(ngModel)]="clientUserData.user.country">
                        <option disabled> select country</option>
                        <option *ngFor="let country of clientUserData.countries" [value]="country">{{country}}</option>
                      </select>
                    </div>
                  </div>

                  <p class="divider"></p>
                  <h2>Emergency Contact Info:</h2>

                  <div class="form-group row m-4">
                    <label for="inputPassword3" class="col-sm-3 col-form-label">First Name</label>
                    <div class="col-sm-9">
                      <div class="row">
                        <div class="col-sm-12">
                          <input type="text" class="form-control" formControlName="emergencyContactFirstName" [(ngModel)]="clientUserData.user.emergencyContactFirstName">
                        </div>
                        <div class="col-sm-12">
                          <div *ngIf="editProfileForm.get('emergencyContactFirstName').invalid && (editProfileForm.get('emergencyContactFirstName').dirty || editProfileForm.get('emergencyContactFirstName').touched)"
                            class="alert alert-danger text-right">
                            <div *ngIf="editProfileForm.get('emergencyContactFirstName').errors.required">
                              First Name is required.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  
                  <div class="form-group row m-4">
                    <label for="inputPassword3" class="col-sm-3 col-form-label">Last Name</label>

                    <div class="col-sm-9">
                      <div class="row">
                        <div class="col-sm-12">
                          <input type="text" class="form-control" formControlName="emergencyContactLastName" [(ngModel)]="clientUserData.user.emergencyContactLastName">
                        </div>
                        <div class="col-sm-12">
                          <div *ngIf="editProfileForm.get('emergencyContactLastName').invalid && (editProfileForm.get('emergencyContactLastName').dirty || editProfileForm.get('emergencyContactLastName').touched)"
                            class="alert alert-danger text-right">
                            <div *ngIf="editProfileForm.get('emergencyContactLastName').errors.required">
                              Last Name is required.
                            </div>
                          </div>
                        </div>
                      </div>
                      </div>
                  </div>


                  <div class="form-group row m-4">
                    <label for="inputPassword3" class="col-sm-3 col-form-label">Phone</label>
                    <div class="col-sm-9">
                      <div class="row">
                        <div class="col-sm-12">
                          <input type="text" class="form-control" formControlName="emergencyContact"
                            [(ngModel)]="clientUserData.user.emergencyContact">
                        </div>
                        <div class="col-sm-12">
                          <div *ngIf="editProfileForm.get('emergencyContact').invalid && (editProfileForm.get('emergencyContact').dirty || editProfileForm.get('emergencyContact').touched)"
                            class="alert alert-danger text-right">
                            <div *ngIf="editProfileForm.get('emergencyContact').errors.required">
                              Phone is required.
                            </div>
                          </div>
                          </div>
                      </div>
                    </div>
                  </div>

                  <p class="divider"></p>

                  <h2>Privacy:</h2>
                  <div class="form-group row m-4">
                    <label for="inputPassword3" class="col-sm-3 col-form-label">Friend invitation policy</label>
                    <div class="col-sm-9">
                      <select class="form-control form-control-lg" formControlName="friendInvitationPolicy"
                        [(ngModel)]="clientUserData.user.friendInvitationPolicy">
                        <option value="0">None</option>
                        <option value="1">Everyone</option>
                        <option value="2">Only friends</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row m-4">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-6">
                      <button type="submit"
                        style="border-color: green; float: right; padding: 5px 20px; background: green; font-size: 13px; font-weight: bold; color: #fff;"
                        class="btn" >Save</button>
                    </div>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>