<div class="container" *ngIf="!isRegistrationComplete">
  <h4>Welcome to Manduu! You have been scheduled. If you like, you can complete your profile now, or do it when you arrive at the studio.
  </h4>
    <form #mRegForm class="register-form" >
      <div [formGroup]="pFormGroup2">
        <div class="row mt-3">
          <div class="form-group col-md-4">
            <div
              *ngIf="pFormGroup2.controls.gender.invalid && (pFormGroup2.controls.gender.dirty || pFormGroup2.controls.gender.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="pFormGroup2.controls.gender.errors.required">Gender is required.</div>
            </div>
            <label for="">Gender <span class="text-danger">*</span></label>
            <div class="form-select">
              <select id="gender" formControlName="gender" required>
                <option value="" hidden selected></option>
                <option
                  *ngFor="let gender of listGender; let idx = index"
                  value="{{ gender }}"
                >
                  {{ gender }}
                </option>
              </select>
              <span class="select-icon"
                ><i class="zmdi fa fa-chevron-down"></i
              ></span>
            </div>
          </div>
          <div class="form-group col-md-4">
            <div
              *ngIf="
              pFormGroup2.controls.heightFeet.invalid && (pFormGroup2.controls.heightFeet.dirty || pFormGroup2.controls.heightFeet.touched)
              "
              class="alert alert-danger"
            >
              <div *ngIf="pFormGroup2.controls.heightFeet.errors.required">Height is required.</div>
            </div>
            <label for="">Height (Feet) <span class="text-danger">*</span></label>
            <div class="form-select">
              <select id="heightFeet" formControlName="heightFeet">
                <option value="" disabled selected hidden></option>
                <option
                  *ngFor="let height of listHeightFeet"
                  value="{{ height }}"
                >
                  {{ height }}
                </option>
              </select>
              <span class="select-icon"
                ><i class="zmdi fa fa-chevron-down"></i
              ></span>
            </div>
          </div>
          <div class="form-group col-md-4">
            <div
              *ngIf="
              pFormGroup2.controls.heightInches.invalid &&
                (pFormGroup2.controls.heightInches.dirty || pFormGroup2.controls.heightInches.touched)
              "
              class="alert alert-danger"
            >
              <div *ngIf="pFormGroup2.controls.heightInches.errors.required">Height is required.</div>
            </div>
            <label for=""
              >Height (Inches) <span class="text-danger">*</span></label
            >
            <div class="form-select">
              <select id="heightInches" formControlName="heightInches">
                <option value="" disabled selected hidden></option>
                <option
                  *ngFor="let height of listHeightInches"
                  value="{{ height }}"
                >
                  {{ height }}
                </option>
              </select>
              <span class="select-icon"
                ><i class="zmdi fa fa-chevron-down"></i
              ></span>
            </div>
          </div>
        </div>
        <h2>Address Information</h2>
        <div class="row">
          <div class="form-group col-md-4">
            <div
              *ngIf="pFormGroup2.controls.street.invalid && (pFormGroup2.controls.street.dirty || pFormGroup2.controls.street.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="pFormGroup2.controls.street.errors.required">Address is required.</div>
            </div>
            <label for=""
              >Street Address <span class="text-danger">*</span></label
            >
            <input type="text" id="street" formControlName="street" required />
          </div>
          <div class="form-group col-md-4">
            <label for="">Street Address 2</label>
            <input type="text" name="" id="street2" required />
          </div>
          <div class="form-group col-md-4">
            <div
              *ngIf="pFormGroup2.controls.city.invalid && (pFormGroup2.controls.city.dirty || pFormGroup2.controls.city.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="pFormGroup2.controls.city.errors.required">City is required.</div>
            </div>
            <label for="">City <span class="text-danger">*</span></label>
            <input type="text" id="city" formControlName="city" required />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-4">
            <div
              *ngIf="pFormGroup2.controls.state.invalid && (pFormGroup2.controls.state.dirty || pFormGroup2.controls.state.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="pFormGroup2.controls.state.errors.required">State is required.</div>
            </div>
            <label for="">State <span class="text-danger">*</span></label>
            <div class="form-select">
              <select id="state" formControlName="state">
                <option value="" disabled selected hidden></option>
                <option *ngFor="let state of states" value="{{ state }}">
                  {{ state }}
                </option>
              </select>
              <span class="select-icon"
                ><i class="zmdi fa fa-chevron-down"></i
              ></span>
            </div>
          </div>
          <div class="form-group col-md-4">
            <div
              *ngIf="pFormGroup2.controls.zipcode.invalid && (pFormGroup2.controls.zipcode.dirty || pFormGroup2.controls.zipcode.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="pFormGroup2.controls.zipcode.errors.required">Zipcode is required.</div>
            </div>
            <label for="">Zipcode <span class="text-danger">*</span></label>
            <input
              type="text"
              id="zipcode"
              formControlName="zipcode"
              required
              maxlength="6"
            />
          </div>
          <div class="form-group col-md-4">
            <div
              *ngIf="pFormGroup2.controls.country.invalid && (pFormGroup2.controls.country.dirty || pFormGroup2.controls.country.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="pFormGroup2.controls.country.errors.required">Country is required.</div>
            </div>
            <label for="">Country <span class="text-danger">*</span></label>
            <div class="form-select">
              <select id="country" formControlName="country">
                <option value="" disabled selected hidden></option>
                <option *ngFor="let country of countries" value="{{ country }}">
                  {{ country }}
                </option>
              </select>
              <span class="select-icon"
                ><i class="zmdi fa fa-chevron-down"></i
              ></span>
            </div>
          </div>
        </div>
        <h2>Emergency Contact Information</h2>
        <div class="row">
          <div class="form-group col-md-4">
            <div
              *ngIf="
              pFormGroup2.controls.ecFirstname.invalid && (pFormGroup2.controls.ecFirstname.dirty || pFormGroup2.controls.ecFirstname.touched)
              "
              class="alert alert-danger"
            >
              <div *ngIf="pFormGroup2.controls.ecFirstname.errors.required">
                Firstname is required.
              </div>
            </div>
            <label for="ecFirstname"
              >First Name <span class="text-danger">*</span></label
            >
            <input
              type="text"
              id="ecFirstname"
              formControlName="ecFirstname"
              required
            />
          </div>
          <div class="form-group col-md-4">
            <div
              *ngIf="
              pFormGroup2.controls.ecLastname.invalid && (pFormGroup2.controls.ecLastname.dirty || pFormGroup2.controls.ecLastname.touched)
              "
              class="alert alert-danger"
            >
              <div *ngIf="pFormGroup2.controls.ecLastname.errors.required">Lastname is required.</div>
            </div>
            <label for="">Last Name <span class="text-danger">*</span></label>
            <input
              type="text"
              id="ecLastname"
              formControlName="ecLastname"
              required
            />
          </div>
          <div class="form-group col-md-4">
            <div
              *ngIf="
              pFormGroup2.controls.ecPhonenumber.invalid &&
                (pFormGroup2.controls.ecPhonenumber.dirty || pFormGroup2.controls.ecPhonenumber.touched)
              "
              class="alert alert-danger"
            >
              <div *ngIf="pFormGroup2.controls.ecPhonenumber.errors.required">
                Phone number is required.
              </div>
              <div *ngIf="pFormGroup2.controls.ecPhonenumber.errors.minlength">
                Phone number cannot be less than 10 characters.
              </div>
            </div>
            <label for="">Phone number <span class="text-danger">*</span></label>
            <input
              type="tel"
              id="ecPhonenumber"
              formControlName="ecPhonenumber"
              maxlength="10"
              required
            />
          </div>
        </div>
      </div>
      <div class="form-group">
        <h4 class="mt-4 mb-4 text-left">Short Quiz</h4>
        <div class="form-group">
          <label for="howDidYouHearAboutUs" class="control-label text-left">How did you hear about us?<span class="text-danger">*</span></label>
          <div class="kt-checkbox-list">
            <label *ngFor="let item of howDidYouHearAboutUsItems; let i = index" class="kt-checkbox">
              <input
                #howDidYouHearAboutUs
                [checked]="howDidYouHearAboutUsList.includes(item.key)"
                (change)="setHowDidYouHearAboutUs(item.key)"
                id="howDidYouHearAboutUs_{{ i }}"
                type="checkbox"
              />
              {{ item.name }}
              <span></span>
            </label>
          </div>
        </div>
      
        <div class="form-group" *ngIf="howDidYouHearAboutUsList.includes('referred')">
          <label for="referredBy" class="control-label">Please Specify Friend </label>
          <input
            id="referredBy"
            class="form-control"
            type="text"
            placeholder="Please Specify Friend *"
          />
          <div *ngIf="pFormGroup2.get('referredBy').invalid && (pFormGroup2.get('referredBy').dirty || pFormGroup2.get('referredBy').touched)" class="alert alert-danger">
            <div *ngIf="pFormGroup2.get('referredBy').errors.required">Please specify the friend.</div>
          </div>
        </div>
      
        <div class="form-group" *ngIf="howDidYouHearAboutUsList.includes('other')">
          <label for="referredOther" class="control-label">Please Specify</label>
          <input
            id="referredOther"
            class="form-control"
            type="text"
            placeholder="Please Specify *"
          />
          <div *ngIf="pFormGroup2.get('referredOther').invalid && (pFormGroup2.get('referredOther').dirty || pFormGroup2.get('referredOther').touched)" class="alert alert-danger">
            <div *ngIf="pFormGroup2.get('referredOther').errors.required">Please specify the details.</div>
          </div>
        </div>
      </div>
              
      <button class="submit next-button" (click)="onSubmit()">
        Update
      </button>
    </form>
</div>

<div *ngIf="isRegistrationComplete" class="alert alert-outline-success fade show alert-bold"
        role="alert" style=" border: 1px solid #a5a5a5;
    width: 95%;
    margin: 0px auto;
    padding-top: 30px;
    background: #fbfbfb;">
        <div class="alert-text  get-started-auto-sessionsuccessform">
            <div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex;">
                <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
                <span class="swal2-success-line-tip"></span>
                <span class="swal2-success-line-long"></span>
                <div class="swal2-success-ring"></div>
                <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
                <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
            </div>
            <h4 class="alert-heading text-center get-started-auto-success-session" style="
    color: #000000;
    font-weight: bold;
    text-align: left !important;">
                User registration Done  </h4>
            <br />
            <p class="text-center" style="
    text-align: left !important;
    color: black;">
    You have successfully finished your registration, please click next to finish the rest of the onboarding
            </p>
            <hr style="    border-top: 2px solid #ffc106;">
            <p class="text-center" style="
    text-align: left !important;
    color: black;
    font-weight: bolder;">
     

                Click Next to continue.
            </p>
        </div>
  </div>

  