/* @extend display-flex; */
display-flex,
.signup-content,
.form-row,
.form-radio,
.select-icon,
.select-icon i {
    display: flex;
    display: -webkit-flex;
}

/* @extend list-type-ulli; */
list-type-ulli {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:focus,
a:active {
    text-decoration: none;
    outline: none;
    transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s;
}

input,
select,
textarea {
    outline: none;
    appearance: unset !important;
    -moz-appearance: unset !important;
    -webkit-appearance: unset !important;
    -o-appearance: unset !important;
    -ms-appearance: unset !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    -o-appearance: none !important;
    -ms-appearance: none !important;
    margin: 0;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    -ms-box-shadow: none !important;
}

input[type=checkbox] {
    appearance: checkbox !important;
    -moz-appearance: checkbox !important;
    -webkit-appearance: checkbox !important;
    -o-appearance: checkbox !important;
    -ms-appearance: checkbox !important;
}

input[type=radio] {
    appearance: radio !important;
    -moz-appearance: radio !important;
    -webkit-appearance: radio !important;
    -o-appearance: radio !important;
    -ms-appearance: radio !important;
}

img {
    max-width: 100%;
    height: auto;
}

figure {
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield !important;
    appearance: none !important;
    -webkit-appearance: none !important;
}

input:-webkit-autofill {
    box-shadow: 0 0 0 30px transparent inset;
    -moz-box-shadow: 0 0 0 30px transparent inset;
    -webkit-box-shadow: 0 0 0 30px transparent inset;
    -o-box-shadow: 0 0 0 30px transparent inset;
    -ms-box-shadow: 0 0 0 30px transparent inset;
}
.signup{
    font-size: 26px;
    font-weight: bolder;
}
h2 {
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: 500;
    color: #222;
    /*font-family: "Roboto Condensed", sans-serif !important;*/
    font-size: 20px;
   /* text-transform: uppercase;*/
    margin-bottom: 32px;
}

.clear {
    clear: both;
}

body {
    font-size: 13px;
    line-height: 1.8;
    color: #222;
    font-weight: 400;
    background: #282828;
    padding: 90px 0;
}

.container {
    width: 1400px;
    position: relative;
    margin: 0 auto;
    background: #fff;
}

.signup-img,
.signup-form {
    width: 80%;
    margin-left: 10%;
}

.signup-img {
    margin-bottom: -7px;
}

.register-form {
    padding: 50px;
}

.form-row {
    margin: 0 -15px;
}

.form-row .form-group {
    width: 50%;
    padding: 0 15px;
}

.form-row .form-group.col-4 {
    width: 33.33%;
}

.form-group {
    margin-bottom: 23px;
    position: relative;
}

input,
select {
    display: block;
    width: 100%;
    border: 1px solid #ebebeb;
    padding: 11px 20px;
    box-sizing: border-box;
   /* font-family: "Roboto Condensed", sans-serif !important;*/
    font-weight: 500;
    font-size: 13px;
}

input:focus,
select:focus {
    border: 1px solid #4fbf42;
}

label {
    font-size: 14px;
    /*font-family: "Roboto Condensed", sans-serif !important;*/
    margin-bottom: 2px;
    display: block;
}

.form-radio {
    margin-bottom: 18px;
}

.form-radio input {
    width: auto;
    display: inline-block;
}

.radio-label {
    padding-right: 72px;
}

.form-radio-item {
    position: relative;
    margin-right: 45px;
}

.form-radio-item label {
    font-weight: 500;
    font-size: 13px;
    padding-left: 25px;
    position: relative;
    z-index: 9;
    display: block;
    cursor: pointer;
}

.check {
    display: inline-block;
    position: absolute;
    border: 1px solid #ebebeb;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    height: 13px;
    width: 13px;
    top: 4px;
    left: 0px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

.check:before {
    position: absolute;
    display: block;
    content: '';
    width: 9px;
    height: 9px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    top: 2px;
    left: 2px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

input[type=radio] {
    position: absolute;
    visibility: hidden;
}

input[type=radio]:checked~.check {
    border: 1px solid #4fbf42;
}

input[type=radio]:checked~.check::before {
    background: #4fbf42;
}

.form-select {
    position: relative;
}

select {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    -o-appearance: none !important;
    -ms-appearance: none !important;
    position: relative;
    background: 0 0;
    z-index: 10;
    cursor: pointer;
}

.select-icon {
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
}

.select-icon i {
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    width: 40px;
    height: 20px;
    font-size: 18px;
    color: #999;
}

.form-submit {
    text-align: right;
    padding-top: 27px;
}

.submit {
    width: 140px;
    height: 40px;
    display: inline-block;
    /*font-family: "Roboto Condensed", sans-serif !important;*/
    font-weight: 400;
    font-size: 13px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.prev-button {
    background: #f8f8f8;
    color: #999;
    margin-right: 8px;
}

.next-button {
    background: #4fbf42;
    color: #fff;
}

.next-button:hover,
.prev-button:hover {
    background-color: #6ed738;
    color: #fff;
}

input[disabled] {
    opacity: 0.4;
    cursor: unset !important;
}

@media screen and (max-width: 992px) {
    .container {
        width: calc(100% - 40px);
        max-width: 100%;
    }

    .signup-content {
        flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -o-flex-direction: column;
        -ms-flex-direction: column;
    }

    .signup-img,
    .signup-form {
        width: 100%;
        margin-left: 0;
    }
}

@media screen and (max-width: 768px) {
    .register-form {
        padding: 50px 0;
    }
}

.error-message{
    color: red;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 15px;
}

@media screen and (max-width: 575px) {
    .form-row {
        flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -o-flex-direction: column;
        -ms-flex-direction: column;
        margin: 0px;
    }

    .form-row .form-group,
    .form-row .form-group.col-4 {
        width: 100%;
        padding: 0px;
    }

    .radio-label {
        padding-right: 22px;
    }

    .form-radio-item {
        margin-right: 25px;
    }
}

@media screen and (max-width: 480px) {
    .form-radio {
        flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -o-flex-direction: column;
        -ms-flex-direction: column;
    }

    .submit {
        width: 100%;
    }

    .prev-button {
        margin-right: 0px;
        margin-bottom: 10px;
    }
}

.alert.alert-danger {
    background: none;
    border: none;
    color: #fd397a;
    padding: 0;
    font-size: 1rem;
    margin: 0;
    position: absolute;
    top: -20px;
}

select:invalid {
    color: gray;
}
.scheduleTime {
font-weight: 900;
}

.form-control {
    height: 3rem;
    padding: 0%;
    margin: 0%;
    padding-left: 1rem;
}

.input-group-append .btn i {
    padding-right: 0;
}