<div class="dashboard_header">
  <div class="container">
    <div class="tab-pane" role="tabpanel">
      <div
        class="kt-portlet mb-0"
        style="box-shadow: none; -webkit-box-shadow: none"
      >
        <div class="kt-portlet__body">
          <div class="kt-section kt-section--first">
            <div class="kt-section__body">
              <div class="signup-form">
                <a href="dashboard"
                  ><img
                    class="mx-auto d-block"
                    src="/assets/common/images/app-logo-on-dark.svg"
                    width="200px"
                /></a>
                <form #mRegForm class="register-form">
                  <h2 class="signup">Sign Up</h2>
                  <div *ngIf="showFormGroup1" [formGroup]="pFormGroup1">
                    <h2>Personal Information</h2>
                    <div class="form-row">
                      <div class="form-group">
                        <div
                          *ngIf="
                            firstname.invalid &&
                            (firstname.dirty || firstname.touched)
                          "
                          class="alert alert-danger"
                        >
                          <div *ngIf="firstname.errors.required">
                            Firstname is required.
                          </div>
                        </div>
                        <label for="firstname"
                          >First Name <span class="text-danger">*</span></label
                        >
                        <input
                          type="text"
                          id="firstname"
                          formControlName="firstname"
                          required
                        />
                      </div>
                      <div class="form-group">
                        <div
                          *ngIf="
                            lastname.invalid &&
                            (lastname.dirty || lastname.touched)
                          "
                          class="alert alert-danger"
                        >
                          <div *ngIf="lastname.errors.required">
                            Lastname is required.
                          </div>
                        </div>
                        <label for=""
                          >Last Name <span class="text-danger">*</span></label
                        >
                        <input
                          type="text"
                          id="lastname"
                          formControlName="lastname"
                          required
                        />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group">
                        <div
                          *ngIf="
                            email.invalid && (email.dirty || email.touched)
                          "
                          class="alert alert-danger"
                        >
                          <div *ngIf="email.errors.required">
                            Email  is required.
                          </div>
                          <div *ngIf="email.errors.email">Invalid email.</div>
                        </div>
                        <label for=""
                          >Email <span class="text-danger">*</span></label
                        >
                        <input
                          type="email"
                          id="email"
                          formControlName="email"
                          required
                        />
                      </div>
                      <div class="form-group">
                        <div
                          *ngIf="
                            phonenumber.invalid &&
                            (phonenumber.dirty || phonenumber.touched)
                          "
                          class="alert alert-danger"
                        >
                          <div *ngIf="phonenumber.errors.required">
                            Phone number is required.
                          </div>
                          <div *ngIf="phonenumber.errors.minlength">
                            Phone number cannot be less than 10 characters.
                          </div>
                        </div>
                        <label for=""
                          >Phone number
                          <span class="text-danger">*</span></label
                        >
                        <input
                          type="tel"
                          id="phonenumber"
                          formControlName="phonenumber"
                          maxlength="10"
                          required
                        />
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="form-group">
                        <label for=""
                          >Date of Birth
                          <span class="text-danger">*</span></label
                        >
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <div class="form-select">
                          <div
                            *ngIf="mob.invalid && (mob.dirty || mob.touched)"
                            class="alert alert-danger"
                          >
                            <div *ngIf="mob.errors.required">
                              Month is required.
                            </div>
                          </div>
                          <select formControlName="mob" required>
                            <option value="" disabled selected hidden>
                              Select Month
                            </option>
                            <option
                              *ngFor="let month of listMonths; let idx = index"
                              value="{{ idx + 1 }}"
                            >
                              {{ month }}
                            </option>
                          </select>
                          <span class="select-icon"
                            ><i class="zmdi fa fa-chevron-down"></i
                          ></span>
                        </div>
                      </div>
                      <div class="form-group col-md-4">
                        <div class="form-select">
                          <div
                            *ngIf="dob.invalid && (dob.dirty || dob.touched)"
                            class="alert alert-danger"
                          >
                            <div *ngIf="dob.errors.required">
                              Day is required.
                            </div>
                          </div>
                          <select formControlName="dob" required>
                            <option value="" disabled selected hidden>
                              Day
                            </option>
                            <option
                              *ngFor="let day of listDays"
                              value="{{ day }}"
                            >
                              {{ day }}
                            </option>
                          </select>
                          <span class="select-icon"
                            ><i class="zmdi fa fa-chevron-down"></i
                          ></span>
                        </div>
                      </div>
                      <div class="form-group col-md-4">
                        <div class="form-select">
                          <div
                            *ngIf="yob.invalid && (yob.dirty || yob.touched)"
                            class="alert alert-danger"
                          >
                            <div *ngIf="yob.errors.required">
                              Year is required.
                            </div>
                          </div>
                          <select formControlName="yob" required>
                            <option value="" disabled selected hidden>
                              Year
                            </option>
                            <option
                              *ngFor="let year of listYears"
                              value="{{ year }}"
                            >
                              {{ year }}
                            </option>
                          </select>
                          <span class="select-icon"
                            ><i class="zmdi fa fa-chevron-down"></i
                          ></span>
                        </div>
                      </div>
                    </div>
                   

                    <!-- <h2>Account Information</h2> -->
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <div
                          *ngIf="
                            password.invalid &&
                            (password.dirty || password.touched)
                          "
                          class="alert alert-danger"
                        >
                          <div *ngIf="password.errors.required">
                            Password is required.
                          </div>
                          <div *ngIf="password.errors.minlength">
                            Password length less than
                            {{ minimumPasswordLength }}.
                          </div>
                        </div>
                        <label for=""
                          >Password <span class="text-danger">*</span></label
                        >
                        <input
                          type="password"
                          id="password"
                          formControlName="password"
                          required
                        />
                      </div>
                      <div class="form-group col-md-6">
                        <div
                          *ngIf="
                            confirmPassword.invalid &&
                            (confirmPassword.dirty || confirmPassword.touched)
                          "
                          class="alert alert-danger"
                        >
                          <div *ngIf="confirmPassword.errors.required">
                            Confirm Password is required.
                          </div>
                          <div *ngIf="confirmPassword.errors.matchPassword">
                            Invalid match.
                          </div>
                        </div>
                        <label for=""
                          >Confirm Password
                          <span class="text-danger">*</span></label
                        >
                        <input
                          type="password"
                          id="confirmPassword"
                          formControlName="confirmPassword"
                          required
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <div
                        *ngIf="
                          studio.invalid && (studio.dirty || studio.touched)
                        "
                        class="alert alert-danger"
                      >
                        <div *ngIf="studio.errors.required">
                          Studio is required.
                        </div>
                      </div>
                      <label for=""
                        >Studio <span class="text-danger">*</span></label
                      >
                      <div class="form-select">
                        <select
                          id="studio"
                          formControlName="studio"
                          (change)="onStudioSelected($event.target.value)"
                        >
                          <option value="" disabled selected hidden></option>
                          <option
                            *ngFor="let studio of studios"
                            value="{{ studio.id }}"
                          >
                            {{ studio.name }}
                          </option>
                        </select>
                        <span class="select-icon"
                          ><i class="zmdi fa fa-chevron-down"></i
                        ></span>
                      </div>
                    </div>

                    <h2>Schedule First Session</h2>
                    <div class="form-row">
                      <div class="form-group">
                        <label class="control-label" for="ScheduledDate"
                          >Scheduled Date<span class="text-danger"
                            >*</span
                          ></label
                        >
                        <div class="input-group">
                          <input
                            class="form-control m-input get-started-auto-sessiondate"
                            [ngModelOptions]="{ standalone: true }"
                            type="datetime"
                            id="ScheduledDate"
                            name="ScheduledDate"
                            #scheduledDateInput="ngModel"
                            [(ngModel)]="ScheduledDate"
                            bsDatepicker
                            [bsConfig]="{
                              dateInputFormat: 'MM/DD/YYYY',
                              isAnimated: true,
                              minDate: minDate,
                              adaptivePosition: true
                            }"
                            #dp="bsDatepicker"
                            (ngModelChange)="
                              getAvailableSessionStations($event)
                            "
                          />
                          <div class="input-group-append">
                            <button
                              class="btn btn-outline-secondary get-started-auto-toggle"
                              type="button"
                              (click)="dp.toggle()"
                              [attr.aria-expanded]="dp.isOpen"
                            >
                              <i class="far fa-calendar-alt"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label" for="ScheduledTime"
                          >Start Time<span class="text-danger">*</span></label
                        >
                        <div class="input-group">
                          <select
                            [ngModelOptions]="{ standalone: true }"
                            class="form-control scheduleTime"
                            id="inputGroupSelect02"
                            [(ngModel)]="sessionTime"
                            [disabled]="sessionTimes.length == 0"
                          >
                            <option
                              *ngFor="
                                let availableSessionTime of sessionTimes;
                                let i = index
                              "
                              [ngValue]="availableSessionTime.sessionTime"
                            >
                               {{ availableSessionTime.sessionTime }}
                            </option>

                          </select>

                          <div class="input-group-append">
                            <button disabled class="btn btn-outline-secondary disabled get-started-auto-schedulebutton1"
                                type="button"><i class="far fa-clock"></i>
                              
                            </button>
                          </div>

                        </div>
                        <div class="error-message"  *ngIf="sessionTimes.length ==0 &&  ScheduledDate">
                            No available session times for this date.
                        </div>
                      </div>
                    </div>

                    <div class="form-submit">
                      <input
                        type="button"
                        [disabled]="studio.invalid && (studio.dirty || studio.touched)"
                        class="submit next-button"
                        (click)="registerUser()"
                        value="Next"
                      />
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  data-toggle="modal"
  data-target="#exampleModalCenter"
  id="openModal"
  class="kt-hidden"
></div>
<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered"
    role="document"
    [formGroup]="pFormGroup3"
  >
    <div class="modal-content" >
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div
        *ngIf= "!showModalContent && !showModalContent2"
      class="alert alert-outline-success fade show alert-bold"
      role="alert"
      style="
        border: 1px solid #a5a5a5;
        width: 90%;
        margin: 0px auto;
        padding-top: 10px;
        background: #fbfbfb;
      "
    >
      <div class="alert-text get-started-auto-sessionsuccessform">
        <div
          class="swal2-icon swal2-success swal2-animate-success-icon"
          style="display: flex"
        >
          <div
            class="swal2-success-circular-line-left"
          ></div>
          <span class="swal2-success-line-tip"></span>
          <span class="swal2-success-line-long"></span>
          <div class="swal2-success-ring"></div>
          <div
            class="swal2-success-fix"
            style="background-color: rgb(255, 255, 255)"
          ></div>
          <div
            class="swal2-success-circular-line-right"
            style="background-color: rgb(255, 255, 255)"
          ></div>
        </div>
        <h5
          class="alert-heading text-center get-started-auto-success-session"
          style="color: #000000; font-weight: bold; text-align: left !important"
        >
        you are ready to begin your Manduu journey your appointment at {{studioName}} is confirmed for {{sessionDate|date}}, {{sessionTime}}.
        </h5>
        <br />
        <p
          class="text-center"
          style="text-align: left !important; color: black"
        >
         You may complete onboarding at the time of your first appointment or may click NEXT to complete your onboarding now
        </p>
        <hr style="border-top: 2px solid #ffc106" />

      </div>
    </div>
    <div *ngIf= "showModalContent2">
      <div
      class="alert alert-solid-danger alert-bold mb-3 mt-3"
      role="alert"
    >
      <div class="alert-text text-left">
        <h4 class="alert-heading">Sorry!</h4>
        <p>
          Thank you for showing interest in joining Manduu but based on the health condition(s) you selected, 
          you are not an ideal candidate for our EMS program. Click on the CLOSE button to EXIT. 
          <br/>
          If you mistakenly hit YES to any of the conditions in the previous section, click PREVIOUS  to return to scheduling.
        </p>
      </div>
    </div>
    </div>
        <div *ngIf= "showModalContent">
          <div>
            <div class="form-group mb-3">
              <label class="control-label">
                1. Do you have a pacemaker or other implanted electrical cardiac
                device or implanted insulin pump?
                <span class="text-danger">*</span>
              </label>

              <div class="kt-radio-inline text-left">
                <label for="q11" class="kt-radio">
                  <input
                    id="q11"
                    formControlName="q1"
                    [value]="true"
                    type="radio"
                  />
                  Yes
                  <span></span>
                </label>
                <label for="q12" class="kt-radio">
                  <input
                    id="q12"
                    formControlName="q1"
                    [value]="false"
                    type="radio"
                  />
                  No
                  <span></span>
                </label>
              </div>
            </div>
            <div class="form-group mb-3">
              <label class="control-label">
                2. Are you currently pregnant?
                <span class="text-danger">*</span>
              </label>

              <div class="kt-radio-inline text-left">
                <label for="q21" class="kt-radio">
                  <input
                    id="q21"
                    formControlName="q2"
                    [value]="true"
                    type="radio"
                  />
                  Yes
                  <span></span>
                </label>
                <label for="q22" class="kt-radio">
                  <input
                    id="q22"
                    formControlName="q2"
                    [value]="false"
                    type="radio"
                  />
                  No
                  <span></span>
                </label>
              </div>
            </div>
            <div class="form-group mb-3">
              <label class="control-label">
                3. Have you ever been diagnosed with epilepsy?
                <span class="text-danger">*</span>
              </label>

              <div class="kt-radio-inline text-left">
                <label for="q31" class="kt-radio">
                  <input
                    id="q31"
                    formControlName="q3"
                    [value]="true"
                    type="radio"
                  />
                  Yes
                  <span></span>
                </label>
                <label for="q32" class="kt-radio">
                  <input
                    id="q32"
                    formControlName="q3"
                    [value]="false"
                    type="radio"
                  />
                  No
                  <span></span>
                </label>
              </div>
            </div>
            <div class="form-group mb-3">
              <label class="control-label">
                4. Have you been diagnosed with an active metastatic tumor?
                <span class="text-danger">*</span>
              </label>

              <div class="kt-radio-inline text-left">
                <label for="q41" class="kt-radio">
                  <input
                    id="q41"
                    formControlName="q4"
                    [value]="true"
                    type="radio"
                  />
                  Yes
                  <span></span>
                </label>
                <label for="q42" class="kt-radio">
                  <input
                    id="q42"
                    formControlName="q4"
                    [value]="false"
                    type="radio"
                  />
                  No
                  <span></span>
                </label>
              </div>
            </div>
            <div *ngIf="q1.value || q2.value || q3.value || q4.value">
              <div
                class="alert alert-solid-danger alert-bold mb-3 mt-3"
                role="alert"
              >
                <div class="alert-text text-left">
                  <h4 class="alert-heading">Sorry!</h4>
                  <p>
                    Thank you for showing interest in joining Manduu but we are
                    afraid you are not an ideal candidate for our programs.
                  </p>
                </div>
              </div>
            </div>

            <div class="ng-tns-c1-0 ng-star-inserted">
              <div
                class="alert alert-solid-info alert-bold text-info mb-3 mt-3"
                role="alert"
              >
                <div class="alert-text text-left">
                  If you have any of the following conditions you will need
                  written approval from your treating physician:
                  <br class="ng-tns-c1-0" />
                  <ul class="ng-tns-c1-0">
                    <li class="ng-tns-c1-0">
                      Have been diagnosed with active cancer other than a
                      metastatic tumor
                    </li>
                    <li class="ng-tns-c1-0">Have a cardiac stent</li>
                    <li class="ng-tns-c1-0">Have experienced a seizure</li>
                    <li class="ng-tns-c1-0">
                      Have an implanted bladder stimulator
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!---->
            <!---->
          </div>

          <div class="form-submit">
            <div *ngIf="signupFailed">
              <div
                class="alert alert-solid-danger alert-bold mb-3 mt-3"
                role="alert"
              >
                <div class="alert-text text-left">
                  <h4 class="alert-heading">Failed!</h4>
                  <p>Failed to sign up.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button *ngIf="!showModalContent" type="button" class="btn btn-secondary" data-dismiss="modal" routerLink="/login">
          Close
        </button>
        <button type="button"
        *ngIf="showModalContent"
        (click)="showModalContent1()"
        class="btn btn-block btn-secondary" 
        >
        <strong>
          Yes, i have one of these issues
        </strong>
        </button>
        <p></p>
        <button type="button" 
        (click)="bookFirstAppointment()"
        *ngIf="!(q1.value || q2.value || q3.value || q4.value || !showModalContent)"
        class="btn btn-block next-button" 
        >
        <strong>
          No, I do not have any of these issues
        </strong>
        </button>
      <button type="button" 
      *ngIf="!showModalContent && !showModalContent2"
      (click)="autoLogin()"
      class="btn next-button" 
      >
      Next
      </button>
      <button type="button" 
      *ngIf="!showModalContent && showModalContent2"
      (click)="showModalContent1()"
      class="btn next-button" 
      >
      previous
      </button>
      </div>
    </div>
  </div>
</div>
