strong {
    color: red;
    font-weight: bold;
    font-family: initial;
}

.container-max-7 {
    max-width: 800px;
}

.container-max-7 .form-control {
    height: 35px;
    line-height: 35px;
    margin-bottom: 15px;
}

.container-max-7 .form-control.select2-container,
.container-max-7 .select2-choice {
    height: 35px !important;
}

.container-max-7 .form-control.select2-container {
    margin-top: 3px;
}

.container-max-7 [type=checkbox],
[type=radio] {
    position: relative;
    left: 0px;
    visibility: visible;
    width: 15px;
    height: 15px;
}

.kbw-signature {
    width: 300px;
    height: 100px;
}

.canvas-border {
    border: 1px solid #000000
}

#canvas {
    border: 1px solid black;
}

#canvas {
    border-style: dotted;
    border-width: 1px;
    background-image: url(../../../../assets/common/images/sign-here.png);
    background-repeat: no-repeat;
    background-position-y: 95%;
    background-size: contain;
    /* height: 25vh; */
}


.copy-btn,
.copy-sign-button {
    border: 1px solid #95D500 !important;
    background: #95D500 !important;
    font-size: 12px;
    padding: 3px 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
}