<div id="header">
    <div class="container">
        <div class="row headerRow">
            <div class="col-md-12 text-center headline">
                <a><img src="https://manduu.com/wp-content/uploads/2019/05/manduu-logo.svg" title="manduu" /></a>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!loading" id="containerContent">
    <div class="container" id="libility-container">
        <div class="register-form">
            <div class="row">
                <div class="col-md-12"></div>
                <form method="post" class="form-horizontal liability-form client-contract-auto-form">
                    <div id="print-section">
                        <div class="certification_ack">
                            <div class="row m-2">
                                <div class="col-sm-12">
                                    <h2 style="text-align:center;text-decoration: underline;">SESSION PURCHASE CONTRACT
                                    </h2>
                                    <h4 style="text-align:center;">
                                        <p>{{contractData.franchiseEntity}}</p>
                                        <p>Dba Manduu {{ contractData.studioName }}</p>
                                    </h4>
                                    <p>
                                        The undersigned {{ contractData.fullName}} (the “<b>CLIENT”</b>), hereby agrees
                                        to purchase the {{contractData.templateName}}, effective as of the date of
                                        CLIENT’s execution hereof
                                        (the “<b><em>Effective Date</em></b>”), and agrees to purchase from
                                        {{ contractData.franchiseEntity }} (the “<b><em>STUDIO</em></b>”), the
                                        session(s) (“<b><em>SESSIONS</em></b>”) indicated below for the purchase price
                                        indicated, subject at all times to the terms and conditions hereof and any and
                                        all rules and regulations which the Studio may propound from time to time
                                        regarding the Sessions.
                                    </p>
                                    <div class="row m-2">
                                        <div class="col-sm-12">
                                            <h4 style="text-decoration: underline;">1.CLIENT INFORMATION</h4>
                                            <div class="form-group">
                                                <div class="col-sm-6 "><span
                                                        class="botm_line">{{ contractData.fullName}}</span></div>
                                                <div class="col-sm-6"><span
                                                        class="botm_line">{{ contractData.clientAddress}}</span></div>
                                                <div class="col-sm-6"><span
                                                        class="botm_line">{{ contractData.clientCity}},&nbsp;{{ contractData.clientState}}&nbsp;&nbsp;{{ contractData.clientZip}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-10 offset-sm-1">
                                            <div class="row margin_t30">
                                                <div class="form-group">
                                                    <div class="col-sm-12 form-group">
                                                        <span style="font-weight: normal;font-size: 15px;">Signature:
                                                            &nbsp;</span>
                                                        <span style="font-size: 12px;">(Please use your cursor to create
                                                            a signature.)</span>
                                                        <div class="signature" id="signature" id="canvas">
                                                            <signature-pad #sigpad1 [options]="signaturePadOptions"
                                                                class="client-contract-auto-signature-pad"
                                                                (onEndEvent)="drawComplete()"></signature-pad>
                                                            <img class="signature-image" width="300" height="150"
                                                                [src]="signature" *ngIf="hidesig">
                                                        </div>
                                                        <button id="clear"
                                                            class="clear-signature btn btn-mandu-primary client-contract-auto-signing-clear"
                                                            type="button" (click)="clearSignature()"
                                                            *ngIf="!hidesig">Clear</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <h4 style="text-decoration: underline;">2. SESSION PACKAGE SELECTION</h4>
                                        <h5>2.1 {{contractData.templateName}}</h5>
                                        <p>
                                            <b>(a) </b>CLIENT agrees to purchase a {{contractData.templateName}} Monthly
                                            Session Plan at a cost of ${{contractData.fees | number : '1.2-2' :'en'}}
                                            per month. The package shall be billed monthly on the day of the execution
                                            of the contract or on the last day of the month if the date of execution is
                                            the 29th, 30th or 31st.
                                            The CLIENT’s credit card will be charged
                                            ${{contractData.fees | number : '1.2-2' :'en'}} per month. In the event that
                                            CLIENT utilizes more than {{contractData.numberOfSession}} sessions in one
                                            contract month, the CLIENT’s credit card will be charged as outlined below
                                            ${{contractData.costPerSession | number : '1.2-2' :'en'}}
                                            for each additional session.
                                        </p>
                                        <p>
                                            <b>(b) </b>CLIENT may at anytime after initial month of contract, change
                                            their {{contractData.templateName}} to any other contract offered by STUDIO.
                                            Notice of change must be made at least one business day prior to the
                                            {{date | date:'d'}}{{ordinal}} day of the month. </p>
                                    </div>
                                    <div>
                                        <h4 style="text-decoration: underline;">3. TERMS AND CONDITIONS</h4>
                                        <h5>3.1 Payment of Purchase Price</h5>
                                        <div>
                                            <b>(a)</b>The execution of this Contract constitutes an agreement to pay the
                                            full Purchase Price irrespective whether all Sessions are used. Except as
                                            provided in Section 3.2, this Contract may not be terminated by CLIENT, and
                                            all CLIENT payments are non-refundable. The initial length of the contract
                                            shall be {{contractData.monthsInitiallyGuaranteed}} months. Contract shall
                                            renew automatically on a monthly basis unless CLIENT delivers a termination
                                            notice 30 days in advance of the desired termination date. Notice must be
                                            delivered in writing via USPS or equivalent delivery service to
                                            {{contractData.studioName}} {{contractData.studioFullAddress}}.
                                            <div class="form-group margin_t30">
                                                <div class="col-sm-12 form-group">
                                                    <div *ngIf="!signatureDone">
                                                        <h4 style="color:red !important">To add your signature here you
                                                            need to add a signature above.</h4>
                                                    </div>
                                                    <label class="control-label"> SIGNATURE &nbsp;</label>
                                                    <button id="copy10"
                                                        class="copy-sign-button client-contract-auto-signature2"
                                                        type="button" (click)="signatures2()" *ngIf="!signature2"
                                                        [disabled]="!signatureDone">Click here to sign</button>
                                                    <div class="signature-copy"><img class="signature-image" width="150"
                                                            height="70" [src]="signature2" *ngIf="signature2"></div>
                                                    <span class="botm_line_fst"
                                                        style="font-weight: normal;font-size: 15px; float: left; margin-right: 20px;">Printed
                                                        Name:</span><span
                                                        class="botm_line">{{contractData.fullName}}</span>
                                                    <br>
                                                    <span style="font-weight: normal;font-size: 15px;">Date:</span><span
                                                        class="botm_line current-date">{{date | date:'MM/dd/yyyy' }}</span>
                                                </div>
                                            </div>
                                            The Monthly Session Plan cost will be
                                            ${{contractData.planCost | number : '1.2-2' :'en'}} paid monthly as outlined
                                            in Section 2. Payments shall be charged to CLIENTs credit card pursuant to
                                            the Credit Card Authorization Form attached hereto.
                                            <br>
                                            All late payments under any installment plan shall be subject to a late
                                            charge of five percent (5%). <br /> All amounts which remain unpaid thirty
                                            (30) days after the due date thereof, shall bear interest at the lesser rate
                                            of fivepercent (5%) per annum or the maximum legal rate. If CLIENT fails to
                                            makeany payment when due, the Studio may terminate this Contract by notice
                                            to CLIENT
                                            <br>
                                            The Studio may recover its reasonable attorneys’ fees and other legal and
                                            court costs associated with any effort (litigated or un-litigated) or action
                                            to collect amounts due under this Contract
                                            <br><br>
                                            <b>(b)</b> CLIENTS are able to utilize their contract sessions at all Manduu
                                            studios located in the United States. Local Manduu studio pricing prevails
                                            and any differential between CLIENT’s contract rate and the contract rate of
                                            the non-local studio will be charged to the CLIENT at the time of the
                                            fitness session.
                                        </div>
                                        <h5>3.2 Refund Policy</h5>
                                        <h6>Notwithstanding Section 3.1 of this Contract:</h6>
                                        <p>CLIENT is entitled to the penalty-free termination of this Contract upon the
                                            mailing or delivery of written notice
                                            (the “Termination Notice”) to the Studio, which Termination must be
                                            postmarked or hand-delivered no later than three (3) days
                                            after the Effective Date or the right to terminate provided herein is
                                            waived. </p>
                                        <p>Within thirty (30) days following receipt of a timely Termination Notice, the
                                            Studio shall refund all amounts paid by CLIENT,
                                            minus the cost of any Sessions which have already been used. Termination
                                            under this Section 3.2(a) shall not absolve CLIENT
                                            from liability for amounts due regarding Sessions used but unpaid.</p>
                                        <div class="form-group margin_t30">
                                            <div class="col-sm-12 form-group">
                                                <div *ngIf="!signatureDone">
                                                    <h4 style="color:red !important">To add your signature here you need
                                                        to add a signature above.</h4>
                                                </div>
                                                <label class="control-label"> SIGNATURE &nbsp;</label>
                                                <button id="copy11"
                                                    class="copy-sign-button client-contract-auto-signature2"
                                                    type="button" (click)="signatures2()" *ngIf="!signature2"
                                                    [disabled]="!signatureDone">Click here to sign</button>
                                                <div class="signature-copy"><img class="signature-image" width="150"
                                                        height="70" [src]="signature2" *ngIf="signature2"></div>
                                                <span class="botm_line_fst"
                                                    style="font-weight: normal;font-size: 15px; float: left; margin-right: 20px;">Printed
                                                    Name:</span><span class="botm_line">{{contractData.fullName}}</span>
                                                <br>
                                                <span style="font-weight: normal;font-size: 15px;">Date:</span><span
                                                    class="botm_line current-date">{{date | date:'MM/dd/yyyy' }}</span>
                                            </div>
                                        </div>
                                        <p>The Contract may be terminated if CLIENT dies or becomes physically unable to
                                            avail himself or herself of a substantial
                                            portion of those services which he or she used from the commencement of the
                                            Contract until the time of disability. Such
                                            termination shall be effectuated by written notice to the Studio and
                                            include:
                                            <br>(a) a written notice of termination and
                                            <br>(b) documentation reasonably satisfactory to the Studio documenting the
                                            death or disability.
                                            <br>Any payments made after termination notice is received, will be
                                            refunded.
                                        </p>
                                        <div class="form-group margin_t30">
                                            <div class="col-sm-12 form-group">
                                                <div *ngIf="!signatureDone">
                                                    <h4 style="color:red !important">To add your signature here you need
                                                        to add a signature above.</h4>
                                                </div>
                                                <label class="control-label"> SIGNATURE &nbsp;</label>
                                                <button id="copy12"
                                                    class="copy-sign-button client-contract-auto-signature2"
                                                    type="button" (click)="signatures2()" *ngIf="!signature2"
                                                    [disabled]="!signatureDone">Click here to sign</button>
                                                <div class="signature-copy"><img class="signature-image" width="150"
                                                        height="70" [src]="signature2" *ngIf="signature2"></div>
                                                <span class="botm_line_fst"
                                                    style="font-weight: normal;font-size: 15px; float: left; margin-right: 20px;">Printed
                                                    Name:</span><span class="botm_line">{{contractData.fullName}}</span>
                                                <br>
                                                <span style="font-weight: normal;font-size: 15px;">Date:</span><span
                                                    class="botm_line current-date">{{date | date:'MM/dd/yyyy' }}</span>
                                            </div>
                                        </div>
                                        <h5>3.3 Operation of the Studio</h5>
                                        <p>The hours of operation of the Studio will be set by the Studio in its sole
                                            discretion and may be changed at the Studio’s sole discretion. The Studio
                                            makes no guarantee that Sessions will be available when requested. The
                                            Studio reserves the right to add, eliminate, substitute or alter any
                                            Session, training program, class, trainer, employee, equipment, furniture or
                                            fixture when deemed necessary.
                                            CLIENT understands that the Studio may experience increased attendance at
                                            various times during the year and at peak periods of the day and that this
                                            may limit the Studio’s availability to CLIENT. CLIENT expressly agrees that
                                            the Studio shall not be liable for breach of this Contract if CLIENT
                                            encounters overcrowding during the term of this Contract, or if the Studio
                                            institutes a cap on Session size, or limits Sessions to a first-come,
                                            first-served or sign-up basis.
                                        </p>
                                        <h5>3.4 Rules and Regulations</h5>
                                        <p>CLIENT agrees to follow all rules and regulations (the “<b>Rules</b>”) now in
                                            force or in the future adopted by the Studio, including but not limited to
                                            hours of operation, use of equipment, services, Studio premises, personal
                                            hygiene, attire and treatment of staff and other CLIENTs. The Studio may
                                            alter, amend, supplement and revise the Rules from time to time at its sole
                                            discretion.
                                            The Studio may revoke CLIENT’s remaining unused Sessions, without refund, if
                                            CLIENT fails to follow any Rules, for reasons of nuisance, disturbance of
                                            others, moral turpitude or fraud, or if Studio determines that CLIENT’s
                                            actions may endanger CLIENT or others.
                                        </p>
                                        <h5>3.5 Independent Contractors</h5>
                                        <p>The services of independent contractors may be made available to CLIENT from
                                            time to time at an additional, optional charge. The Studio does not warrant
                                            or guarantee the quality of these services nor does the Studio guarantee
                                            that these services will remain available. CLIENT hereby releases and
                                            discharges the Studio from any and all claims or liabilities associated with
                                            the conduct of any independent contractor made available as described in
                                            this Section 3.5.</p>
                                        <h5>3.6 Venue, Jurisdiction, Indemnity</h5>
                                        <p><b>(a) </b>This Contract shall be governed by the laws of the State of
                                            {{contractData.studioState}}, without regard for conflict of law principles.
                                        </p>
                                        <p><b>(b) </b>All disputes arising from this Contract shall be decided in courts
                                            located in {{contractData.studioCounty}} County,
                                            {{contractData.studioState}}.</p>
                                        <p>CLIENT shall defend (including reasonable attorneys’ fees, payable on
                                            demand), indemnify and hold harmless the Studio and each of its employees,
                                            agents, officers, owners, insurers, and contractors from and against any
                                            claims, liabilities and damages that the Studio may sustain as a result of
                                            CLIENT’s participation in any Session and/or a breach by CLIENT of this
                                            Contract.</p>
                                        <h5>3.7 Miscellaneous</h5>
                                        <p>Except for the Certification, the Rules, and the Credit Card Authorization,
                                            this Contract sets forth the entire agreement and understanding of the
                                            parties related to the subject matter, and supersedes any prior
                                            understanding, agreement, representation or warranty, whether written or
                                            oral. If any provision of this Contract is deemed unenforceable by a court
                                            of competent jurisdiction, such provision shall be severed herefrom, and the
                                            remaining provisions of this Contract shall remain in full force and effect.
                                            This Contract may be modified or amended only in writing and must be signed
                                            by the parties to be bound. CLIENT understands and agrees that this Contract
                                            does not constitute, and the {{contractData.templateName}} Monthly Plan Cost
                                            is not compensation for, a membership at a sports or recreation club, that
                                            the Sessions do not involve recreational activities, and that he equipment
                                            to be used in association with this Contract is not sports or athletic
                                            equipment.</p>
                                    </div>


                                    <div *ngIf="contractData.studioState=='FL' || contractData.studioState=='Florida'">
                                        <h4 style="text-decoration: underline;">4. STATE-SPECIFIC TERMS (FLORIDA)</h4>
                                        <h5>4.1 Penalty-Free Cancelation Within 3 Days</h5>
                                        <p>
                                            Members are entitled to the penalty-free cancellation of this contract
                                            within 3 days, exclusive of holidays and weekends,
                                            of its making, upon the mailing or delivery of written notice to the health
                                            studio, and refund upon such notice of all
                                            monies paid under the contract, except that the health studio may retain an
                                            amount computed by dividing the number of
                                            complete days in the contract term, or if appropriate, the number of
                                            occasions health studio services are to be
                                            rendered into the total contract price and multiplying the result by the
                                            number of complete days that have passed
                                            since the making of the contract or, if appropriate, by the number of
                                            occasions that health studio services have been
                                            rendered. A refund shall be issued within 30 days after receipt of the
                                            notice of cancellation.
                                        </p>
                                        <br>
                                        <h5>4.2 Instructions for Requesting Penalty-Free Cancelation</h5>
                                        <p>
                                            Members are entitled to the cancellation and refund of the contract if the
                                            contracting business location of the health
                                            studio goes out of business, or moves its facilities more than five (5)
                                            driving miles and fails to provide, within 30 days,
                                            a facility of equal quality located within five (5) driving miles at no
                                            additional cost to the buyer.
                                        </p>
                                        <br>
                                        <h5>4.3 Cancelation Must Be In Writing</h5>
                                        <p>
                                            A member’s notice of his/her intent to cancel shall be given in writing to
                                            the health studio. And that such a notice of
                                            cancellation shall also terminate automatically the consumer's obligation to
                                            any entity to whom the health studio has
                                            subrogated or assigned the consumer's contract. If the health studio wishes
                                            to enforce such contract after receipt of
                                            the notice, it may request the department to determine the sufficiency of
                                            the notice. (Attention Health Studio Owner!
                                            Please Note: this applies to any notice cancellation)
                                        </p>
                                        <br>
                                        <h5>4.4 Calculating Refund Amount</h5>
                                        <p>
                                            That if the department determines that a refund is due the buyer, the refund
                                            shall be an amount computed by dividing
                                            the contract price by the number of weeks in the contract term and
                                            multiplying the result by the number of weeks
                                            remaining in the contract term. The business location of a health studio
                                            shall not be deemed out of business when
                                            temporarily closed for repair and renovation of the premises.
                                        </p>
                                    </div>



                                    <p><b>IN WITNESS WHEREOF</b>, the undersigned has executed this Session Purchase
                                        Contract on the date indicated.</p>
                                    <div class="form-group margin_t30">
                                        <div class="col-sm-12 form-group">
                                            <div *ngIf="!signatureDone">
                                                <h4 style="color:red !important">To add your signature here you need to
                                                    add a signature above.</h4>
                                            </div>
                                            <label class="control-label"> SIGNATURE &nbsp;</label>
                                            <button id="copy13" class="copy-sign-button client-contract-auto-sign1"
                                                type="button" (click)="signatures1()" *ngIf="!signature1"
                                                [disabled]="!signatureDone">Click here to sign</button>
                                            <div class="signature-copy"><img class="signature-image" width="150"
                                                    height="70" [src]="signature1" *ngIf="signature1"></div>
                                            <span class="botm_line_fst"
                                                style="font-weight: normal;font-size: 15px; float: left; margin-right: 20px;">Printed
                                                Name:</span><span class="botm_line">{{ contractData.fullName}}</span>
                                            <br>
                                            <span style="font-weight: normal;font-size: 15px;">Date:</span><span
                                                class="botm_line current-date">{{date | date:'MM/dd/yyyy' }}</span>
                                        </div>
                                    </div>
                                    <h6 style="text-align:center;text-decoration: underline;">CREDIT CARD AUTHORIZATION
                                    </h6>
                                    <p>
                                        I, the undersigned, have concurrently executed that certain Session Purchase
                                        Contract
                                        (the “ <b><em>Contract</em></b>”) for the purchase of Sessions (as defined in
                                        the Contract)
                                        from {{contractData.franchiseName}}, a
                                        {{contractData.franchiseEntityDescription}} (the
                                        “<b><em>Studio</em></b>”).<br><br>
                                        I authorize my bank to charge my credit card for payment(s) to the Studio for
                                        the
                                        amount of the lump sum or weekly installment plan, as set forth in more detail
                                        in the Contract,
                                        together with any late charges and interest which may be applicable. I agree
                                        that treatment of
                                        such payment(s) shall be the same as if it were signed personally by me.
                                    </p>
                                    <div class="form-group margin_t30">
                                        <div class="col-sm-12 form-group">
                                            <div *ngIf="!signatureDone">
                                                <h4 style="color:red !important">To add your signature here you need to
                                                    add a signature above.</h4>
                                            </div>
                                            <label class="control-label"> SIGNATURE &nbsp;</label>
                                            <button id="copy14" class="copy-sign-button client-contract-auto-signature2"
                                                type="button" (click)="signatures2()" *ngIf="!signature2"
                                                [disabled]="!signatureDone">Click here to sign</button>
                                            <div class="signature-copy"><img class="signature-image" width="150"
                                                    height="70" [src]="signature2" *ngIf="signature2"></div>
                                            <span class="botm_line_fst"
                                                style="font-weight: normal;font-size: 15px; float: left; margin-right: 20px;">Printed
                                                Name:</span><span class="botm_line">{{contractData.fullName}}</span>
                                            <br>
                                            <span style="font-weight: normal;font-size: 15px;">Date:</span><span
                                                class="botm_line current-date">{{date | date:'MM/dd/yyyy' }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 text-center form-group mt-5">
                            <div *ngIf="!signatureDone">
                                <h4 style="color:red !important">To submit or print your contract you need to add a
                                    signature above.</h4>
                            </div>
                            <button class="btn btn-info btn-lg client-contract-auto-printbutton"
                                [useExistingCss]="false" printTitle="Manduu Contract" printSectionId="print-section"
                                ngxPrint [disabled]="!signatureDone"><i class="fas fa-print"></i> Print</button>

                            <button type="button" id="submit-btn" (click)="completeContractSigning()"
                                class="btn btn-mandu-primary btn-lg client-contract-auto-complete"
                                [disabled]="!signatureDone || saving"><i class="fas fa-signature"></i> Sign</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>