<siteNavigation class="dashboard-compact"></siteNavigation>
<div class="container-fluid">
    <div class="col-md-12">
        <div class="kt-searchbar container">
            <div class="kt-input-icon kt-input-icon--right">
                <input type="text" (keypress)="numberOnly($event)" maxlength="10" id="ChatUserSearchUserName"
                    class="form-control input" placeholder="Enter cell number to find your friend"
                    [(ngModel)]="userNameFilter">
                <span class="kt-input-icon__icon kt-input-icon__icon--right" triggers="mouseenter:mouseleave"
                    placement="left">
                    <span>
                        <i id="InterTenantChatHintIcon" class="la la-info-circle" data-toggle="kt-popover"
                            data-placement="bottom" data-html="true"></i>
                    </span>
                </span>

            </div>
            <p></p>
            <button id="SearchChatUserButton" type="button" class="btn btn-block btn-success" data-toggle="modal"
                data-target="#exampleModalCenter" *ngIf="userNameFilter.length"
                (click)="findFriend()">{{'Add Friend'}}</button>
        </div>

        <div class="kt-widget kt-widget--users kt-mt-20 ">
            <div class="kt-scroll kt-scroll--pull">
                <div class="kt-widget__items">
                    <div class="media-list list-items container-sm">
                        <div class="kt-widget__item" *ngFor="let friend of friends">
                            <span class="kt-userpic kt-userpic--circle">
                                <friend-profile-picture [profilePictureId]="friend.friendProfilePictureId">
                                </friend-profile-picture>
                            </span>
                            <div class="kt-widget__info">
                                <div class="kt-widget__section">
                                    <a href="javascript:;" class="kt-widget__username">{{friend.friendUserName}}</a>
                                    <span *ngIf="friend.isOnline"
                                        class="kt-badge kt-badge--online kt-badge--dot"></span>
                                    <span *ngIf="!friend.isOnline"
                                        class="kt-badge kt-badge--offline kt-badge--dot"></span>
                                </div>
                                <span class="kt-widget__desc">
                                    <span *ngIf='friend.friendTenancyName'>{{friend.friendTenancyName}}</span>
                                    <span *ngIf='!friend.friendTenancyName'>Host</span>
                                </span>
                            </div>
                            <div class="dropdown">
                                <button type="submit" class="btn next-button" data-toggle="dropdown">Actions</button>
                                <ul class="dropdown-menu">
                                    <li><a (click)="unFriend(friend)"><i class="fa fa-user-times" aria-hidden="true"></i>UnFriend</a></li>
                                    <li><a (click)="block(friend)"><i class="fa fa-ban"></i>Block</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="last-child"></p>
            </div>

        </div>


        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Search Result</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                        <button type="button" #myModalClose class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row d-flex justify-content-center">
                            <div class="col-sm-12">
                                <div class="">
                                    <div class="mx-auto p-0">
                                        <div class="card-body" style="padding-top: 0px">

                                            <div class="kt-widget kt-widget--users kt-mt-20">
                                                <div class="kt-scroll kt-scroll--pull">
                                                    <div class="kt-widget__items">
                                                        <div class="list-items">
                                                            <div class="kt-widget__item"
                                                                *ngIf="friendList.length === 0">
                                                                Please No User with Such Phone Number
                                                            </div>

                                                            <div class="kt-widget__item"
                                                                *ngFor="let friend of friendList">
                                                                <div class="kt-widget__info">
                                                                    <div class="kt-widget__section">
                                                                        <a href="javascript:;"
                                                                            class="kt-widget__username">{{friend.name}}</a>
                                                                    </div>
                                                                    <span class="kt-widget__desc">
                                                                        <span
                                                                            *ngIf='friend.friendTenancyName'>{{friend.name}}</span>
                                                                    </span>
                                                                </div>
                                                                <div class="kt-widget__action">
                                                                    <button type="submit" class="btn btn-success btn-sm"
                                                                        (click)="addFriend(friend.value)"
                                                                        data-dismiss="modal">Add</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>