.next-button {
    background: #4fbf42;
    color: #fff;
}

.next-button:hover,
.prev-button:hover {
    background-color: #6ed738;
    color: #fff;
}


.last-child {
    margin-bottom: 200px;
    background-color: #4fbf42;
}

