


<div class="dashboard_header" style="background: #000000c7;">
    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent" style="-webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;">
            <div class="dashboard-nav" style="z-index: 1100;width: 100%;">
                <div class="m-width" style="
    width: 50%;
    float: none;
    margin: 0px auto;
    ">
                    <header>
                        <a href="#!" class="menu-toggle"><span>MANDUU</span></a>
                    </header>
                    <button class="navbar-toggler" id="closeBtn" type="button" data-toggle="collapse"
                        data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                        aria-expanded="false" aria-label="Toggle navigation" style="color: red;
    display: block;
    float: right;">
    <span class="fas fa-times" style="margin-bottom: 20px;
    color: red;
    z-index: 100000;
    float: right;
    font-size: 29px;
    text-align: right;
    display: block;"></span>
                    </button>

                    <nav class="dashboard-nav-list" >
                        <a (click)="this.actions.navigatePage(['dashboard'])" class="dashboard-nav-item"><i
                                class="fas fa-home"></i> Home</a>
                        <a class="dashboard-nav-item" (click)="this.actions.navigatePage(['personal-information'])"> <i
                                class="fas fa-user"> </i> Personal Information</a>
                        <a class="dashboard-nav-item" (click)="this.actions.navigatePage(['training-information'])"> <i
                                class="fas fa-running"> </i> Training Information</a>
                        <a (click)="this.actions.navigatePage(['payment-cards'])" class="dashboard-nav-item"><i
                                class="fas fa-credit-card"></i> Payment Cards</a>
                        <a (click)="this.actions.navigatePage(['service-subscriptions'])" class="dashboard-nav-item"><i
                                class="fas fa-gem"></i> Subscriptions</a>
                        <a (click)="this.actions.navigatePage(['service-invoices'])" class="dashboard-nav-item"><i
                                class="fas fa-file-invoice-dollar"></i> Service Invoices</a>
                        <a (click)="this.actions.navigatePage(['change-password'])" class="dashboard-nav-item"><i
                                class="fas fa-unlock-alt"></i> Change Password</a>
                        
                                <a (click)="this.actions.navigatePage(['friendship'])" class="dashboard-nav-item"><i
                                    class="fas fa-users"></i> Friends</a>
                            
                        <button type="button" class="btn btn-success dashboard-nav-item m-width" style="width:35%" data-toggle="modal"
                            (click) ="closenav()" data-target="#giftCardModal"> <strong>Redeem Gift card</strong> </button>
                        <a (click)="this.actions.Logout()" class="dashboard-nav-item"><i
                                class="fas fa-sign-out-alt"></i> Logout</a>
                    </nav>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <p style=" 
    text-align: left;
    float: left;
    margin-left: 0;
    padding-top: 5px;
    margin-bottom: 4px;

    max-width: 39%;
    ">
                Welcome, {{userData?.name}} 
            </p>
            <button class="btn btn-success" (click)="this.actions.refreshPage()" style="margin-right: 10px">
              <i class="fa fa-redo-alt" ></i>  Refresh 
            </button>
            <button class="btn btn-warning" (click)="this.actions.Logout()">
                Logout
            </button>
        </nav>
    </div>
    <div id="giftCardModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Redeem Gift Card</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>
                Enter your Gift Code below to apply to your account</p>
                <form [formGroup]="giftForm">
                    <div class="input-group">
                      <input type="text" class="form-control" formControlName="giftform" placeholder="xxxx-xxxxx-xxxx" required minlength="5" #giftCardCode>
                    </div>
                    <div *ngIf="giftForm.get('giftform').errors && (giftForm.get('giftform').touched || giftForm.get('giftform').dirty)" class="alert alert-danger">
                      <div *ngIf="giftForm.get('giftform').errors.required">Gift Code is required</div>
                      <div *ngIf="giftForm.get('giftform').errors.minlength">Gift Code must be at least 5 characters</div>
                    </div>
                  </form>
                  
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-6">
                            <button type="button" #modalClose  class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                        <div class="col-6">
                            <button type="button" (click)="giftRedeemed()" [disabled]="giftForm.pristine || giftForm.invalid" style="border-color: green; background: green;" class="btn btn-default">Redeem</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<toggle-staging></toggle-staging>