.toggle-staging-container {
    margin-top: 10px;
    position: absolute;
    right: 15px;
    z-index: 999;
}

.bottom-vertical-space {
    height: 2rem;
}

button.btn.btn-primary {
    border-radius: 2rem;
    padding: 10px 20px;
}

.custom-control.custom-switch label {
    font-family: "Roboto Condensed", sans-serif !important;
    font-size: 1.15rem;
    padding-top: 0.7rem;
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: #2fa910;
    background-color: #2fa910;
}

.custom-switch .custom-control-label::before {
    left: -5.25rem;
    width: 4.75rem;
    height: 1.75rem;
    pointer-events: all;
    border-radius: 1.5rem;
}

.custom-switch .custom-control-label::after {
    top: calc(0.25rem + 5px);
    left: calc(-2.25rem + 2px);
    width: calc(1rem - 2px);
    height: calc(1rem - 2px);
    border-radius: 1.5rem;
}

.custom-switch .custom-control-input:checked~.custom-control-label::after {
    left: calc(-2.25rem + -4px);
}

@media (max-width: 1024px) {
    .bottom-vertical-space {
        height: 3rem;
    }
}

@media (max-width: 820px) {
    .bottom-vertical-space {
        height: 3.5rem;
    }
}