<!-- <div class="toggle-staging-container custom-control custom-switch" *ngIf="enableStaging">
    <input type="checkbox" class="custom-control-input" id="customSwitch1" [checked]="false">
    <label class="custom-control-label" for="customSwitch1">Click to switch to staging app</label>
</div> -->
<div class="toggle-staging-container" *ngIf="enableStaging || forceShow">
    <button type="button" class="btn btn-primary" (click)="gotoClient()">Goto {{ isStaging ? "Live Client" : "Staging Client" }} </button>
</div>

<div class="bottom-vertical-space" *ngIf="enableStaging" ></div>