<div class="mt-5">
    <div class="kt-wizard-v3__content get-started-auto-wizardstep5" data-ktwizard-type="step-content">
        <div class="kt-form__section kt-form__section--first">
            <div class="kt-wizard-v3__form">
                <div *ngIf="contractSelectionResumeMessage" class="alert alert-solid-brand fade show" role="alert">
                    <div class="alert-icon"><img height="42" src="../../../assets/common/images/hand-wave.svg" /></div>
                    <div class="alert-text text-info get-started-auto-contractselectionresume">
                        {{contractSelectionResumeMessage}}</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="la la-close text-info"></i></span>
                        </button>
                    </div>
                </div>
                <div *ngIf="contractSignedResumeMessage"
                    class="alert alert-solid-brand fade show get-started-auto-contractselectionresume-div" role="alert">
                    <div class="alert-icon"><img height="42" src="../../../assets/common/images/hand-wave.svg" /></div>
                    <div class="alert-text text-info">{{contractSignedResumeMessage}}</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="la la-close text-info"></i></span>
                        </button>
                    </div>
                </div>

                <div *ngIf="!contractSignedSuccess && !contractSigningShow && !this.contractOffersShow"
                    class="text-center">
                    <button (click)="displayContract()"
                        class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u get-started-auto-selectoffers">
                        <span>
                            <span>
                                <i
                                    [ngClass]="{'fas': true, 'fa-signature': hasContractSelection, 'fa-file-contract': !hasContractSelection}"></i>
                                {{ !hasContractSelection ? 'Select Service Offers' : 'Sign Contract'}}
                            </span>
                        </span>
                    </button>
                    <div class="mt-3" *ngIf="hasContractSelection">
                        <a class="btn btn-link get-started-auto-signdifferentcontract"
                            (click)="contractSigningComplete(false)" href="javascript:;">Select a different contract
                            offer</a>
                    </div>
                </div>
                <div *ngIf="contractSignedSuccess" class="alert alert-outline-success fade show alert-bold"
                    role="alert">
                    <div class="alert-text">
                        <div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex;">
                            <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);">
                            </div>
                            <span class="swal2-success-line-tip"></span>
                            <span class="swal2-success-line-long"></span>
                            <div class="swal2-success-ring"></div>
                            <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
                            <div class="swal2-success-circular-line-right"
                                style="background-color: rgb(255, 255, 255);"></div>
                        </div>
                        <h4 class="alert-heading text-center"> Signed contract has been
                            submitted</h4><br />
                        <p class="text-center">
                            You have a successfully submitted your signed contract, you will
                            receive a copy via email.
                        </p>
                        <hr>
                        <p class="text-center">
                            Click Next to continue.
                        </p>
                    </div>
                </div>
                <!-- <clientContractSigning [(userId)]="userId"
                    (signingComplete)="contractSigningComplete($event)">
                </clientContractSigning> -->

                <!-- <noRenewalClientContractSigning [(userId)]="userId"
                    (signingComplete)="contractSigningComplete($event)">
                </noRenewalClientContractSigning> -->


                <clientContractSigning *ngIf="contractSigningShow" [(userId)]="userId"
                    (signingComplete)="contractSigningComplete($event)">
                </clientContractSigning>
                <noRenewalClientContractSigning *ngIf="noRenewalServiceContractShow" [(userId)]="userId"
                    (signingComplete)="contractSigningComplete($event)">
                </noRenewalClientContractSigning>

                <div *ngIf="contractOffersShow">
                    <div *ngFor="let offer of contractOffers; let i = index"
                        class="kt-portlet kt-portlet--bordered kt-portlet--head--noborder">
                        <div class="kt-portlet__head" style="background-color: #f8f8f8;">
                            <div class="kt-portlet__head-label">
                                <a (click)="toggleSelectContractOffer(offer);" href="javascript: void(0);"
                                    style="font-size: 32px;" class="kt-portlet__head-icon">
                                    <i
                                        [ngClass]="{'far fa-square' : !offer.selected, 'fas fa-check-square text-success' : offer.selected}"></i>
                                </a>
                                <h3 class="kt-portlet__head-title">
                                    {{offer.header}}
                                </h3>
                            </div>
                            <div class="kt-portlet__head-toolbar">
                                <div class="kt-portlet__head-actions" style="color: #959cb6;">
                                    <strong style="margin-right: 5px; margin-left: 5px;"
                                        class="get-started-auto-sessionspermonth">
                                        {{offer.totalSessions ? offer.totalSessions : offer.sessionsPerMonth }} sessions/month</strong> |
                                    <strong style="margin-right: 5px; margin-left: 5px;"
                                        class="get-started-auto-contractduration">{{offer.contractDuration }}
                                        months</strong> | <strong class="text-success get-started-auto-monthlyfee"
                                        style="margin-right: 5px; margin-left: 5px;">${{offer.monthlyFee }}
                                        /month</strong>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="offer.autoRenew" class="kt-portlet__body">
                            <perfect-scrollbar [usePSClass]="'kt-scroll ps'" style="max-height: 250px; color: #959cb6;">
                                <strong *ngIf="offer.headline">
                                    <span class="update-service-contract-auto-offheadline">{{ offer.headline }}</span>
                                </strong><br *ngIf="offer.headline" />
                                <span class="update-service-contract-auto-offdesc">{{ offer.description }}</span>
                            </perfect-scrollbar>
                        </div>
                        <div *ngIf="!offer.autoRenew && offer.totalSessions != null" class="kt-portlet__body">
                            <perfect-scrollbar [usePSClass]="'kt-scroll ps'" style="max-height: 250px; color: #959cb6;">
                                <strong *ngIf="offer.headline">
                                    <span class="update-service-contract-auto-offheadline">{{ offer.headline }}</span>
                                </strong><br *ngIf="offer.headline" />
                                <span class="update-service-contract-auto-offdesc">
                                    {{ offer.totalSessions + noAutoRenewDescription(offer) }}
                                </span>
                            </perfect-scrollbar>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #addCardModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">
            <span>ADD CARD</span>
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="kt-portlet" style="margin-bottom: 0">
            <div class="kt-portlet__body" [ngStyle]="{'background-color': '#f2f3f8'}">
                <authorize-card (acSuccess)="authCardDone($event)" [(fromSignContract)]="!hasCardOnFile"></authorize-card>
            </div>
        </div>
    </div>
</ng-template>