<siteNavigation class="dashboard-compact"></siteNavigation>
<div class="mt-5">
  <div class="container">
    <div class="tab-pane -div" role="tabpanel" aria-labelledby="-tab">
      <div class="kt-portlet mb-0">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
              <span>Payment Cards</span>
              <small>
                Manage your payment cards
              </small>
            </h3>
            <button class="btn btn-primary btn-lg open-subscription-dialog" data-toggle="modal"
              data-target="#exampleModalCenter" (click)="resetEditCardData()">
              Add New Card <i class="fas fa-plus" style="color: #228b0a99; font-size: 28px; margin-left: 10px"></i>
            </button>
          </div>
        </div>
        <form class="kt-form kt-form--label-right">
          <div class="kt-portlet__body">
            <div class="kt-section kt-section--first">
              <div class="kt-section__body">
                <div class="" style="
                border-color: #f7f7f7;
                margin: 40px 0px;
                border-radius: 5px;
                border-width: 2px;
              ">
                  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">
                            <span *ngIf="editCardData == ''">Add New</span><span *ngIf="editCardData !== ''">Edit</span>
                            Card
                          </h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"></span>
                          </button>
                          <button type="button" #myModalClose class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                          <div class="row d-flex justify-content-center">
                            <div class="col-sm-12">
                              <div class="">
                                <div class="mx-auto p-0">
                                  <div class="card-body" style="padding-top: 0px">
                                    <p class="text-muted" style="
                                    border-bottom: 1px solid #f1f1f1;
                                    padding-bottom: 10px;
                                    margin-bottom: 30px;
                                  ">
                                      Your payment details
                                    </p>
                                    <form [formGroup]="checkForm" (ngSubmit)="onSubmit()">
                                      <div class="input-group">
                                        <span class="input-group-addon">
                                          <i class="fas fa-credit-card icon-padd"></i>
                                        </span>
                                        <input class="col-10 p-0" type="Number" formControlName="cardNumber"
                                          name="cardNumber" class="form-control" placeholder="Enter your card number" />
                                      </div>
                                      <p></p>
                                      <div class="row">
                                        <div class="col-md-12" style="margin-top: 2%">
                                          <div class="input-group">
                                            <span class="input-group-addon">
                                              <i class="fas fa-calendar-alt icon-padd"></i>
                                            </span>
                                            <!-- <input class="col-10 p-0" type="month" formControlName="cardExpiry" name="cardExpiry" class="form-control"
                                          placeholder="MM/YY" /> -->
                                            <input class="form-control" type="datetime" formControlName="cardExpiry"
                                              id="cardExpiry" name="cardExpiry" bsDatepicker
                                              [bsConfig]="{ dateInputFormat: 'MM/YYYY', minMode: 'month', startView: 'year' }"
                                              #dp="bsDatepicker" triggers="" [outsideClick]="true"
                                              (click)="dp.toggle()">

                                            <div class="input-group-append">
                                              <button class="btn btn-outline-secondary get-started-auto-toggle"
                                                type="button" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen"><i
                                                  class="far fa-calendar-alt"></i></button>
                                            </div>
                                          </div>
                                        </div>

                                        <p></p>
                                        <div class="col-md-6" style="margin-top: 2%">

                                          <div class="input-group">
                                            <span class="input-group-addon">
                                              <i class="fas fa-lock icon-padd"></i>
                                            </span>
                                            <input type="number" class="form-control" name="cardCvc" name="cvv"
                                              pattern="\d*" placeholder="CVV" formControlName="cardCvc" maxlength="4"
                                              minlength="3" />
                                          </div>
                                        </div>
                                      </div>
                                      <p style="margin-bottom: 30px"></p>

                                      <button type="submit" class="btn btn-primary" id="closeModal"
                                        [disabled]="checkForm.pristine || checkForm.invalid" style="
                                      border-color: green;
                                      float: right;
                                      background: green;
                                      font-size: 13px;
                                      font-weight: bold;
                                    ">
                                        Save
                                      </button>
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                        style="font-weight: bold; opacity: 0.95">
                                        Close
                                      </button>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div *ngFor="let item of paymentLoad" class="col-md-4 mt-2">
                      <div style="
                        /* width: 200px; */
                        background: #dfdfdf;
                        display: inherit;
                        border-radius: 5px;
                        /* margin-top: 20px; */
                        background: #ffffff;
                        padding: 70px 60px;
                        display: inherit;
                        border-radius: 10px;
                        box-shadow: 0px 6px 8px 1px #b3b2b2a6;
                      " [ngClass]="{default: item.isDefault, notDefault: !item.isDefault}">
                        XXXX-XXXX-XXXX-{{ item.last4 }}

                        <button *ngIf="!item.isDefault" class="btn btn-primary" (click)="makeDefualtCard(item.id)"
                          style="
                        background: transparent;
                        border: none;
                        color: #ffffff;
                        font-weight: bold;
                        float: none; 
                        margin: 0px auto; 
                        border: 1px solid #464646;
                        color: #3e3939;
                        display: block;
                        margin-top: 20px;
                      ">
                          make default
                        </button>


                        <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"
                          (click)="editCard(item)" style="
                    position: absolute;
                    display: inline-block;
                    right: 30px;
                    top: 20px;
                    background: green;
                    border: none;
                    color: #ffffff;
                    font-weight: bold;
                    " [ngClass]="{notDefaultEdit: !item.isDefault}">
                          edit
                        </button>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>