/* You can add global styles to this file, and also import other style files */
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');
@import url('https://app.manduu.work/assets/metronic/themes/default/css/style.bundle.css');
@import url('https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css');

.spinner {
  height: 100%;
  background: #0000004a;
  position: absolute;
  width: 100%;
  z-index: 10000;
  text-align: center;
  padding-top: 20%;
  position: fixed;
}

.navbar p {
  float: left;
  color: white;
  margin: 0px auto;
  font-weight: bold;
}

.navbar.bg-dark {
  background: #4fbf42 !important
}

.modal .modal-content .modal-header .close:before {
  content: "";
}

.modal .modal-content .modal-header .close span {
  display: block;
  font-size: 2rem;
}

.mt-5 {
  margin-top: 5%;
}

.dataTables_wrapper {
  padding: 0 20px !important;
}

.form-control {
  min-height: 3rem;
}

.btn-mandu-primary {
  background: #95D500 !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #bdc10b), color-stop(1, #95D500));
  background: -ms-linear-gradient(bottom, #bdc10b, #95D500);
  background: -moz-linear-gradient(center bottom, #bdc10b 0%, #95D500 100%);
  background: -o-linear-gradient(#95D500, #bdc10b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#95D500', endColorstr='#bdc10b', GradientType=0);
  color: #000000;
  margin: 0 10px;
}

.modal-dialog {
  // width: 360px !important;
  margin-top: 120px;
  margin: 30px auto;

  .modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }

  .confirm {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    min-height: 150px;

    .content {
      padding: 20px;
      border-radius: 10px;
      background-color: #fff !important;
      font-weight: 700;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
    }

    .buttons {
      padding: 10px 15px;

      button {
        margin-right: 10px;
      }

      .btn-danger {
        float: right
      }
    }
  }
}

.modal-dialog .content {
  font-weight: 400 !important;
}

.confirm.modal-body {
  font-family: "Roboto Condensed", sans-serif !important;
}

.modal-dialog button.btn {
  padding: 10px 40px;
  margin: 0 !important;
}

button.swal2-confirm.swal2-styled {
  display: inline-block;
  font-weight: normal;
  color: #fff;
  background-color: #4fbf42;
  border-color: #4fbf42;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 10px 48px;
}

.swal2-styled.swal2-confirm:focus {
    box-shadow: none !important;
}

.swal2-popup .swal2-title {
  margin: 0;
}

.swal2-actions button {
  min-width: 10rem;
  min-height: 3rem;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';