<div class="ath-banner row">
    <div class="ath-banner-cell ath-banner-cell-md col-md-4"><img
            src="/assets/common/images/app-logo-on-dark.svg" alt="PWA" class="ath-prompt-logo" style="max-width: 100%;"></div>
    <div class="ath-banner-title col-md-5">
        <p style="font-weight: bold;">Add our app to your dashboard for easy access</p>
    </div>
    <div class="ath-banner-cell col-md-2">
        <div id="supportInstall"><button id="" type="button"
                class="btn btn-install-ath btn-success"> Install </button></div>
        <div id="installContainer" class="hidden"><button id="butInstall"
                type="button" class="btn btn-install-ath btn-success"> Install </button></div>
    </div>
</div>