<ng-template #iModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">
            <span>Add to Homescreen</span>
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="kt-portlet" style="margin-bottom: 0">
            <div class="kt-portlet__body" [ngStyle]="{'background-color': '#f2f3f8'}">
                <how-to-install-ios *ngIf="installService.isIOS"></how-to-install-ios>
                <how-to-install-chrome *ngIf="installService.isChrome"></how-to-install-chrome>
                <how-to-install-edge *ngIf="installService.isEdgeDesktop"></how-to-install-edge>
                <how-to-install-firefox *ngIf="installService.isFirefox"></how-to-install-firefox>
                <how-to-install-explorer *ngIf="installService.isExplorer"></how-to-install-explorer>
                <how-to-install-safari *ngIf="installService.isSafari"></how-to-install-safari>
                <how-to-install-opera *ngIf="installService.isOpera"></how-to-install-opera>
            </div>
        </div>
    </div>
</ng-template>