<div id="carousel-ios" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-ios" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-ios" data-slide-to="1"></li>
        <li data-target="#carousel-ios" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="img-responsive img-center" src="/assets/common/images/h2install/ios/step1.png" alt="">
            <div class="carousel-caption d-none d-md-block">
                <h5>Step 1</h5>
                <p>Text here</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="img-responsive img-center" src="/assets/common/images/h2install/ios/step2.png" alt="">
            <div class="carousel-caption d-none d-md-block">
                <h5>Step 2</h5>
                <p>Text here</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="img-responsive img-center" src="/assets/common/images/h2install/ios/step3.png" alt="">
            <div class="carousel-caption d-none d-md-block">
                <h5>Step 3</h5>
                <p>Text here</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carousel-ios" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-ios" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>