.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.carousel-caption h5 {
    font-size: 3rem;
}

.carousel-caption h5, .carousel-caption p {
    color: #535050;
}