.dashboard_cards {
    padding-top: 50px;
}

.dashboard_cards .col-md-6 {
    display: flex;
}

.upcoming {
    margin-bottom: 0px;
    box-shadow: 0px 0px 8px 0px #80808059;
}

.upcoming li {
    padding: 20px 30px;
}

.upcoming p {
    display: flex;
    align-items: center;
    justify-content: inherit;
    width: 100%;
    margin-bottom: 0px;
    font-weight: bold;
}

.upcoming .upcoming_title {
    font-weight: bold;
}

.upcoming .badge {
    float: right;
    background: #5cc043;
}

.dashboard_cards .card {
    width: 100%;
}

.dashboard_cards .card-header {
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    color: #6a6c6e;
}

.dashboard_cards .card-header .badge {
    float: right;
    font-size: 30px;
    font-weight: normal;
}

.dashboard_cards .card-title {
    text-align: center;
    font-size: 14px;
    color: #9f9f9f;
    font-weight: bolder;
}

.dashboard_cards .card-body .badge {
    background-color: #5cc04324 !important;
    color: #5cc043;
    border: 1px solid #5cc04336;
    padding: 10px 11px;
}

.dashboard_cards .card-body li {
    font-weight: 500;
}

.card-title.status {
    font-size: 18px !important;
    color: #5cc043 !important;
    align-items: center;
    display: flex;
    justify-content: center;
}

.card-title.status span {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
    margin-right: 10px;
}

.progress.card-body {
    display: flex;
    align-items: center;
    justify-content: center;
}


.fc-toolbar-title {
    margin-bottom: 10px !important;
    font-size: 1.5em !important;
}

h2.fc-toolbar-title {
    font-size: 1.5em !important;
}

.fc .fc-toolbar-title {
    font-size: 1.5em !important;
}

.fc-toolbar-chunk {
    width: 100% !important;
    display: block !important;
}

.fc-header-toolbar.fc-toolbar {
    display: block !important;
}

@media (max-width: 890px) {
    .no-mobile {
        display: none;
    }

    .upcoming {
        margin-top: 15px;
    }

    .upcoming li {
        padding: 10px 15px;
    }

    .upcoming_title {
        color: #747474;
    }

    .dashboard_cards {
        padding-top: 0px;
    }

    .mobile-calendar {
        margin-top: 0px;
        margin-bottom: 0px !important;
    }

}

.carousel-control-next-icon {
    color: black !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%0' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%0' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e") !important
}

.carousel-control-prev,
.carousel-control-next {
    color: black !important;
    background-image: black !important;
}

.carousel-indicators li {
    background-color: #4a4a4a;
}

.load-chart-btn {
    position: absolute;
    left: 33%;
    width: 33%;
    top: 33%;
    height: 50px;
    font-size: 1.3rem;
    border-radius: 2rem;
    font-weight: 600;
}