<div class="mt-5">
  <div class="container" *ngIf="showfailure">
    <div class="card justify-content-center" style="
    margin: 0px;
    background: white;">
      <div class="card-header justify-content-center" style="    margin-right: 5%;
    margin-left: 5%;
    margin: 0;
    background: #dfffe6;
    font-size: 18px;
    padding: 20px 20px;
    text-align: center;">
        Next, to be sure you attend your first booked session
      </div>
      <p></p>
      <div class="card-body justify-content-center" style="    margin-right: 5%;
    margin-left: 5%;
    padding: 0px;">
        <blockquote class="blockquote mb-0">
          <p style="
    font-size: 18px;
    line-height: 2;
    text-align: center;">Your first appointment is in <span style="
    font-size: 24px;
    display: block;
    font-weight: bold;">{{days}} day(s).</span></p>
          <p style="
    font-size: 18px;
    text-align: center;">You session is scheduled to start on <b style="
    display: block;
    background: #ededed;
    padding: 20px 15px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 18px;
    line-height: 2;">{{scheduleDate}}</b></p>
          <p style="
    font-size: 18px;
    text-align: center;
    font-weight: bold;">at</p>
          <p style="    font-size: 18px;
    font-weight: bold;
    text-align: center;">{{studioName}} Studio</p>

          <p style="
    text-align: center;
    font-size: 18px;">{{StudioAddress}}</p>
          <footer class="blockquote-footer" style="
    padding-bottom: 30px;
    font-size: 16px;
    text-align: center;
    padding-top: 10px;">if you need to change your appointment, click '<b>Reschedule
              Appointment</b>'
            below.
            <schedule-session [(studios)]="studios" [(userId)]="clientInfo.clientInfoId" [(clientInfo)]="clientInfo"
              [(defaultStudioId)]="studioID" (sfsSuccess)="rescheduleFirstSessionDone($event)"
              [(isReschedule)]="isReschedule" [(scheduleDate)]="scheduleDate" [(selectedStudioId)]="studioID"
              [(sessionId)]="sessionId">
            </schedule-session>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showSuccess" class="alert alert-outline-success fade show alert-bold mt-5" role="alert" style=" 
    border: 1px solid #a5a5a5;
    width: 95%;
    margin: 0px auto;
    padding-top: 30px;
    background: #fbfbfb;">
  <div class="alert-text  get-started-auto-sessionsuccessform">
    <div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex;">
      <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
      <span class="swal2-success-line-tip"></span>
      <span class="swal2-success-line-long"></span>
      <div class="swal2-success-ring"></div>
      <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
      <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
    </div>
    <h4 class="alert-heading text-center get-started-auto-success-session">
      <i class="fas fa-check"></i></h4>
    <br />
    <h3 class="text-center">
      Congrats you survived your first appointment
    </h3>
    <p class="text-center">
      we will send you feedback via email
      <hr>
      <p class="text-center">
        Click Next to continue.
      </p>
  </div>
</div>